
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

/*
Custom checkbox
=================================================*/

/* The container */
.small-checkbox {
	display: block;
	position: relative;
	padding-left: 22px;
	margin-bottom: 4px;
	cursor: pointer;
	font-size: 13px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight: 400;
}

/* Hide the browser's default checkbox */
.small-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.small-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
	background-color: transparent;
	border: solid 1px #888;
}

/* On mouse-over, add a grey background color */
.small-checkbox:hover input ~ .checkmark {
  background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.small-checkbox input:checked ~ .checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.small-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.small-checkbox .checkmark:after {
	left: 5px;
	top: 0px;
	width: 5px;
	height: 10px;
	border: solid #222;
	border-width: 0 1px 1px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}


/*
Cutstom radio
=================================================*/
.custom-radio{
  display: block;
  position: relative;
  padding-left: 22px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400;
}
.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.custom-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: transparent;
	border: solid 1px #888;
  border-radius: 50%;
}
.custom-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.custom-radio input:checked ~ .checkmark:after {
  display: block;
}
.custom-radio .checkmark:after {
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #444;
}

.mr-20{
	margin-right: 20px !important;
}
/*
KPI Filter
=================================================*/
.ThmBG{
  background-color: #fff;
  width: 100%;
  padding: 1em;
  border-radius: 4px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
}
.kpiFilter-section{
	/* background: #D7EAFF; */
  /* padding: 10px 0; */
  margin-top: 10px;
  /* margin-bottom: 20px; width: 100% !important; */
}
.kpiFilter-title {
    font-size: 19px;
    font-weight: 600;
    margin: 0;
    /* margin-top: 7px; */
}
.kpiFilter-header {
  background: #D7EAFF;
  padding: 7px 0;
  border-bottom: solid 1px #B1D4FB;
}
.blue-accordion .panel {
    box-shadow: none !important;
    border-radius: 0 !important;
	border: none;
}
.blue-accordion .panel-heading{
	height: 26px;
    padding: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbfdfd+0,7db9e8+100 */
	background: #fbfdfd; /* Old browsers */
	background: -moz-linear-gradient(top, #fbfdfd 0%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fbfdfd 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fbfdfd 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdfd', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
.blue-accordion .panel-title a{
    font-size: 13px;
    font-weight: 600;
    line-height: 27px;
    padding: 0 10px 0 24px;
	display: block;
  position: relative;
  color:#333;
  font-weight:500; 
}
.blue-accordion .panel-title a:before{
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 3px;
	left: 1px;
	background-image: url("../../images/arrow-right.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	-webkit-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.blue-accordion .panel .panel-title a.collapsed:before{
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.blue-accordion .panel .panel-title a:before{
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.blue-accordion .panel-title a:focus{
	text-decoration: none;
}
.blue-accordion .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top: solid 1px #888;
    border-bottom: solid 1px #999;
    background: #fff;
}
.blue-accordion .panel-body {
    max-height: 200px;
    overflow-y: auto;
    padding: 4px;
    font-size: 13px;
}
.kpi-leftForm .form-label{
	font-size: 13px;
	font-weight: 400;
	color: #000;
}
.kpi-leftForm .form-control{
	border: 1px #ccc solid;
	background: #fff;
	border-radius: 0;
	height: 32px; 
}
.kpi-leftForm textarea.form-control{
	height: auto;
}
.kpi-leftForm .tag-to{
	margin: 0 10px;
}
/*
Blue Select
=================================================*/
.kpi-codes-wrap{
	/*border: solid 1px #888;*/
}
select.blue-select{
	font-size: 13px;
	font-weight: 600;
	color: #333;
	margin-bottom: 4px;
	height: 26px;
    padding: 0 10px;
    border: none;
    box-shadow: none;
    border-radius: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbfdfd+0,7db9e8+100 */
	background: #fbfdfd; /* Old browsers */
	background: -moz-linear-gradient(top, #fbfdfd 0%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fbfdfd 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fbfdfd 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdfd', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
.kpi-bottom-part {
  margin-top: 20px;
}
.kpi-middle-part{
	margin-top: 60px;
}
