{% extends 'base.html' %}
{% block title %}Log In{% endblock %}
{% block header %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
<div id="main-wrapper">
    <div class="login-page">
       <div class="login-wrap">
          <div class="login-form-wrap">
             <a class="login-logo" href="#">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
             </a>
             <form method="post" class="login-form">
                <div class="form-group">
                   <!-- <label for="exampleInputEmail1">Email address</label> -->
                   <span class="lf-icon"><i class="fa fa-user"></i></span>
                   <input type='text' name="user_number" class="form-control" id="user_number" placeholder="Enter User ID">
                </div>
                <div class="form-group">
                   <!-- <label for="exampleInputPassword1">Password</label> -->
                   <span class="lf-icon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                   <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <div class="form-btn">
                   <button type="submit" class="btn btn-primary w-100">Submit</button>
                </div>
             </form>
          </div>
       </div>
    </div><!-- /.login-page -->
 </div><!-- /#main-wrapper -->

{% endblock %}