{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/angular-ui-grid/ui-grid.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/nvd3/nv.d3.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/cubesviewer.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap-submenu/css/bootstrap-submenu.css') }}" /> <!-- after cubesviewer.css! -->

    <link rel="stylesheet" href="{{ url_for('static', filename='cvapp.css') }}" />

    <script src="{{ url_for('static', filename='lib/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap-submenu/js/bootstrap-submenu.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/angular/angular.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/angular-cookies/angular-cookies.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/angular-bootstrap/ui-bootstrap-tpls.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/angular-ui-grid/ui-grid.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/d3/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/nvd3/nv.d3.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/flotr2/flotr2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/masonry/masonry.pkgd.min.js') }}"></script>  <!-- needed for CubesViewer Studio only, not embedded views -->
    <script src="{{ url_for('static', filename='dist/cubesviewer.js') }}"></script>

{% endblock %}
{% block content %}
    <h1>Coyote - Analysis Dashboard</h1>
    <p class="important">
    </p>
        <script type="text/javascript">

            // Initialize CubesViewer when document is ready
            $(document).ready(function() {
        
                var cubesUrl = prompt ("Enter your Cubes Server URL\n(or try http://cubesdemo.cubesviewer.com)", "http://localhost:5000");
                //var cubesUrl = "http://localhost:5000";
        
                cubesviewerStudio.init({
                    cubesUrl: cubesUrl,
                    container: $('#cubesviewer').get(0),
                    debug: true
                });
        
            });
        
        </script>
        
        <div>
        
            <div class="header">
                <div style="float: left;">
                    <h1>Select Measures</h1>    
                </div>
            </div>
        
            <div style="clear: both;"></div>
        
        
            <!-- Cubes Viewer container -->
            <div id="cubesviewer">
            </div>

        </div>            
    <p class="important">
    </p>
    
{% endblock %}