{% extends 'base.html' %}
{% block title %}20_20{% endblock %}
{% block header %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
<h1>20-20 Report</h1>
    <div>
        graph
    </div>
{% endblock %}