<!-- Chart code -->
<!--<script src="{{ url_for('static', filename='lib/pdfmake/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/pdfmake/vfs_fonts.js') }}"></script>-->
<script>
  
  // get url query string params
  let urlParams = new URLSearchParams(window.location.search);
  let q_level = urlParams.get('level');
  let q_label = urlParams.get('label');
  // set scatter graph data
  var graph_data = {{ graph_data|tojson }};

  // set chart breadcrumb
  var chart_breadcrumb = graph_data.chartlabel
  var chart_help_txt = 'Comparison of top 20 Departments against the prior period selected shown under this chart.Click on the Bubble Icon to Drill Down to a Commodity level.'
  if(q_level == 2) {
    chart_breadcrumb = '20-20 Report > '+chart_breadcrumb;
    chart_help_txt = 'Comparison of top 20 Commodities against the prior period selected shown under this chart.Click on the Bubble Icon to Drill Down to a Product level.'
  } else if(q_level == 3) {
    chart_breadcrumb = '20-20 Report > '+graph_data.department_name+' > '+chart_breadcrumb;
    document.getElementById("ranging-div").style.display = "block";
    chart_help_txt = 'Comparison of top 20/NR1 items that have been sold in the selected date range.'
  }
  // Set help text 
  document.getElementById("chart_help_txt").innerHTML = chart_help_txt;
  // Set filter params
  var is_grid_show = graph_data.filter_gridline
  var theme = graph_data.filter_theme

  /**************************************
  * Initialize scatter graph
  ***************************************/
  am4core.ready(function() {

    // Themes begin
    configure_theme(am4core,theme);
    // Themes end
    chartData = {{graph_data.scatter_data|tojson}};
    var chart = am4core.create("chartdiv", am4charts.XYChart);

    var valueAxisX = chart.xAxes.push(new am4charts.ValueAxis());
    valueAxisX.renderer.ticks.template.disabled = true;
    valueAxisX.renderer.axisFills.template.disabled = true;

    var valueAxisY = chart.yAxes.push(new am4charts.ValueAxis());
    valueAxisY.renderer.ticks.template.disabled = true;
    valueAxisY.renderer.axisFills.template.disabled = true;

    //var series = chart.series.push(new am4charts.LineSeries());
    var series = chart.series.push(new am4charts.ColumnSeries());
    series.dataFields.valueX = "x";
    series.dataFields.valueY = "y";
    series.dataFields.value = "value";
    series.strokeOpacity = 0;
    series.sequencedInterpolation = true;
    series.tooltip.pointerOrientation = "vertical";

    var bullet = series.bullets.push(new am4core.Circle());
    bullet.fill = am4core.color("#ff0000");
    bullet.propertyFields.fill = "color";
    bullet.strokeOpacity = 0;
    bullet.strokeWidth = 2;
    bullet.fillOpacity = 0.5;
    bullet.stroke = am4core.color("#ffffff");
    bullet.hiddenState.properties.opacity = 0;
    bullet.tooltipText = "{label}";
    bullet.customData = "{label}";

    var outline = chart.plotContainer.createChild(am4core.Circle);
    outline.fillOpacity = 0;
    outline.strokeOpacity = 0.8;
    outline.stroke = am4core.color("#ff0000");
    outline.strokeWidth = 2;
    outline.hide(0);

    var blurFilter = new am4core.BlurFilter();
    outline.filters.push(blurFilter);

    bullet.events.on("hit", function(event) {
      myFunction(event);
    })

    bullet.events.on("over", function(event) {
      var target = event.target;
      chart.cursor.triggerMove({ x: target.pixelX, y: target.pixelY }, "hard");
      chart.cursor.lineX.y = target.pixelY;
      chart.cursor.lineY.x = target.pixelX - chart.plotContainer.pixelWidth;
      valueAxisX.tooltip.disabled = false;
      valueAxisY.tooltip.disabled = false;

      outline.radius = target.pixelRadius + 2;
      outline.x = target.pixelX;
      outline.y = target.pixelY;
      outline.show();
    })

    bullet.events.on("out", function(event) {
      chart.cursor.triggerMove(event.pointer.point, "none");
      chart.cursor.lineX.y = 0;
      chart.cursor.lineY.x = 0;
      valueAxisX.tooltip.disabled = true;
      valueAxisY.tooltip.disabled = true;
      outline.hide();
    })

    var hoverState = bullet.states.create("hover");
    hoverState.properties.fillOpacity = 1;
    hoverState.properties.strokeOpacity = 1;

    series.heatRules.push({ target: bullet, min: 2, max: 60, property: "radius" });

    bullet.adapter.add("tooltipY", function (tooltipY, target) {
      return -target.radius;
    })
    
    chart.cursor = new am4charts.XYCursor();
    chart.cursor.behavior = "zoomXY";

    chart.scrollbarX = new am4core.Scrollbar();
    chart.scrollbarY = new am4core.Scrollbar();
  
    // Export option
    chart.exporting.menu = new am4core.ExportMenu();
    chart.exporting.menu.align = "right";
    chart.exporting.menu.verticalAlign = "top";
    chart.data = chartData;
    // remove grid lines
    if(is_grid_show == '0') {
      valueAxisX.renderer.grid.template.disabled = true;
      valueAxisY.renderer.grid.template.disabled = true;
    }
  }); // end am4core.ready()

  function myFunction(event) {
    // Create Base64 Object
    var Base64={_keyStr:"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",encode:function(e){var t="";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t="";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/[^A-Za-z0-9+/=]/g,"");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/rn/g,"n");var t="";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t="";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}}
    // get request parameters
    var id = event.target._dataItem.dataContext["id"];
    //var department_id = event.item.dataContext.department_id;
    var level = event.target._dataItem.dataContext["level"];
    level = parseInt(level)+1;
    var label = Base64.encode(event.target._dataItem.dataContext["label"]);
    department_id = ''
    department_name = ''
    if (level == 3) {
      let q_id = urlParams.get('id');
      department_id = q_id
      department_name = q_label
    }
    // open new tab
    if(level <= 3) {
      var base_url = window.location.origin;
      window.open(base_url+'/report_2020?id='+id+'&level='+level+'&label='+label+'&department_id='+department_id+'&department_name='+department_name,'_blank');
    }
  }


  // Initialize scatter graph
  /*var chart = AmCharts.makeChart( "chartdiv", {
    "type": "xy",
    "theme": "light",
    "allLabels": [{
      "text": chart_breadcrumb,
      "align": "left",
      "bold": false,
      "size": 10,
      "y": 10
    }],
    "marginTop": 50,
    "balloon":{
      "fixedPosition":true,
    },
    "dataProvider": graph_data.scatter_data ,
    "valueAxes": [ {
      "position": "bottom",
      "axisAlpha": 0,
    }, {
      "minMaxMultiplier": 1.2,
      "axisAlpha": 0,
      "position": "left"
    } ],
    "startDuration": 1.5,
    "graphs": [ {
      "balloonText": "<b>[[label]]</b>",
      "labelText": "[[inside_marker_label]]",
      "labelPosition": "middle",
      "fontSize": 7,
      "bullet": "circle",
      "bulletBorderAlpha": 0.2,
      "bulletAlpha": 0.8,
      "lineAlpha": 0,
      "fillAlphas": 0,
      "valueField": "value",
      "xField": "x",
      "yField": "y",
      "maxBulletSize": 100,
      "colorField": "color",
    } ],
    "marginLeft": 46,
    "marginBottom": 35,
    "chartScrollbar": {},
    "chartCursor": {},
    "balloon":{
    "fixedPosition":true
    },
    "export": {
        "enabled": true
    },
    "listeners": [{
      "event": "clickGraphItem",
      "method": function(event) {
        
        // Create Base64 Object
        var Base64={_keyStr:"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",encode:function(e){var t="";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t="";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/[^A-Za-z0-9+/=]/g,"");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/rn/g,"n");var t="";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t="";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}}
        // get request parameters
        var id = event.item.dataContext.id;
        //var department_id = event.item.dataContext.department_id;
        var level = event.item.dataContext.level;
        level = parseInt(level)+1;
        var label = Base64.encode(event.item.dataContext.label);
        department_id = ''
        department_name = ''
        if (level == 3) {
          let q_id = urlParams.get('id');
          department_id = q_id
          department_name = q_label
        }
        // open new tab
        if(level <= 3) {
          var base_url = window.location.origin;
          window.open(base_url+'/report_2020?id='+id+'&level='+level+'&label='+label+'&department_id='+department_id+'&department_name='+department_name,'_blank');
        }
      }
    }]
  } );*/
    
  // Initialize bottom graphs

  /**************************************
  * TYS Vs LYS Chart
  ***************************************/
  am4core.ready(function() {
      // Themes begin
      configure_theme(am4core,theme);
      // Themes end
      // Create chart instance
      var chart = am4core.create("chartdiv1", am4charts.XYChart);
      // Add data
      chart.data = {{graph_data.tys_lys_data|tojson}};

      // Create category axis
      var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
      categoryAxis.dataFields.category = "weeks";
      categoryAxis.renderer.opposite = false;

      categoryAxis.renderer.grid.template.location = 0;
      categoryAxis.renderer.minGridDistance = 30;
      categoryAxis.renderer.labels.template.horizontalCenter = "right";
      categoryAxis.renderer.labels.template.verticalCenter = "middle";
      categoryAxis.renderer.labels.template.rotation = 270;
      categoryAxis.tooltip.disabled = true;
      categoryAxis.renderer.minHeight = 110;
      
      var label = categoryAxis.renderer.labels.template;
      label.wrap = true;
      label.maxWidth = 120;
      label.fontSize = 12;
      label.fontFamily  = "'Open Sans', sans-serif";
      label.fill =  am4core.color("#b5b5b5");
      // Create value axis
      var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
      valueAxis.renderer.inversed = false;
      valueAxis.title.text = "Sales";
      valueAxis.title.fontFamily  = "'Open Sans', sans-serif";
      valueAxis.title.fill =  am4core.color("#b5b5b5");
      valueAxis.title.fontWeight = 800;
      valueAxis.renderer.minLabelPosition = 0.01;
      valueAxis.renderer.labels.template.fontSize = 12;
      valueAxis.renderer.labels.template.fontFamily = "'Open Sans', sans-serif";
      valueAxis.renderer.labels.template.fill =  am4core.color("#b5b5b5");

      // Create series
      var series1 = chart.series.push(new am4charts.LineSeries());
      series1.dataFields.valueY = "pty_value";
      series1.dataFields.categoryX = "weeks";
      series1.name = "This Year Sales";
      series1.strokeWidth = 1;
      series1.tooltipText = "{valueY}";
      series1.visible  = false;
    
      var circleBullet = series1.bullets.push(new am4charts.CircleBullet());
      circleBullet.circle.stroke = am4core.color("#fff");
      circleBullet.circle.strokeWidth = 1;

      var series2 = chart.series.push(new am4charts.LineSeries());
      series2.dataFields.valueY = "ply_value";
      series2.dataFields.categoryX = "weeks";
      series2.name = 'Last Year Sales';
      series2.strokeWidth = 1;
      series2.tooltipText = "{valueY}";
    
      var circleBullet = series2.bullets.push(new am4charts.CircleBullet());
      circleBullet.circle.stroke = am4core.color("#fff");
      circleBullet.circle.strokeWidth = 1;

      var series3 = chart.series.push(new am4charts.LineSeries());
      series3.dataFields.valueY = "sty_value";
      series3.dataFields.categoryX = "weeks";
      series3.name = "This Year's Sales Comparison";
      series3.strokeWidth = 1;
      series3.tooltipText = "{valueY}";
      var circleBullet = series3.bullets.push(new am4charts.CircleBullet());
      circleBullet.circle.stroke = am4core.color("#fff");
      circleBullet.circle.strokeWidth = 1;

      // Add chart cursor
      chart.cursor = new am4charts.XYCursor();
      chart.cursor.behavior = "zoomY";

      // Add legend
      chart.legend = new am4charts.Legend();
      chart.legend.fontSize = 12;
      // Export option
      chart.exporting.menu = new am4core.ExportMenu();
      chart.exporting.menu.align = "right";
      chart.exporting.menu.verticalAlign = "top";
      // remove grid lines
      if(is_grid_show == '0') {
          categoryAxis.renderer.grid.template.disabled = true;
          valueAxis.renderer.grid.template.disabled = true;
      }
  });

  /**************************************
  * TYGP Vs LYGP chart
  ***************************************/
  am4core.ready(function() {
      // Themes begin
      configure_theme(am4core,theme);
      // Themes end
      // Create chart instance
      var chart = am4core.create("chartdiv2", am4charts.XYChart);
      // Add data
      chart.data = {{graph_data.tygp_lygp_data|tojson}};

      // Create category axis
      var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
      categoryAxis.dataFields.category = "weeks";
      categoryAxis.renderer.opposite = false;

      categoryAxis.renderer.grid.template.location = 0;
      categoryAxis.renderer.minGridDistance = 30;
      categoryAxis.renderer.labels.template.horizontalCenter = "right";
      categoryAxis.renderer.labels.template.verticalCenter = "middle";
      categoryAxis.renderer.labels.template.rotation = 270;
      categoryAxis.tooltip.disabled = true;
      categoryAxis.renderer.minHeight = 110;
      
      var label = categoryAxis.renderer.labels.template;
      label.wrap = true;
      label.maxWidth = 120;
      label.fontSize = 12;
      label.fontFamily  = "'Open Sans', sans-serif";
      label.fill =  am4core.color("#b5b5b5");
      // Create value axis
      var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
      valueAxis.renderer.inversed = false;
      valueAxis.title.text = "GP%";
      valueAxis.title.fontFamily  = "'Open Sans', sans-serif";
      valueAxis.title.fill =  am4core.color("#b5b5b5");
      valueAxis.title.fontWeight = 800;
      valueAxis.renderer.minLabelPosition = 0.01;
      valueAxis.renderer.labels.template.fontSize = 12;
      valueAxis.renderer.labels.template.fontFamily = "'Open Sans', sans-serif";
      valueAxis.renderer.labels.template.fill =  am4core.color("#b5b5b5");

      // Create series
      var series1 = chart.series.push(new am4charts.LineSeries());
      series1.dataFields.valueY = "pty_value";
      series1.dataFields.categoryX = "weeks";
      series1.name = "This Year GP%";
      series1.strokeWidth = 1;
      series1.tooltipText = "{valueY}";
      series1.visible  = false;
      //series1.stroke = am4core.color('#ff9900');
      //series1.fill = am4core.color('#ff9900');
      var circleBullet = series1.bullets.push(new am4charts.CircleBullet());
      circleBullet.circle.stroke = am4core.color("#fff");
      circleBullet.circle.strokeWidth = 1;

      var series2 = chart.series.push(new am4charts.LineSeries());
      series2.dataFields.valueY = "ply_value";
      series2.dataFields.categoryX = "weeks";
      series2.name = 'Last Year GP%';
      series2.strokeWidth = 1;
      series2.tooltipText = "{valueY}";
      //series2.stroke = am4core.color('#3366cc');
      //series2.fill = am4core.color('#3366cc');
      var circleBullet = series2.bullets.push(new am4charts.CircleBullet());
      circleBullet.circle.stroke = am4core.color("#fff");
      circleBullet.circle.strokeWidth = 1;

      var series3 = chart.series.push(new am4charts.LineSeries());
      series3.dataFields.valueY = "sty_value";
      series3.dataFields.categoryX = "weeks";
      series3.name = "This Year's GP% Comparison";
      series3.strokeWidth = 1;
      series3.tooltipText = "{valueY}";
      //series3.stroke = am4core.color('#dc3912');
      //series3.fill = am4core.color('#dc3912');
      var circleBullet = series3.bullets.push(new am4charts.CircleBullet());
      circleBullet.circle.stroke = am4core.color("#fff");
      circleBullet.circle.strokeWidth = 1;

      // Add chart cursor
      chart.cursor = new am4charts.XYCursor();
      chart.cursor.behavior = "zoomY";

      // Add legend
      chart.legend = new am4charts.Legend();
      chart.legend.fontSize = 12;
      // Export option
      chart.exporting.menu = new am4core.ExportMenu();
      chart.exporting.menu.align = "right";
      chart.exporting.menu.verticalAlign = "top";
      // remove grid lines
      if(is_grid_show == '0') {
        categoryAxis.renderer.grid.template.disabled = true;
        valueAxis.renderer.grid.template.disabled = true;
      }
  });

  /**************************************
  * TYAVGBASKET Vs LYAVGBASKET chart
  ***************************************/
  am4core.ready(function() {
      // Themes begin
      configure_theme(am4core,theme);
      // Themes end
      // Create chart instance
      var chart = am4core.create("chartdiv3", am4charts.XYChart);
      // Add data
      chart.data = {{graph_data.tyavgp_lyavgp_data|tojson}};

      // Create category axis
      var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
      categoryAxis.dataFields.category = "weeks";
      categoryAxis.renderer.opposite = false;

      categoryAxis.renderer.grid.template.location = 0;
      categoryAxis.renderer.minGridDistance = 30;
      categoryAxis.renderer.labels.template.horizontalCenter = "right";
      categoryAxis.renderer.labels.template.verticalCenter = "middle";
      categoryAxis.renderer.labels.template.rotation = 270;
      categoryAxis.tooltip.disabled = true;
      categoryAxis.renderer.minHeight = 110;
      
      var label = categoryAxis.renderer.labels.template;
      label.wrap = true;
      label.maxWidth = 120;
      label.fontSize = 12;
      label.fontFamily  = "'Open Sans', sans-serif";
      label.fill =  am4core.color("#b5b5b5");
      // Create value axis
      var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
      valueAxis.renderer.inversed = false;
      valueAxis.title.text = "AvgBasket";
      valueAxis.title.fontFamily  = "'Open Sans', sans-serif";
      valueAxis.title.fill =  am4core.color("#b5b5b5");
      valueAxis.title.fontWeight = 800;
      valueAxis.renderer.minLabelPosition = 0.01;
      valueAxis.renderer.labels.template.fontSize = 12;
      valueAxis.renderer.labels.template.fontFamily = "'Open Sans', sans-serif";
      valueAxis.renderer.labels.template.fill =  am4core.color("#b5b5b5");

      // Create series
      var series1 = chart.series.push(new am4charts.LineSeries());
      series1.dataFields.valueY = "pty_value";
      series1.dataFields.categoryX = "weeks";
      series1.name = "This Year AvgBasket";
      series1.strokeWidth = 1;
      series1.tooltipText = "{valueY}";
      series1.visible  = false;
      //series1.stroke = am4core.color('#0099c6');
      //series1.fill = am4core.color('#0099c6');
      var circleBullet = series1.bullets.push(new am4charts.CircleBullet());
      circleBullet.circle.stroke = am4core.color("#fff");
      circleBullet.circle.strokeWidth = 1;

      var series2 = chart.series.push(new am4charts.LineSeries());
      series2.dataFields.valueY = "ply_value";
      series2.dataFields.categoryX = "weeks";
      series2.name = 'Last Year AvgBasket';
      series2.strokeWidth = 1;
      series2.tooltipText = "{valueY}";
      //series2.stroke = am4core.color('#109618');
      //series2.fill = am4core.color('#109618');
      var circleBullet = series2.bullets.push(new am4charts.CircleBullet());
      circleBullet.circle.stroke = am4core.color("#fff");
      circleBullet.circle.strokeWidth = 1;

      var series3 = chart.series.push(new am4charts.LineSeries());
      series3.dataFields.valueY = "sty_value";
      series3.dataFields.categoryX = "weeks";
      series3.name = "This Year's AvgBasket Comparison";
      series3.strokeWidth = 1;
      series3.tooltipText = "{valueY}";
      //series3.stroke = am4core.color('#990099');
      //series3.fill = am4core.color('#990099');
      var circleBullet = series3.bullets.push(new am4charts.CircleBullet());
      circleBullet.circle.stroke = am4core.color("#fff");
      circleBullet.circle.strokeWidth = 1;

      // Add chart cursor
      chart.cursor = new am4charts.XYCursor();
      chart.cursor.behavior = "zoomY";

      // Add legend
      chart.legend = new am4charts.Legend();
      chart.legend.fontSize = 12;
      // Export option
      chart.exporting.menu = new am4core.ExportMenu();
      chart.exporting.menu.align = "right";
      chart.exporting.menu.verticalAlign = "top";
      // remove grid lines
      if(is_grid_show == '0') {
          categoryAxis.renderer.grid.template.disabled = true;
          valueAxis.renderer.grid.template.disabled = true;
      }
  });

  /**************************************
  * TYC Vs LYC chart
  ***************************************/
  am4core.ready(function() {
      // Themes begin
      configure_theme(am4core,theme);
      // Themes end
      // Create chart instance
      var chart = am4core.create("chartdiv4", am4charts.XYChart);
      // Add data
      chart.data = {{graph_data.tyc_lyc_data|tojson}};

      // Create category axis
      var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
      categoryAxis.dataFields.category = "weeks";
      categoryAxis.renderer.opposite = false;

      categoryAxis.renderer.grid.template.location = 0;
      categoryAxis.renderer.minGridDistance = 30;
      categoryAxis.renderer.labels.template.horizontalCenter = "right";
      categoryAxis.renderer.labels.template.verticalCenter = "middle";
      categoryAxis.renderer.labels.template.rotation = 270;
      categoryAxis.tooltip.disabled = true;
      categoryAxis.renderer.minHeight = 110;
      
      var label = categoryAxis.renderer.labels.template;
      label.wrap = true;
      label.maxWidth = 120;
      label.fontSize = 12;
      label.fontFamily  = "'Open Sans', sans-serif";
      label.fill =  am4core.color("#b5b5b5");
      // Create value axis
      var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
      valueAxis.renderer.inversed = false;
      valueAxis.title.text = "Customers";
      valueAxis.title.fontFamily  = "'Open Sans', sans-serif";
      valueAxis.title.fill =  am4core.color("#b5b5b5");
      valueAxis.title.fontWeight = 800;
      valueAxis.renderer.minLabelPosition = 0.01;
      valueAxis.renderer.labels.template.fontSize = 12;
      valueAxis.renderer.labels.template.fontFamily = "'Open Sans', sans-serif";
      valueAxis.renderer.labels.template.fill =  am4core.color("#b5b5b5");

      // Create series
      var series1 = chart.series.push(new am4charts.LineSeries());
      series1.dataFields.valueY = "pty_value";
      series1.dataFields.categoryX = "weeks";
      series1.name = "This Year Customers";
      series1.strokeWidth = 1;
      series1.tooltipText = "{valueY}";
      series1.visible  = false;
      //series1.stroke = am4core.color('#2ca02c');
      //series1.fill = am4core.color('#2ca02c');
      var circleBullet = series1.bullets.push(new am4charts.CircleBullet());
      circleBullet.circle.stroke = am4core.color("#fff");
      circleBullet.circle.strokeWidth = 1;

      var series2 = chart.series.push(new am4charts.LineSeries());
      series2.dataFields.valueY = "ply_value";
      series2.dataFields.categoryX = "weeks";
      series2.name = 'Last Year Customers';
      series2.strokeWidth = 1;
      series2.tooltipText = "{valueY}";
      //series2.stroke = am4core.color('#aec7e8');
      //series2.fill = am4core.color('#aec7e8');
      var circleBullet = series2.bullets.push(new am4charts.CircleBullet());
      circleBullet.circle.stroke = am4core.color("#fff");
      circleBullet.circle.strokeWidth = 1;

      var series3 = chart.series.push(new am4charts.LineSeries());
      series3.dataFields.valueY = "sty_value";
      series3.dataFields.categoryX = "weeks";
      series3.name = "This Year's Customers Comparison";
      series3.strokeWidth = 1;
      series3.tooltipText = "{valueY}";
      //series3.stroke = am4core.color('#ff7f0e');
      //series3.fill = am4core.color('#ff7f0e');
      var circleBullet = series3.bullets.push(new am4charts.CircleBullet());
      circleBullet.circle.stroke = am4core.color("#fff");
      circleBullet.circle.strokeWidth = 1;

      // Add chart cursor
      chart.cursor = new am4charts.XYCursor();
      chart.cursor.behavior = "zoomY";

      // Add legend
      chart.legend = new am4charts.Legend();
      chart.legend.fontSize = 12;
      // Export option
      chart.exporting.menu = new am4core.ExportMenu();
      chart.exporting.menu.align = "right";
      chart.exporting.menu.verticalAlign = "top";
      // remove grid lines
      if(is_grid_show == '0') {
          categoryAxis.renderer.grid.template.disabled = true;
          valueAxis.renderer.grid.template.disabled = true;
      }
  });

  // This method used to create pdf report and send that on email
  function exportReport() {
    // get email address
    var email = $('#alt-email').val();
    // validate email address
    var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
    if (filter.test(email)) {
      // do nothing
    } else {
      alert('Please enter valid email address');
      return false;
    }

    var layout = {
      "content": []
    }
    // So that we know export was started
    console.log("Starting export...");

    // Define IDs of the charts we want to include in the report
    var ids = ["chartdiv","chartdiv1", "chartdiv2", "chartdiv3", "chartdiv4"];

    // Collect actual chart objects out of the AmCharts.charts array
    var charts = {}
    var charts_remaining = ids.length;
    for (var i = 0; i < ids.length; i++) {
      for (var x = 0; x < AmCharts.charts.length; x++) {
        if (AmCharts.charts[x].div.id == ids[i])
          charts[ids[i]] = AmCharts.charts[x];
      }
    }

    // Trigger export of each chart
    for (var x in charts) {
      if (charts.hasOwnProperty(x)) {
        var chart = charts[x];
        chart["export"].capture({}, function() {
          this.toPNG({}, function(data) {

            // Save chart data into chart object itself
            this.setup.chart.exportedImage = data;
            // Reduce the remaining counter
            charts_remaining--;
            // Check if we got all of the charts
            if (charts_remaining == 0) {
              // Let's proceed to putting PDF together
              generatePDF(email);
            }

          });
        });
      }
    }

    function generatePDF(email) {
      $(".loader").fadeIn("slow");
      layout.content.push(
        { // Let's add a custom title
          "text": "20-20 Report",
          "fontSize": 15
        },
        { // Let's add a scatter chart
          "image": charts["chartdiv"].exportedImage,
          "fit": [ 523, 300 ],
          "margin-bottom": "35px"
        },
        { // Let's add a bottom compare charts
          "columns": [{
            "width": "50%",
            "image": charts["chartdiv1"].exportedImage,
            "fit": [250, 300]
          }, {
            "width": "50%",
            "image": charts["chartdiv2"].exportedImage,
            "fit": [250, 300]
          }]
        },
        {
          "columns": [{
            "width": "50%",
            "image": charts["chartdiv3"].exportedImage,
            "fit": [250, 300]
          }, {
            "width": "50%",
            "image": charts["chartdiv4"].exportedImage,
            "fit": [250, 300]
          }]
      });
    
      var data;
      pdfMake.createPdf(layout).getBase64(function(encodedString) {
        encodedata = encodedString;
        $.ajax({
          type: 'POST',
          url: 'send_20report_email',
          data : JSON.stringify([encodedata,email]),
          contentType: "application/json",
          success:function(data){
            res = JSON.parse(data);
            alert("Email Successfully Sent!!");
            $("#alt-email").val('');
            $(".loader").fadeOut("slow");
          },
          error: function(data) { // if error occured
            alert("Error occured.please try again");
            $(".loader").fadeOut("slow");
          }
        });
      });
    }
  }
</script>
  <!-- Email box start here -->
  <!--<div class="row">
    <div class="form-group col-md-2 filter-section" style="margin-left: 20px;">
        <label>Send PDF On Email:</label>
        <div class="" style="width: 225px;">
          <span style="float: left;margin-right: 10px;">
            <input class="form-control" type="checkbox" data-size="normal" id="email_opt" checked />
          </span>
          <span style="float: left;" class="alt-email-cls">
            <input id="alt-email" type="text" class="form-control" placeholder="Enter your  Email" name="">
          </span> 
        </div>
    </div>
    <div class="form-group col-md-1 alt-email-cls" style="margin-left: 20px;">
      <label>&nbsp;</label>
      <button onclick="exportReport()" class='form-control btn-primary btn btn-info waves-effect waves-light'>Send</button>
    </div>-->
    <!--
    <div class="form-group bt-switch col-md-2">
      <div class="bt-switch">
        <label>Split Stores</label><br>
        <input type="checkbox" checked data-size="normal" />
      </div>
    </div>-->
  <!-- Email box end here -->

  <!----- Chart Content area start here ----->
  <section class="demo">
    <div class="container-fluid">
          <!-- Scatter bubble chart start here -->
          <div class="row">
              <div class="col-lg-12 Ourmrg PADD">
                  <div class="row mt-3">  
                      <div class="col-lg-9 col-md-8 col-sm-12 col-12">
                          <div class="Ourcrumb">                     
                              <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                                <li id="scatter-chart-title" class="breadcrumb-item active" aria-current="page" style="line-height: 35px;"></li>
                              </ol>
                              </nav>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                        <div class="Datetxt text-right">
                            <a id="view_scatter_data" href='javascript:void(0);'><h3>View Chart Data <i class="fas fa-caret-down"></i></h3></a>
                        </div>
                      </div>
                      
                      <div class="" style="width:100%;margin-right: 13px;">
                          <div class='scatter_data_container dn data_container' >
                            <div class="table-responsive">
                              <table>
                              </table>
                            </div>
                          </div>
                          <!-- Ranging products display here -->
                          <div class="dn" id="ranging-div">
                            <div class="Datetxt text-right">
                              <a id="view_ranging_data" href='javascript:void(0);'><h3>View Unsold Products<i class="fas fa-caret-down"></i></h3></a>      
                            </div>
                            <div class='ranging_data_container dn data_container' >
                              <div class="table-responsive">
                                <table>
                                  <thead>
                                    <tr>
                                      <th>Product ID</th>
                                      <th>Product Name</th>
                                    </tr>
                                  </thead>
                                  <tbody></tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
              </div>
 
            <div class="col-md-12 col-12 p-0">
                <div class="demo-left-34 mt-3 demo-right">
                     <h4 class="">
                      {% if graph_data.measurement_type == '2' %}
                        GP Comparison
                      {% elif graph_data.measurement_type == '3' %}
                        Sales CPC Comparison
                      {% else %}
                        Sales Comparison
                      {% endif %} 
                      </h4>
                      <p class="SalPra" id='chart_help_txt'>&nbsp;</p>
                    <div class="">
                        <div id="chartdiv" class="scatter_chartdiv"></div>
                    </div>
                </div>
            </div>
          </div>
        
          <!-- Scatter bubble chart end here -->

          <!-- First sales chart block start here -->
          {% if 'filter_single_col_cls' in graph_data and graph_data.filter_single_col_cls == 'col-md-12' %}
            {% set left_cls = 'p-0'%}
          {% else %}
              {% set left_cls = 'pl-0'%}
          {% endif %}
          <div class="row">
              <!-- Sales chart -->
              <div class="{{graph_data.filter_single_col_cls}} col-12 {{left_cls}} addPR-15">
                  <div class="demo-left-34 mt-3 demo-right">
                    <h4 class="">${{graph_data.tys_count}}
                        {% set decrease = graph_data.tys_count-graph_data.lys_count %}
                        {% if graph_data.lys_count > 0 %}
                          {% set decrease = (decrease / graph_data.lys_count) * 100 %}
                        {% else %}
                          {% set decrease = 0 %}
                        {% endif %}
                        {% if graph_data.tys_count > graph_data.lys_count %}
                            <span class="GRn">
                        {% else %}
                            <span class="GREd">
                        {% endif %} 
                        {{ decrease|round(1) }}%</span>
                    </h4>
                    <p class="SalPra"> <span> Total Sales </span> in selected date range</p>
                    <div class="">
                        <div id="chartdiv1" class="chartdiv"></div>
                    </div>
                  </div>
              </div>
              <!-- GP% chart -->
              <div class="{{graph_data.filter_single_col_cls}} col-12 p-0">
                  <div class="demo-left-34 mt-3 demo-right">
                    <h4 class="">{{graph_data.tygp_count}}%
                        {% set decrease = graph_data.tygp_count-graph_data.lygp_count %}
                        {% if graph_data.lygp_count > 0 %}
                          {% set decrease = (decrease / graph_data.lygp_count) * 100 %}
                        {% else %}
                          {% set decrease = 0 %}
                        {% endif %}
                        
                        {% if graph_data.tygp_count > graph_data.lygp_count %}
                            <span class="GRn">
                        {% else %}
                            <span class="GREd">
                        {% endif %} 
                        {{ decrease|round(1) }}%</span>
                    </h4>
                    <p class="SalPra"> <span> GP% </span> in selected date range</p>
                    <div class="">
                        <div id="chartdiv2" class="chartdiv"></div>
                    </div>
                  </div>
              </div>
          </div> 
          <!-- First sales chart block end here -->

          <!-- Second sales chart block start here -->
          <div class="row">
              <!-- Average basket chart -->
              <div class="{{graph_data.filter_single_col_cls}} col-12 {{left_cls}} addPR-15">
                  <div class="demo-left-34 mt-3 demo-right">
                    <h4 class="">{{graph_data.tyavgp_count}}
                        {% set decrease = graph_data.tyavgp_count-graph_data.lyavgp_count %}
                        {% if graph_data.lyavgp_count > 0 %}
                          {% set decrease = (decrease / graph_data.lyavgp_count) * 100 %} 
                        {% else %}
                          {% set decrease = 0 %}
                        {% endif %}
                        
                        {% if graph_data.tyavgp_count > graph_data.lyavgp_count %}
                            <span class="GRn">
                        {% else %}
                            <span class="GREd">
                        {% endif %} 
                        {{ decrease|round(1) }}%</span>
                    </h4>
                    <p class="SalPra"> <span> Average Basket </span> in selected date range</p>
                    <div class="">
                        <div id="chartdiv3" class="chartdiv"></div>
                    </div>
                  </div>
              </div>
              <!-- customers chart -->
              <div class="{{graph_data.filter_single_col_cls}} col-12 p-0">
                  <div class="demo-left-34 mt-3 mb-3 demo-right">
                    <h4 class="">{{graph_data.tyc_count}}
                        {% set decrease = graph_data.tyc_count-graph_data.lyc_count %}
                        {% if graph_data.lyc_count > 0 %}
                        {% set decrease = (decrease / graph_data.lyc_count) * 100 %} 
                        {% else %}
                          {% set decrease = 0 %}
                        {% endif %}
                        {% if graph_data.tyc_count > graph_data.lyc_count %}
                            <span class="GRn">
                        {% else %}
                            <span class="GREd">
                        {% endif %} 
                        {{ decrease|round(1) }}%</span>
                    </h4>
                    <p class="SalPra"> <span> Customers </span> in selected date range</p>
                    <div class="">
                        <div id="chartdiv4" class="chartdiv"></div>
                    </div>
                  </div>
              </div>
          </div>  
          <!-- Second sales chart block end here -->
        </div>
  </section>
  <!----- Chart Content area end here ----->

 <script>
  // Manage email box availability
  $("#email_opt").click(function() {
    if($(this).is(":checked")) {
      $(".alt-email-cls").show(300);
    } else {
      $(".alt-email-cls").hide(200);
    }
  });

  $( document ).ready(function() {
    set_chart_header();     
  });

  // Set scatter chart header text
  function set_chart_header() {
      // set scatter chart header
      var primary_ftype_val = $('#primary_ftype :selected').val();
      if(primary_ftype_val == 1) {
        var primary_selected_txt= $('#p_outlets :selected').text();
      } else {
        var primary_selected_txt= $('#p_zones :selected').text();
      }
      
      var secondary_ftype_val = $('#secondary_ftype :selected').val();
      if(secondary_ftype_val == 1) {
        var secondary_selected_txt= $('#s_outlets :selected').text();
      } else {
        var secondary_selected_txt= $('#s_zones :selected').text();
      }

      var scatter_chart_title = primary_selected_txt+' Vs '+secondary_selected_txt;
      // append chart compare title
      $('#scatter-chart-title').html(scatter_chart_title);
      var tys = graph_data.tys;
      var lys = graph_data.lys;
      var tycs = graph_data.tycs;
      var measurement_type = $('#measurement_type :selected').val();
      // Set measurment label
      var measurement_lbl = 'Sales $'
      if(measurement_type == '2') {
        measurement_lbl = 'GP $'
      } else if(measurement_type == '3') {
        measurement_lbl = 'Sales CPC'
      }
     
      // get url query string params
      let urlParams = new URLSearchParams(window.location.search);
      let q_level = urlParams.get('level');
      // Set entity label
      var entity_lbl = 'Department'
      if(q_level != undefined && q_level == 2) {
        entity_lbl = 'Commodity'
      } else if(q_level != undefined && q_level == 3) {
        entity_lbl = 'Product'
      }
      
      var data_rows = '<thead><tr><th>'+entity_lbl+'</th><th>This Year '+measurement_lbl+'</th><th>Last Year '+measurement_lbl+'</th><th>This Year Compare '+measurement_lbl+'</th></tr></thead><tbody>'
      for(var i=0;i<tys.length;i++) {
        var tys_amount = (tys[i].total_amount/graph_data.TY_primary_total_stores);
        var lys_amount = (lys[i].total_amount/graph_data.TY_primary_total_stores);
        if(measurement_type == 2) {
          tys_amount = (tys[i].total_margin/graph_data.TY_primary_total_stores);
          lys_amount = (lys[i].total_margin/graph_data.TY_primary_total_stores);
        } else if(measurement_type == 3) {
          tys_amount = (tys[i].total_amount/graph_data.TY_primary_total_stores);
          tys_amount = (tys_amount/(graph_data.TY_total_customers/graph_data.TY_primary_total_stores));
          lys_amount = (lys[i].total_amount/graph_data.TY_primary_total_stores);
          lys_amount = (lys_amount/(graph_data.LY_total_customers/graph_data.TY_primary_total_stores));
        }
        if(measurement_type == 3) {
          tycs_total_amount = (tycs[i].total_amount/graph_data.TY_secondary_total_stores)
          tycs_total_amount = (tycs_total_amount/(graph_data.TYC_total_customers/graph_data.TY_secondary_total_stores))
        } else {
          tycs_total_amount = (tycs[i].total_amount/graph_data.TY_secondary_total_stores) 
        }
        
        data_rows += "<tr><td>"+tys[i].name+"</td><td>" + tys_amount.toFixed(2) + "</td><td>" + lys_amount.toFixed(2) + "</td><td>"+tycs_total_amount.toFixed(2)+"</td></tr>";
      }
      data_rows += "</tbody>"
      // prepare ranging product table rows
      if(graph_data.ranging_products.length != 0) {
        var ranging_data_rows = '';
        var ranging_products = graph_data.ranging_products;
        var i=0
        $.each( ranging_products, function( key, value ) {
          //if(i<20) {
            ranging_data_rows += "<tr><td>"+value.TRX_PRODUCT+"</td><td>" + value.PROD_DESC + "</td></tr>";
          //}
          i++
        });
      }
      $(".scatter_data_container table").append(data_rows);
      $(".ranging_data_container table tbody").append(ranging_data_rows);
      // append data into div
      $('.scatter_data_container').html();
      $('.ranging_data_container').html();
    }
 </script>