<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <!-- Tell the browser to be responsive to screen width -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">
            <!-- Favicon icon -->
            <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon.png') }}">
            <title>Coyote BI</title>
            <!-- Bootstrap Core CSS -->
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='scss/icons/themify-icons/themify-icons.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-datepicker3.min.css') }}" />
            <!-- Custom CSS -->
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/filter/custom-style.css') }}">
            <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/filter/responsive.css') }}"> -->
            <link href="{{ url_for('static', filename='css/dashboard-style.css') }}" rel="stylesheet" type="text/css">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/coyote-style.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}" />
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
            <!-- Add JS -->
            <script type="text/javascript" src="{{ url_for('static', filename='js/slider/jquery-1.9.1.js') }}"></script>
            <script src="{{ url_for('static', filename='assets/plugins/jquery/custom.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/datepicker/bootstrap-datepicker.min.js') }}"></script>
            <!-- Add AM chart js based on selected theme  -->
            <script src="https://www.amcharts.com/lib/4/core.js"></script>
            <script src="https://www.amcharts.com/lib/4/charts.js"></script>
            {% if graph_data.filter_theme == '2' %}
                <script src="https://www.amcharts.com/lib/4/themes/dataviz.js"></script>
            {% elif graph_data.filter_theme == '3' %}
                <script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
            {% elif graph_data.filter_theme == '4' %}
                <script src="https://www.amcharts.com/lib/4/themes/kelly.js"></script>
            {% elif graph_data.filter_theme == '5' %}
                <script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
            {% elif graph_data.filter_theme == '6' %}
                <script src="https://www.amcharts.com/lib/4/themes/frozen.js"></script> 
            {% elif graph_data.filter_theme == '7' %}
                <script src="https://www.amcharts.com/lib/4/themes/moonrisekingdom.js"></script>
            {% elif graph_data.filter_theme == '8' %}
                <script src="https://www.amcharts.com/lib/4/themes/spiritedaway.js"></script>
            {% endif%}
            <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
            <script>
                $(document).ready(function() {
                   // Get parameters from the current URL
                    var url = window.location.href;
                    var splitUrl = url.split('/');
                    var activeId = 'index';
                    if(splitUrl[3] != undefined && splitUrl[3] != '' ) {
                        activeId = splitUrl[3];
                    }
                    // check url param
                    var check_param = activeId.includes("?");
                    if (check_param == true) {
                        activeId = 'report_2020';
                    }
                    // Set class as active
                    $('#'+activeId).addClass('active');

                    // Manage setting popper
                    $('.dropdown-menu').on('click', function(event){
                        // The event won't be propagated up to the document NODE and 
                        // therefore delegated events won't be fired
                        event.stopPropagation();
                    });
                });

                // Change theme setting
                function theme_selector(theme_id) {
                    // hide setting box
                    $('.dropdown-menu').hide();
                    // show loader
                    $(".loader-box").fadeIn("slow");
                    // Init ajax for store date in session
                    $.ajax({
                    type: 'GET',
                        url: 'set_dashboard_filters',
                        data : {
                            filter_theme:theme_id
                        },
                        contentType: "application/json",
                        success:function(data){
                            //console.log(data);
                            window.location.href = window.location.href;
                        },
                        error: function(data) { // if error occured
                            $(".loader-box").fadeOut("slow");
                            alert("Error occured.please try again");
                        }
                    });
                }

                // Set theme for charts
                function configure_theme(am4core,theme){
                    
                    switch(theme) {
                        case 1:
                            am4core.useTheme(am4themes_animated);
                            break;
                        case 2:
                            am4core.useTheme(am4themes_dataviz);
                            am4core.useTheme(am4themes_animated);
                            break;
                        case 3:
                            am4core.useTheme(am4themes_material);
                            am4core.useTheme(am4themes_animated);
                            break;
                        case 4:
                            am4core.useTheme(am4themes_kelly);
                            am4core.useTheme(am4themes_animated);
                            break;
                        case 5:
                            am4core.useTheme(am4themes_dark);
                            am4core.useTheme(am4themes_animated);
                        case 6:
                            am4core.useTheme(am4themes_frozen);
                            am4core.useTheme(am4themes_animated);   
                            break;
                        case 7:
                            am4core.useTheme(am4themes_moonrisekingdom);
                            am4core.useTheme(am4themes_animated);
                            break;
                        case 8:
                            am4core.useTheme(am4themes_spiritedaway);
                            am4core.useTheme(am4themes_animated);
                            break;
                        default:
                            am4core.useTheme(am4themes_animated);
                            break;
                    }
                }
                // Configure gr
            </script>
        {% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <!-- <div class="loader dn"></div> -->
            <div class="loader-box dn">
                <div class="LoadWrap">
                    <div class="loader">
                        <div class="element-animation">
                          <img src="{{ url_for('static', filename='images/loader.png') }}" width="480" height="100";>
                        </div>
                    </div>
                    <ul class="labels">
                        <li class="label">Loading...</li>
                        <li class="label">Loading...</li>
                        <li class="label">Loading...</li>
                        <li class="label">Loading...</li>
                    </ul> 
                </div> 
              </div>
            <!------ Navigation bar start here ------>
            <header class="header_main">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="logo-main ml-3">
                        <a href="javascript:void(0);"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" /></a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li id='index' class="nav-item">
                            <a class="nav-link" href="/">Dashboard </a>
                            </li>
                            <li id='report_2020' class="nav-item">
                            <a class="nav-link" href="/report_2020">20-20 Report</a>
                            </li>
                            <li id='storekpi' class="nav-item">
                            <a class="nav-link" href="/storekpi">Store KPI Report</a>
                            </li>
                            <li id='zones' class="nav-item">
                            <a class="nav-link" href="/zones">Zones Report</a>
                            </li>
                        </ul>
                    </div>
                    <div class="SettingSec" style="margin-right: 6px;">               
                        <ul class="nav SettingNav">
                            <li class="nav-item">
                                <a class="nav-link clear_dashfilter" href="javascript:void(0);" title="Reset Filters">
                                    <i class="fas fa-sync"></i>
                                </a>
                            </li>                     
                            <li class="nav-item">
                                <a class="nav-link chartRows" href="javascript:void(0);" title="Change Layout">
                                    {% if 'filter_single_col_cls' in graph_data and graph_data.filter_single_col_cls == 'col-md-6' %}
                                        <i class="fas fa-grip-lines"></i>
                                    {% else %}    
                                        <i class="fas fa-th-large"></i>
                                    {% endif %}
                                </a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);" title="Notifications">
                                <i class="fas fa-bell"></i>
                            </a>
            
                            </li>
                            <li class="nav-item">
                            <div class="dropdown">                    
                                <a class="nav-link" href="javascript:void(0);" title="Settings" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right:0px;">
                                    <i class="fas fa-cog"></i>
                                </a>
                                <div class="dropdown-menu SettingMenu animate slideIn dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <ul>
                                        <li>
                                        <h5>Options</h5>
                                        </li>                                 
                                        <li>
                                        <label class="LabTxt">Chart Grid Line</label>
                                        {% set filter_gridline_selected = '' %}
                                        {% if 'filter_gridline' in graph_data and graph_data.filter_gridline == '1' %}
                                            {% set filter_gridline_selected = 'checked=checked' %}
                                        {% endif %}
                                        <label class="switch">
                                            <input type="checkbox" id='filter_gridline' name='filter_gridline' {{filter_gridline_selected}}>
                                            <span class="slider round"></span>
                                        </label>
                                        </li>
                                        <li>
                                        <label class="LabTxt">Theme amChart</label>
                                        <div class="ChartClr">
                                            <ul>
                                                <li {% if graph_data.filter_theme == '1' %} class="active" {% endif %}><a onclick="theme_selector(1)" href="javascript:void(0);" style="background-image: linear-gradient(45deg, #67b7dc 0%,#67b7dc 50%,#c767dc 50%,#c767dc 100%);border-color: #fff;"></a></li>
                                                <li {% if graph_data.filter_theme == '2' %} class="active" {% endif %}><a onclick="theme_selector(2)" href="javascript:void(0);" style="background-image: linear-gradient(45deg, #283250 0%,#283250 50%,#902c2d 50%,#902c2d 100%);border-color: #fff;"></a></li>
                                                <li {% if graph_data.filter_theme == '3' %} class="active" {% endif %}><a onclick="theme_selector(3)" href="javascript:void(0);" style="background-image: linear-gradient(45deg, #E91E63 0%,#E91E63 50%,#9C27B0 50%,#9C27B0 100%);border-color: #fff;"></a></li>
                                                <li {% if graph_data.filter_theme == '4' %} class="active" {% endif %}><a onclick="theme_selector(4)" href="javascript:void(0);" style="background-image: linear-gradient(45deg, #F3C300 0%,#F3C300 50%,#875692 50%,#875692 100%);border-color: #fff;"></a></li>
                                                <li {% if graph_data.filter_theme == '6' %} class="active" {% endif %}><a onclick="theme_selector(6)" href="javascript:void(0);" style="background-image: linear-gradient(45deg, #bec4f8 0%,#bec4f8 50%,#a5abee 50%,#a5abee 100%);border-color: #fff;"></a></li>
                                                <li {% if graph_data.filter_theme == '7' %} class="active" {% endif %}><a onclick="theme_selector(7)" href="javascript:void(0);" style="background-image: linear-gradient(45deg, #3a1302 0%,#3a1302 50%,#c79f59 50%,#c79f59 100%);border-color: #fff;"></a></li>
                                                <li {% if graph_data.filter_theme == '8' %} class="active" {% endif %}><a onclick="theme_selector(8)" href="javascript:void(0);" style="background-image: linear-gradient(45deg, #65738e 0%,#65738e 50%,#766c91 50%,#766c91 100%);border-color: #fff;"></a></li>
                                                <!-- <a onclick="theme_selector(5)" href="javascript:void(0);" style="background-image: linear-gradient(45deg, #67b7dc 0%,#67b7dc 50%,#c767dc 50%,#c767dc 100%);border-color: #000;"></a> -->
                                               
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- /.header -->
            <!------ Navigation bar end here ------>  
            <div id="content" class="MinHeaght">{% block content %}{% endblock %}</div>

            <footer class="footer text-center"> © 2019 Coyote</footer> 
        </div>
        <script>
            // Set chart grid rows filter value in session
            $('.chartRows').click(function() {
                // show loader
                $(".loader-box").fadeIn("slow");
                // Init ajax for store date in session
                $.ajax({
                    type: 'GET',
                    url: 'set_dashboard_filters',
                    data : {
                        filter_single_col_cls:'1'
                    },
                    contentType: "application/json",
                    success:function(data){
                        //console.log(data);
                        window.location.href = window.location.href;
                    },
                    error: function(data) { // if error occured
                        $(".loader-box").fadeOut("slow");
                        alert("Error occured.please try again");
                    }
                }); 
            });
            
            // Set grid line filter value in session
            $('#filter_gridline').click(function() {
                var filter_gridline_val = '0';
                var filter_gridline = $('input[name=filter_gridline]:checked').val();
                if(filter_gridline != '' && filter_gridline != undefined) {
                    filter_gridline_val = '1'; 
                }
                // hide setting box
                $('.dropdown-menu').hide();
                // show loader
                $(".loader-box").fadeIn("slow");
                // Init ajax for store date in session
                $.ajax({
                    type: 'GET',
                    url: 'set_dashboard_filters',
                    data : {
                        filter_gridline:filter_gridline_val
                    },
                    contentType: "application/json",
                    success:function(data){
                        //console.log(data);
                        window.location.href = window.location.href;
                    },
                    error: function(data) { // if error occured
                        $(".loader-box").fadeOut("slow");
                        alert("Error occured.please try again");
                    }
                }); 
            });

            // Clear selected filters
            $(document).delegate('.clear_dashfilter','click',function(e){
            if(confirm("Are you sure you want to clear this selections?")){
                $(".loader-box").fadeIn("slow");
                $.ajax({
                type: 'GET',
                url: 'clear_dashboardfilter',
                data : {},
                contentType: "application/json",
                success:function(data){
                    window.location.href = window.location.href;
                },
                error: function(data) { // if error occured
                    alert("Error occured.please try again");
                    $(".loader-box").fadeOut("slow");
                }
                });
            } else {
                return false;
            }
            });
        </script>
    </body>
</html>