{% extends 'head.html' %}
    <!-- Include header -->
    {% block header %}
    {% endblock %}
    <!-- Include body content -->
    {% block content %}
        <section class="demo">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 Ourmrg">
                        <div class="row">  
                            <div class="col-lg-9 col-md-8 col-sm-12 col-12 pl-0">
                                <div class="Ourcrumb">                     
                                    <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item" aria-current="page"><img src="{{ url_for('static', filename='images/owl-logo.png') }}" alt="logo" width="120px;" /></li>
                                        <li class="breadcrumb-item active" aria-current="page" style="line-height: 26px;">Business Intelligence Dashboard</li>
                                    </ol>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12 col-12 pr-0">
                                <div class="Datetxt text-right">
                                    <h3>{{graph_data.format_filter_date}} <i class="fas fa-caret-down" id="start_date"></i></h3> 
                                    <!--<h3>{{graph_data.format_filter_date}} <img class="CP" id="start_date" src="{{ url_for('static', filename='images/calendar.svg') }}" width="30" height="30"></h3>-->
                                </div>
                            </div>                        
                        </div>
                    </div>
                    <div class="col-md-12 col-12">
                        <div class="demo-left">
                            <!-- First block start here -->
                            <div class="light-bg text-center">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                        <div class="SalesTxt">
                                            <div class="revTxt">
                                                <h4><i class="fas fa-globe-americas"></i> Sales Revenue</h4>
                                            </div>
                                            <h2>${{graph_data.ty_total_sales_amount}}M</h2>
                                            <div class="PreSec">
                                                <div class="Seclft"> 
                                                    <h5>${{graph_data.ly_total_sales_amount}}M</h5>
                                                    <p>PREV Y</p>
                                                </div>                                       
                                                <div class="Secrht">
                                                    {% set decrease = graph_data.ty_total_sales_amount-graph_data.ly_total_sales_amount %}
                                                    {% if graph_data.ly_total_sales_amount > 0 %}
                                                        {% set decrease = (decrease / graph_data.ly_total_sales_amount) * 100 %}
                                                    {% else %}
                                                        {% set decrease = 0 %}
                                                    {% endif %}

                                                    {% if graph_data.ty_total_sales_amount > graph_data.ly_total_sales_amount %}
                                                        <h5><span class="GrnClr"> <i class="fas fa-caret-up"></i>
                                                    {% else %}
                                                        <h5><span class="RdClr"> <i class="fas fa-caret-down"></i>
                                                    {% endif %}
                                                    {{ decrease|round(1)|float }}%</span></h5>
                                                    <p>SINCE <span>PREV Y</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                        <div class="SalesTxt">
                                            <div class="revTxt">
                                                <h4><i class="fas fa-users"></i> Customers</h4>
                                            </div>
                                            <h2>{{graph_data.ty_total_customers}}M</h2>
                                            <div class="PreSec">
                                                <div class="Seclft">
                                                    <h5>{{graph_data.ly_total_customers}}M</h5>
                                                    <p>PREV Y</p>
                                                </div>                                       
                                                <div class="Secrht">
                                                    {% set decrease = graph_data.ty_total_customers-graph_data.ly_total_customers %}
                                                    {% if graph_data.ly_total_customers > 0 %}
                                                        {% set decrease = (decrease / graph_data.ly_total_customers) * 100 %}
                                                    {% else %}
                                                        {% set decrease = 0 %}
                                                    {% endif %}
                                                    
                                                    {% if graph_data.ty_total_customers > graph_data.ly_total_customers %}
                                                        <h5><span class="GrnClr"> <i class="fas fa-caret-up"></i>
                                                    {% else %}
                                                        <h5><span class="RdClr"> <i class="fas fa-caret-down"></i>
                                                    {% endif %}  
                                                    {{ decrease|round(1) }}%</span></h5>
                                                    <p>SINCE <span>PREV Y</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                        <div class="SalesTxt">
                                            <div class="revTxt">
                                                <h4><i class="fas fa-comment"></i> Avg Item <!--Per Customer--></h4>
                                            </div>
                                            <h2 class="TxtGrn__">{{graph_data.ty_avg_item_per_customer}}</h2>
                                            <div class="PreSec">
                                                <div class="Seclft">
                                                    <h5>{{graph_data.ly_avg_item_per_customer}}</h5>
                                                    <p>PREV Y</p>
                                                </div>                                       
                                                <div class="Secrht">
                                                    {% set decrease = graph_data.ty_avg_item_per_customer-graph_data.ly_avg_item_per_customer %}
                                                    {% if graph_data.ly_avg_item_per_customer > 0 %}
                                                        {% set decrease = (decrease / graph_data.ly_avg_item_per_customer) * 100 %}
                                                    {% else %}
                                                        {% set decrease = 0 %}
                                                    {% endif %}
                                                    
                                                    {% if graph_data.ty_avg_item_per_customer > graph_data.ly_avg_item_per_customer %}
                                                        <h5><span class="GrnClr"> <i class="fas fa-caret-up"></i>
                                                    {% else %}
                                                        <h5><span class="RdClr"> <i class="fas fa-caret-down"></i>
                                                    {% endif %} 
                                                    {{ decrease|round(1) }}%</span></h5>
                                                    <p>SINCE <span>PREV Y</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                                        <div class="SalesTxt">
                                            <div class="revTxt">
                                                <h4><i class="fas fa-bullhorn"></i> Avg Spend <!--Per Customer--></h4>
                                            </div>
                                            <h2>${{graph_data.ty_avg_spend_per_customer}}</h2>
                                            <div class="PreSec">
                                                <div class="Seclft">
                                                    <h5>${{graph_data.ly_avg_spend_per_customer}}</h5>
                                                    <p>PREV Y</p>
                                                </div>                                       
                                                <div class="Secrht">
                                                    {% set decrease = graph_data.ty_avg_spend_per_customer-graph_data.ly_avg_spend_per_customer %}
                                                    {% if graph_data.ly_avg_spend_per_customer > 0 %}
                                                        {% set decrease = (decrease / graph_data.ly_avg_spend_per_customer) * 100 %}
                                                    {% else %}
                                                        {% set decrease = 0 %}
                                                    {% endif %}
                                                    {% if graph_data.ty_avg_spend_per_customer > graph_data.ly_avg_spend_per_customer %}
                                                        <h5><span class="GrnClr"> <i class="fas fa-caret-up"></i>
                                                    {% else %}
                                                        <h5><span class="RdClr"> <i class="fas fa-caret-down"></i>
                                                    {% endif %} 
                                                    {{ decrease|round(1) }}%</span></h5>
                                                    <p>SINCE <span>PREV Y</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                            <!-- First block end here -->

                            <!-- Second block start here -->
                            {% if 'filter_single_col_cls' in graph_data and graph_data.filter_single_col_cls == 'col-md-12' %}
                                {% set left_cls = ''%}
                            {% else %}
                                {% set left_cls = 'pl-0'%}
                            {% endif %}
                            <div class="row">
                                <!-- sales line chart HTML -->
                                <div class="{{graph_data.filter_single_col_cls}} col-12">
                                    <div class="demo-left-34 mt-3 demo-right">
                                        <h4>{{graph_data.ty_total_avg_item_per_customer}}
                                            {% set decrease = graph_data.ty_total_avg_item_per_customer-graph_data.ly_total_avg_item_per_customer %}
                                            {% if graph_data.ly_total_avg_item_per_customer > 0 %}
                                                {% set decrease = (decrease / graph_data.ly_total_avg_item_per_customer) * 100 %}
                                            {% else %}
                                                {% set decrease = 0 %}
                                            {% endif %}
                                            
                                            {% if graph_data.ty_total_avg_item_per_customer > graph_data.ly_total_avg_item_per_customer %}
                                                <span class="GRn">
                                            {% else %}
                                                <span class="GREd">
                                            {% endif %} 
                                            {{ decrease|round(1) }}%</span>
                                        </h4>
                                        <p class="SalPra"> <span> Avg Item Per Customer </span> in this year</p>
                                        <div class="">
                                            <div id="chartdiv1"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Demographic pie chart HTML -->
                                <div class="{{graph_data.filter_single_col_cls}} col-12 addPl-15 {{left_cls}}">
                                    <div class="demo-left-34 mt-3 demo-right">
                                            <h4>${{graph_data.ty_demo_sales_count}}M
                                                {% set decrease = graph_data.ty_demo_sales_count-graph_data.ly_demo_sales_count %}
                                                {% if graph_data.ly_demo_sales_count > 0 %}
                                                    {% set decrease = (decrease / graph_data.ly_demo_sales_count) * 100 %}
                                                {% else %}
                                                    {% set decrease = 0 %}
                                                {% endif %}
                                                
                                                {% if graph_data.ty_demo_sales_count > graph_data.ly_demo_sales_count %}
                                                    <span class="GRn">
                                                {% else %}
                                                    <span class="GREd">
                                                {% endif %} 
                                                {{ decrease|round(1) }}%</span>
                                            </h4>
                                            <p class="SalPra"> <span> Sales by Demographic </span> in this year</p>
                                        <!-- <h4 class="">Sales by Demographic</h4>
                                        <p class="SalPra">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p> -->
                                        <div id="chartwrapper">
                                            <div id="demo_chartdiv"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Second block end here -->
                        </div>

                        <!-- Third block start here -->
                        <div class="row">
                            <!-- Region bar chart HTML -->
                            <div class="{{graph_data.filter_single_col_cls}} col-12">
                                <div class="demo-left-34 mt-3 demo-right">
                                    <h4 class="">${{graph_data.ty_region_sales_count}}M
                                        {% set decrease = graph_data.ty_region_sales_count-graph_data.ly_region_sales_count %}
                                        {% if graph_data.ly_region_sales_count > 0 %}
                                            {% set decrease = (decrease / graph_data.ly_region_sales_count) * 100 %}
                                        {% else %}
                                            {% set decrease = 0 %}
                                        {% endif %}
                                        
                                        {% if graph_data.ty_region_sales_count > graph_data.ly_region_sales_count %}
                                            <span class="GRn">
                                        {% else %}
                                            <span class="GREd">
                                        {% endif %} 
                                        {{ decrease|round(1) }}%</span>
                                    </h4>
                                    <p class="SalPra"> <span> Sales by Region </span> in this year</p>
                                    <div class="">
                                        <div id="region_chartdiv"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Sales group bar chart HTML -->
                            <div class="{{graph_data.filter_single_col_cls}} col-12 addPl-15 {{left_cls}}">
                                <div class="demo-left-34 mt-3 demo-right">
                                    <h4 class="">${{graph_data.ty_group_sales_count}}M
                                        {% set decrease = graph_data.ty_group_sales_count-graph_data.ly_group_sales_count %}
                                        {% if graph_data.ly_group_sales_count > 0 %}
                                            {% set decrease = (decrease / graph_data.ly_group_sales_count) * 100 %}
                                        {% else %}
                                            {% set decrease = 0 %}
                                        {% endif %}
                                       
                                        {% if graph_data.ty_group_sales_count > graph_data.ly_group_sales_count %}
                                            <span class="GRn">
                                        {% else %}
                                            <span class="GREd">
                                        {% endif %} 
                                        {{ decrease|round(1) }}%</span>
                                    </h4>
                                    <p class="SalPra"> <span> Sales by Group </span> in this year</p>
                                    <div class="">
                                        <div id="group_chartdiv"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Third block end here -->

                        <!-- Fourth block start here -->
                        <div class="row">
                            <!-- sales line chart HTML -->
                            <div class="{{graph_data.filter_single_col_cls}} col-12">
                                <div class="demo-left-34 mt-3 demo-right">
                                    <h4 class="">{{graph_data.ty_total_customers}}M
                                        {% set decrease = graph_data.ty_total_customers-graph_data.ly_total_customers %}
                                        {% if graph_data.ly_total_customers > 0 %}
                                            {% set decrease = (decrease / graph_data.ly_total_customers) * 100 %}
                                        {% else %}
                                            {% set decrease = 0 %}
                                        {% endif %}
                                        
                                        {% if graph_data.ty_total_customers > graph_data.ly_total_customers %}
                                            <span class="GRn">
                                        {% else %}
                                            <span class="GREd">
                                        {% endif %} 
                                        {{ decrease|round(1) }}%</span>
                                    </h4>
                                    <p class="SalPra"> <span> Total Customers </span> in this year</p>
                                    <div class="">
                                        <div id="saleschartdiv"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- AM zone pie chart HTML -->
                            <div class="{{graph_data.filter_single_col_cls}} col-12 addPl-15 {{left_cls}}">
                                <div class="demo-left-34 mb-3 mt-3 demo-right">
                                    <h4 class="">${{graph_data.ty_rtm_sales_count}}M
                                        {% set decrease = graph_data.ty_rtm_sales_count-graph_data.ly_rtm_sales_count %}
                                        {% if graph_data.ly_rtm_sales_count > 0 %}
                                            {% set decrease = (decrease / graph_data.ly_rtm_sales_count) * 100 %}
                                        {% else %}
                                            {% set decrease = 0 %}
                                        {% endif %}
                                        
                                        {% if graph_data.ty_rtm_sales_count > graph_data.ly_rtm_sales_count %}
                                            <span class="GRn">
                                        {% else %}
                                            <span class="GREd">
                                        {% endif %} 
                                        {{ decrease|round(1) }}%</span>
                                    </h4>
                                    <p class="SalPra"> <span> Sales by RTM </span> in this year</p>
                                    <div class="">
                                        <div id="rtm_chartdiv"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fourth block end here -->

                        <!-- <div class="row">
                            <footer class="footer"> © 2019 Coyote</footer>
                        </div> -->
                    </div>
                </div>
            </div>    
        </section>

        <!-- Resources -->
        <style>
            /*body { background-color: #30303d!important; color: #fff!important; }*/
            
            .amcharts-amexport-menu-level-0.amcharts-amexport-top {
                top: -71px!important;
                bottom: auto!important;
            }
            .amcharts-amexport-item.amcharts-amexport-item-level-0{
                opacity: 0.8;
            }
            .amcharts-amexport-item.amcharts-amexport-item-level-0 > a{
                color: rgb(51, 51, 51);
            }
            #saleschartdiv {
                width: 100%;
                height: 400px;
            }
            #group_chartdiv {
                width: 100%;
                height: 500px;
            }
            #region_chartdiv {
                width: 100%;
                height: 500px;
            }
            #chartdiv1 {
                width: 100%;
                height: 350px;
            }
            #rtm_chartdiv {
                width: 100%;
                height: 400px;
            }
            #demo_chartdiv {
                width: 100%;
                height: 350px;
            }
        </style>
        <!-- Chart scripts -->
        <script>
            // Set filter params
            var is_grid_show = {{graph_data.filter_gridline}};
            var theme = {{graph_data.filter_theme}};
            
            am4core.ready(function() {
                // Themes begin
                configure_theme(am4core,theme);
                // Themes end

                /********************************************
                * Avg Item Per Customer Chart
                *********************************************/

                // Create chart instance
                var chart = am4core.create("chartdiv1", am4charts.XYChart);
                chart.hiddenState.properties.opacity = 0; // this creates initial fade-in
                // Add data
                chart.data = {{graph_data.ty_ly_spend_per_customers|tojson}};
                var diffrence_years = {{graph_data.ty_ly_spend_per_customers_years|tojson}};
                // Create category axis
                var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
                categoryAxis.dataFields.category = "months";
                categoryAxis.renderer.opposite = false;

                categoryAxis.renderer.grid.template.location = 0;
                categoryAxis.renderer.minGridDistance = 30;
                categoryAxis.renderer.labels.template.horizontalCenter = "right";
                categoryAxis.renderer.labels.template.verticalCenter = "middle";
                categoryAxis.renderer.labels.template.rotation = 270;
                categoryAxis.tooltip.disabled = true;
                categoryAxis.renderer.minHeight = 110;
                
                var label = categoryAxis.renderer.labels.template;
                label.wrap = true;
                label.maxWidth = 120;
                label.fontSize = 12;
                label.fontFamily  = "'Open Sans', sans-serif";
                label.fill =  am4core.color("#b5b5b5");

                // Create value axis
                var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                valueAxis.renderer.inversed = false;
                valueAxis.title.text = "Item";
                valueAxis.title.fontFamily  = "'Open Sans', sans-serif";
                valueAxis.title.fill =  am4core.color("#b5b5b5");
                valueAxis.title.fontWeight = 800;
                valueAxis.renderer.minLabelPosition = 0.01;
                valueAxis.renderer.labels.template.fontSize = 12;
                valueAxis.renderer.labels.template.fontFamily = "'Open Sans', sans-serif";
                valueAxis.renderer.labels.template.fill =  am4core.color("#b5b5b5");

                // Create series
                var series1 = chart.series.push(new am4charts.LineSeries());
                series1.dataFields.valueY = "ty_sales";
                series1.dataFields.categoryX = "months";
                series1.name = "This Year:"+diffrence_years[0];
                series1.strokeWidth = 1;
                series1.tooltipText = "{valueY}";
                series1.legendSettings.valueText = "{valueY}";
                series1.visible  = false;
                //series1.stroke = am4core.color('#15807e');
                //series1.fill = am4core.color('#15807e');
                var circleBullet = series1.bullets.push(new am4charts.CircleBullet());
                circleBullet.circle.stroke = am4core.color("#fff");
                circleBullet.circle.strokeWidth = 1;

                var series2 = chart.series.push(new am4charts.LineSeries());
                series2.dataFields.valueY = "ly_sales";
                series2.dataFields.categoryX = "months";
                series2.name = 'Last Year:'+diffrence_years[1];
                series2.strokeWidth = 1;
                series2.tooltipText = "{valueY}";
                series2.legendSettings.valueText = "{valueY}";
                //series2.stroke = am4core.color('#7dcbab');
                //series2.fill = am4core.color('#7dcbab');
                var circleBullet = series2.bullets.push(new am4charts.CircleBullet());
                circleBullet.circle.stroke = am4core.color("#fff");
                circleBullet.circle.strokeWidth = 1;

                var series3 = chart.series.push(new am4charts.LineSeries());
                series3.dataFields.valueY = "sly_sales";
                series3.dataFields.categoryX = "months";
                series3.name = 'Second Last Year:'+diffrence_years[2];
                series3.strokeWidth = 1;
                series3.tooltipText = "{valueY}";
                series3.legendSettings.valueText = "{valueY}";
                var circleBullet = series3.bullets.push(new am4charts.CircleBullet());
                circleBullet.circle.stroke = am4core.color("#fff");
                circleBullet.circle.strokeWidth = 1;

                // Add chart cursor
                chart.cursor = new am4charts.XYCursor();
                chart.cursor.behavior = "zoomY";

                // Add legend
                chart.legend = new am4charts.Legend();
                chart.legend.fontSize = 12;
                // Export option
                chart.exporting.menu = new am4core.ExportMenu();
                chart.exporting.menu.align = "right";
                chart.exporting.menu.verticalAlign = "top";
                // remove grid lines
                if(is_grid_show == '') {
                    categoryAxis.renderer.grid.template.disabled = true;
                    valueAxis.renderer.grid.template.disabled = true;
                }
                
                /********************************
                * Group sales bar chart
                *********************************/

                var group_data = {{ graph_data.group_sales|tojson }};
                // Create chart instance
                var chart = am4core.create("group_chartdiv", am4charts.XYChart);

                // Add percent sign to all numbers
                chart.numberFormatter.numberFormat = "#'M'";

                // Add data
                chart.data = group_data;

                // Create axes
                var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
                categoryAxis.dataFields.category = "groups";
                categoryAxis.renderer.grid.template.location = 0;
                categoryAxis.renderer.minGridDistance = 30;
                categoryAxis.renderer.labels.template.horizontalCenter = "right";
                categoryAxis.renderer.labels.template.verticalCenter = "middle";
                categoryAxis.renderer.labels.template.rotation = 270;
                categoryAxis.tooltip.disabled = true;
                categoryAxis.renderer.minHeight = 110;

                var label = categoryAxis.renderer.labels.template;
                label.wrap = true;
                label.maxWidth = 120;
                label.fontSize = 12;
                label.fontFamily  = "'Open Sans', sans-serif";
                label.fill =  am4core.color("#b5b5b5");

                var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                valueAxis.title.text = "Amount(AUD)";
                valueAxis.title.fontFamily  = "'Open Sans', sans-serif";
                valueAxis.title.fill =  am4core.color("#b5b5b5");
                valueAxis.title.fontWeight = 800;
                valueAxis.renderer.labels.template.fontSize = 12;
                valueAxis.renderer.labels.template.fontFamily = "'Open Sans', sans-serif";
                valueAxis.renderer.labels.template.fill =  am4core.color("#b5b5b5");

                // Create series
                var series = chart.series.push(new am4charts.ColumnSeries());
                series.dataFields.valueY = "ly_value";
                series.dataFields.categoryX = "groups";
                series.clustered = false;
                series.tooltipText = "{categoryX} : [bold]{valueY}[/]";
                series.legendSettings.valueText = "Previous Year";

                var series2 = chart.series.push(new am4charts.ColumnSeries());
                series2.dataFields.valueY = "ty_value";
                series2.dataFields.categoryX = "groups";
                series2.clustered = false;
                series2.columns.template.width = am4core.percent(50);
                series2.tooltipText = "{categoryX} : [bold]{valueY}[/]";
                series2.legendSettings.valueText = "This Year";

                chart.cursor = new am4charts.XYCursor();
                chart.cursor.lineX.disabled = true;
                chart.cursor.lineY.disabled = true;
                // Add legend
                chart.legend = new am4charts.Legend();
                chart.legend.fontSize = 12;
                // Export option
                chart.exporting.menu = new am4core.ExportMenu();
                chart.exporting.menu.align = "right";
                chart.exporting.menu.verticalAlign = "top";
                // remove grid lines
                if(is_grid_show == '') {
                    categoryAxis.renderer.grid.template.disabled = true;
                    valueAxis.renderer.grid.template.disabled = true;
                }
            });

            /**********************************
            * RTM zone chart 
            **********************************/ 
            am4core.ready(function() {
                // Themes begin
                configure_theme(am4core,theme);
                // Themes end

                // Create chart instance
                var chart = am4core.create("rtm_chartdiv", am4charts.XYChart);
                chart.numberFormatter.numberFormat = "#'M'";
                var rtm_data = {{ graph_data.rtm_sales|tojson }};
                // Add data
                chart.data = rtm_data
                // Create axes
                var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
                categoryAxis.dataFields.category = "year";
                categoryAxis.renderer.grid.template.location = 0;
                
                var label = categoryAxis.renderer.labels.template;
                label.wrap = true;
                label.maxWidth = 120;
                label.fontSize = 12;
                label.fontFamily  = "'Open Sans', sans-serif";
                label.fill =  am4core.color("#b5b5b5");

                var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                valueAxis.renderer.inside = true;
                valueAxis.renderer.labels.template.disabled = true;
                valueAxis.min = 0;

                // Create series
                function createSeries(field, name) {
                
                    // Set up series
                    var series = chart.series.push(new am4charts.ColumnSeries());
                    series.name = name;
                    series.dataFields.valueY = field;
                    series.dataFields.categoryX = "year";
                    series.sequencedInterpolation = true;
                    
                    // Make it stacked
                    series.stacked = true;
                    
                    // Configure columns
                    series.columns.template.width = am4core.percent(60);
                    series.columns.template.tooltipText = "[bold]{name}[/]\n[font-size:14px]{categoryX}: {valueY}";
                    
                    // Add label
                    var labelBullet = series.bullets.push(new am4charts.LabelBullet());
                    labelBullet.label.text = "{valueY}";
                    labelBullet.locationY = 0.5;
                    return series;
                }
                
                var catData = {{graph_data.rtm_categories|tojson}};
                for(i=0;i<catData.length;i++) {
                    createSeries(catData[i]['lbl_key'], catData[i]['lbl_value']);
                }
                // Legend
                chart.legend = new am4charts.Legend();
                chart.legend.fontSize = 12;
                // Export option
                chart.exporting.menu = new am4core.ExportMenu();
                chart.exporting.menu.align = "right";
                chart.exporting.menu.verticalAlign = "top";
            }); // end am4core.ready()
            
            /********************************
            * Display Region bar chart
            *********************************/
            am4core.ready(function() {
                configure_theme(am4core,theme);
                var region_data = {{ graph_data.region_sales|tojson }};
                // Create chart instance
                var chart = am4core.create("region_chartdiv", am4charts.XYChart);
                // Add data
                chart.data = region_data;
                // Create axes
                var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
                categoryAxis.dataFields.category = "regions";
                categoryAxis.numberFormatter.numberFormat = "#'M'";
                categoryAxis.renderer.inversed = true;
                categoryAxis.renderer.grid.template.location = 0;
                categoryAxis.renderer.cellStartLocation = 0.1;
                categoryAxis.renderer.cellEndLocation = 0.9;
                
                var label = categoryAxis.renderer.labels.template;
                label.wrap = true;
                label.maxWidth = 120;
                label.fontSize = 12;
                label.fontFamily  = "'Open Sans', sans-serif";
                label.fill =  am4core.color("#b5b5b5");

                var  valueAxis = chart.xAxes.push(new am4charts.ValueAxis()); 
                valueAxis.renderer.opposite = true;
                valueAxis.renderer.labels.template.fontSize = 10;
                valueAxis.renderer.labels.template.disabled = true;
                // Create series
                function createSeries(field, name, color) {
                    var series = chart.series.push(new am4charts.ColumnSeries());
                    series.dataFields.valueX = field;
                    series.dataFields.categoryY = "regions";
                    series.name = name;
                    series.columns.template.tooltipText = "{name}: [bold]{valueX}[/]";
                    series.columns.template.height = am4core.percent(100);
                    series.sequencedInterpolation = true;
                    //series.columns.template.stroke = am4core.color(color);
                    //series.columns.template.fill = am4core.color(color);

                    var valueLabel = series.bullets.push(new am4charts.LabelBullet());
                    valueLabel.label.text = "{valueX}";
                    valueLabel.label.horizontalCenter = "left";
                    valueLabel.label.dx = 10;
                    valueLabel.label.hideOversized = false;
                    valueLabel.label.truncate = false;

                    var categoryLabel = series.bullets.push(new am4charts.LabelBullet());
                    //categoryLabel.label.text = "{name}";
                    categoryLabel.label.horizontalCenter = "right";
                    categoryLabel.label.dx = -10;
                    categoryLabel.label.fill = am4core.color("#fff");
                    categoryLabel.label.hideOversized = false;
                    categoryLabel.label.truncate = false;
                }
                // remove grid lines
                if(is_grid_show == '') {
                    categoryAxis.renderer.grid.template.disabled = true;
                    valueAxis.renderer.grid.template.disabled = true;
                }
                createSeries("ly_value", "Previous Year","#ff527b");
                createSeries("ty_value", "This Year","#e20d3f");
                // Add legend
                chart.legend = new am4charts.Legend();
                chart.legend.fontSize = 12;
                // Export option
                chart.exporting.menu = new am4core.ExportMenu();
                chart.exporting.menu.align = "right";
                chart.exporting.menu.verticalAlign = "top";
            });

            /**********************************
            * Demographic zone chart 
            **********************************/
            am4core.ready(function() {
                configure_theme(am4core,theme);
                var demo_data = {{ graph_data.demo_sales|tojson }};
                // Create chart instance
                var chart = am4core.create("demo_chartdiv", am4charts.PieChart);

                // Let's cut a hole in our Pie chart the size of 40% the radius
                chart.innerRadius = am4core.percent(40);
                // Add percent sign to all numbers
                chart.numberFormatter.numberFormat = "#'M'";
                // Add data
                chart.data = demo_data;

                // Add and configure Series
                var pieSeries = chart.series.push(new am4charts.PieSeries());
                pieSeries.dataFields.value = "ly_value";
                pieSeries.dataFields.category = "demos";
                pieSeries.slices.template.stroke = am4core.color("#fff");
                pieSeries.slices.template.strokeWidth = 2;
                pieSeries.slices.template.strokeOpacity = 1;
                
                // Disabling labels and ticks on inner circle
                pieSeries.labels.template.disabled = true;
                pieSeries.ticks.template.disabled = true;

                // Disable sliding out of slices
                pieSeries.slices.template.states.getKey("hover").properties.shiftRadius = 0;
                pieSeries.slices.template.states.getKey("hover").properties.scale = 0.9;
                pieSeries.fontFamily  = "'Open Sans', sans-serif";
                pieSeries.labels.template.fill =  am4core.color("#b5b5b5");
                pieSeries.fontSize = 10;
                pieSeries.tooltip.fontSize = 10;
                // Add second series
                var pieSeries2 = chart.series.push(new am4charts.PieSeries());
                pieSeries2.dataFields.value = "ty_value";
                pieSeries2.dataFields.category = "demos";
                pieSeries2.slices.template.stroke = am4core.color("#fff");
                pieSeries2.slices.template.strokeWidth = 2;
                pieSeries2.slices.template.strokeOpacity = 1;
                pieSeries2.slices.template.states.getKey("hover").properties.shiftRadius = 0;
                pieSeries2.slices.template.states.getKey("hover").properties.scale = 1.1;
                pieSeries2.fontFamily  = "'Open Sans', sans-serif";
                pieSeries2.labels.template.fill =  am4core.color("#b5b5b5");
                pieSeries2.fontSize = 10;
                pieSeries2.tooltip.fontSize = 10;
                // Export option
                chart.exporting.menu = new am4core.ExportMenu();
                chart.exporting.menu.align = "right";
                chart.exporting.menu.verticalAlign = "top";
            }); 

            /**************************************
            * Total Transactions
            ***************************************/
            am4core.ready(function() {
                configure_theme(am4core,theme);
                // Create chart instance
                var chart = am4core.create("saleschartdiv", am4charts.XYChart);
                var ty_ly_sales_years = {{graph_data.ty_ly_sales_years|tojson}};
                // Add data
                chart.data = {{graph_data.ty_ly_sales|tojson}};

                // Create category axis
                var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
                categoryAxis.dataFields.category = "months";
                categoryAxis.renderer.opposite = false;

                categoryAxis.renderer.grid.template.location = 0;
                categoryAxis.renderer.minGridDistance = 30;
                categoryAxis.renderer.labels.template.horizontalCenter = "right";
                categoryAxis.renderer.labels.template.verticalCenter = "middle";
                categoryAxis.renderer.labels.template.rotation = 270;
                categoryAxis.tooltip.disabled = true;
                categoryAxis.renderer.minHeight = 110;
                
                var label = categoryAxis.renderer.labels.template;
                label.wrap = true;
                label.maxWidth = 120;
                label.fontSize = 12;
                label.fontFamily  = "'Open Sans', sans-serif";
                label.fill =  am4core.color("#b5b5b5");
                // Create value axis
                var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                valueAxis.renderer.inversed = false;
                valueAxis.title.text = "Customers";
                valueAxis.title.fontFamily  = "'Open Sans', sans-serif";
                valueAxis.title.fill =  am4core.color("#b5b5b5");
                valueAxis.title.fontWeight = 800;
                valueAxis.renderer.minLabelPosition = 0.01;
                valueAxis.renderer.labels.template.fontSize = 12;
                valueAxis.renderer.labels.template.fontFamily = "'Open Sans', sans-serif";
                valueAxis.renderer.labels.template.fill =  am4core.color("#b5b5b5");

                // Create series
                var series1 = chart.series.push(new am4charts.LineSeries());
                series1.dataFields.valueY = "ty_sales";
                series1.dataFields.categoryX = "months";
                series1.name = "This Year:"+ty_ly_sales_years[0];
                series1.strokeWidth = 1;
                series1.tooltipText = "{valueY}";
                series1.visible  = false;
                
                var circleBullet = series1.bullets.push(new am4charts.CircleBullet());
                circleBullet.circle.stroke = am4core.color("#fff");
                circleBullet.circle.strokeWidth = 1;

                var series2 = chart.series.push(new am4charts.LineSeries());
                series2.dataFields.valueY = "ly_sales";
                series2.dataFields.categoryX = "months";
                series2.name = 'Last Year:'+ty_ly_sales_years[1];
                series2.strokeWidth = 1;
                series2.tooltipText = "{valueY}";
                
                var circleBullet = series2.bullets.push(new am4charts.CircleBullet());
                circleBullet.circle.stroke = am4core.color("#fff");
                circleBullet.circle.strokeWidth = 1;

                var series3 = chart.series.push(new am4charts.LineSeries());
                series3.dataFields.valueY = "sly_sales";
                series3.dataFields.categoryX = "months";
                series3.name = 'Second Last Year:'+ty_ly_sales_years[2];
                series3.strokeWidth = 1;
                series3.tooltipText = "{valueY}";
                var circleBullet = series3.bullets.push(new am4charts.CircleBullet());
                circleBullet.circle.stroke = am4core.color("#fff");
                circleBullet.circle.strokeWidth = 1;

                // Add chart cursor
                chart.cursor = new am4charts.XYCursor();
                chart.cursor.behavior = "zoomY";

                // Add legend
                chart.legend = new am4charts.Legend();
                chart.legend.fontSize = 12;
                // Export option
                chart.exporting.menu = new am4core.ExportMenu();
                chart.exporting.menu.align = "right";
                chart.exporting.menu.verticalAlign = "top";
                // remove grid lines
                if(is_grid_show == '') {
                    categoryAxis.renderer.grid.template.disabled = true;
                    valueAxis.renderer.grid.template.disabled = true;
                }
            });
            
            // Init filter date
            $("#start_date").datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                weekStart: 1,
                forceParse: true,
            }).on('changeDate', function (selected) {
                // show loader
                $(".loader-box").fadeIn("slow");
                var filter_date = $("#start_date").data('datepicker').getFormattedDate('yyyy-mm-dd');
                // Init ajax for store date in session
                 $.ajax({
                   type: 'GET',
                    url: 'set_dashboard_filters',
                    data : {
                        filter_date:filter_date
                     },
                    contentType: "application/json",
                     success:function(data){
                        //console.log(data);
                        window.location.href = window.location.href;
                     },
                    error: function(data) { // if error 
                        $(".loader-box").fadeOut("show");
                        alert("Error occured.please try again");
                    }
                });
            });                                                        
        </script>
    {% endblock %}

