<div class="row">
    <!-- This year vs Last year sales chart -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                 <h4 class="card-title m-b-0"> <span class='sel_parent_lbl'></span> TY v/s LY Sales</h4>
            </div>
            <div class="card-body">
                <div id="saleschartdiv" class="chartdiv"></div>
            </div>
        </div>
    </div>
    <!-- This year vs Last year GP% chart -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title m-b-0"><span class='sel_parent_lbl'></span> TY v/s LY GP%</h4>
            </div>
            <div class="card-body">
                <div id="gpchartdiv" class="chartdiv"></div>
            </div>
        </div>
    </div>
    <!-- This year vs Last year Average basket chart -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title m-b-0"> <span class='sel_parent_lbl'></span> TY v/s LY Average Basket</h4>
            </div>
            <div class="card-body">
                <div id="avgbskchartdiv" class="chartdiv"></div>
            </div>
        </div>
    </div>
    <!-- This year vs Last year customers chart -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title m-b-0"> <span class='sel_parent_lbl'></span> TY v/s LY Customers</h4>
            </div>
            <div class="card-body">
                <div id="customerchartdiv" class="chartdiv"></div>
            </div>
        </div>
    </div>
</div>
<!-- Chart code -->
<script>
    // TYS Vs LYS  chart
    var charts = AmCharts.makeChart("saleschartdiv", {
        "type": "serial",
        "theme": "light",
        "legend": {
            "useGraphSettings": true
        },
        "dataProvider": {{graph_data.ty_ly_sales|tojson}},
        "valueAxes": [{
            "integersOnly": true,
            "reversed": false,
            "axisAlpha": 0,
            "dashLength": 5,
            "gridCount": 10,
            "position": "left",
            "title": "CPC",
            "autoGridCount":false,
            "labelFrequency":10,
            "title": "Sales"
        }],
        "startDuration": 0.5,
        "graphs": [{
            "balloonText": "[[value]]",
            "bullet": "round",
            "title": "This Year Sales",
            "valueField": "ty_sales",
            "fillAlphas": 0
        }, {
            "balloonText": "[[value]]",
            "bullet": "round",
            "title": "Last Year Sales",
            "valueField": "ly_sales",
            "fillAlphas": 0
        }],
        "chartCursor": {
            "cursorAlpha": 0,
            "zoomable": false
        },
        "categoryField": "months",
        "categoryAxis": {
            "gridPosition": "start",
            //"autoGridCount": false,
            //"gridCount": 1000,
            "labelRotation": 90, //recommended if you have a lot of labels
            "axisHeight": 50,  //recommended to avoid overlap with the scrollbar
            "axisAlpha": 0,
            "fillAlpha": 0.05,
            "fillColor": "#000000",
            "gridAlpha": 0,
            "position": "bottom"
        },
        "export": {
            "enabled": true,
            "position": "bottom-right"
        }
    });
    
    // TYGP Vs LYGP  chart
    var charts = AmCharts.makeChart("gpchartdiv", {
        "type": "serial",
        "theme": "light",
        "legend": {
            "useGraphSettings": true
        },
        "dataProvider": {{graph_data.ty_ly_gp|tojson}},
        "valueAxes": [{
            "integersOnly": true,
            "reversed": false,
            "axisAlpha": 0,
            "dashLength": 5,
            "gridCount": 10,
            "position": "left",
            "title": "GP%"
        }],
        "startDuration": 0.5,
        "graphs": [{
            "balloonText": "[[value]]",
            "bullet": "round",
            "title": "This Year GP%",
            "valueField": "ty_gp",
            "fillAlphas": 0
        }, {
            "balloonText": "[[value]]",
            "bullet": "round",
            "title": "Last Year GP%",
            "valueField": "ly_gp",
            "fillAlphas": 0
        }],
        "chartCursor": {
            "cursorAlpha": 0,
            "zoomable": false
        },
        "categoryField": "months",
        "categoryAxis": {
            "gridPosition": "start",
            "axisAlpha": 0,
            "fillAlpha": 0.05,
            "fillColor": "#000000",
            "gridAlpha": 0,
            "position": "bottom",
            "labelRotation": 90
        },
        "export": {
            "enabled": true,
            "position": "bottom-right"
        }
    });

    // TYAVG Vs LYAVG  chart
    var charts = AmCharts.makeChart("avgbskchartdiv", {
        "type": "serial",
        "theme": "light",
        "legend": {
            "useGraphSettings": true
        },
        "dataProvider": {{graph_data.ty_ly_avgbkt|tojson}},
        "valueAxes": [{
            "integersOnly": true,
            "reversed": false,
            "axisAlpha": 0,
            "dashLength": 5,
            "gridCount": 10,
            "position": "left",
            "title": "Avg Basket"
        }],
        "startDuration": 0.5,
        "graphs": [{
            "balloonText": "[[value]]",
            "bullet": "round",
            "title": "This Year Avg Basket",
            "valueField": "ty_avgbkt",
            "fillAlphas": 0
        }, {
            "balloonText": "[[value]]",
            "bullet": "round",
            "title": "Last Year Avg Basket",
            "valueField": "ly_avgbkt",
            "fillAlphas": 0
        }],
        "chartCursor": {
            "cursorAlpha": 0,
            "zoomable": false
        },
        "categoryField": "months",
        "categoryAxis": {
            "gridPosition": "start",
            "axisAlpha": 0,
            "fillAlpha": 0.05,
            "fillColor": "#000000",
            "gridAlpha": 0,
            "position": "bottom",
            "labelRotation": 90
        },
        "export": {
            "enabled": true,
            "position": "bottom-right"
        }
    });

    // TYC Vs LYC  chart
    var charts = AmCharts.makeChart("customerchartdiv", {
        "type": "serial",
        "theme": "light",
        "legend": {
            "useGraphSettings": true
        },
        "dataProvider": {{graph_data.ty_ly_cpc|tojson}},
        "valueAxes": [{
            "integersOnly": true,
            "reversed": false,
            "axisAlpha": 0,
            "dashLength": 5,
            "gridCount": 10,
            "position": "left",
            "title": "Customers"
        }],
        "startDuration": 0.5,
        "graphs": [{
            "balloonText": "[[value]]",
            "bullet": "round",
            "title": "This Year Customers",
            "valueField": "ty_customers",
            "fillAlphas": 0
        }, {
            "balloonText": "[[value]]",
            "bullet": "round",
            "title": "Last Year Customers",
            "valueField": "ly_customers",
            "fillAlphas": 0
        }],
        "chartCursor": {
            "cursorAlpha": 0,
            "zoomable": false
        },
        "categoryField": "months",
        "categoryAxis": {
            "gridPosition": "start",
            "axisAlpha": 0,
            "fillAlpha": 0.05,
            "fillColor": "#000000",
            "gridAlpha": 0,
            "position": "bottom",
            "labelRotation": 90
        },
        "export": {
            "enabled": true,
            "position": "bottom-right"
        }
    });
</script>    