<section class="demo">
    <div class="container-fluid">    
        <div class="row">
            <div class="col-md-12 col-12">
                {% if graph_data.ty_ly_sales|length > 0 %}
                    {% if 'filter_single_col_cls' in graph_data and graph_data.filter_single_col_cls == 'col-md-12' %}
                        {% set left_cls = ''%}
                    {% else %}
                        {% set left_cls = 'pl-0'%}
                    {% endif %}
                    <div class="row">
                        <!-- Sales chart -->
                        <div class="{{graph_data.filter_single_col_cls}} col-12">
                            <div class="demo-left-34 mt-3 demo-right">
                                <h4 class="">${{graph_data.tys_count}}
                                </h4>
                                <p class="SalPra"> <span> Total Sales </span> in selected date range</p>
                                <div class="">
                                    <div id="saleschartdiv" class="chartdiv"></div>
                                </div>
                            </div>
                        </div>
                        <!-- GP% chart -->
                        <div class="{{graph_data.filter_single_col_cls}} col-12 {{left_cls}}">
                            <div class="demo-left-34 mt-3 demo-right">
                                <h4 class="">{{graph_data.tygp_count}}%
                                </h4>
                                <p class="SalPra"> <span> GP% </span> in selected date range</p>
                                <div class="">
                                    <div id="gpchartdiv" class="chartdiv"></div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    
                    <div class="row">
                        <!-- Average basket chart -->
                        <div class="{{graph_data.filter_single_col_cls}} col-12">
                            <div class="demo-left-34 mt-3 demo-right">
                                <h4 class="">{{graph_data.tyavgp_count}}
                                </h4>
                                <p class="SalPra"> <span> Average Basket </span> in selected date range</p>
                                <div class="">
                                    <div id="avgbskchartdiv" class="chartdiv"></div>
                                </div>
                            </div>
                        </div>
                        <!-- customers chart -->
                        <div class="{{graph_data.filter_single_col_cls}} col-12 {{left_cls}}">
                            <div class="demo-left-34 mt-3 demo-right">
                                <h4 class="">{{graph_data.tyc_count}}
                                </h4>
                                <p class="SalPra"> <span> Customers </span> in selected date range</p>
                                <div class="">
                                    <div id="customerchartdiv" class="chartdiv"></div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="row">
                        <!-- item per customers chart -->
                        <div class="{{graph_data.filter_single_col_cls}} col-12">
                            <div class="demo-left-34 mb-3 mt-3 demo-right">
                                <h4 class="">{{graph_data.tyavgitem_count}}
                                </h4>
                                <p class="SalPra"> <span> Average Item </span> in selected date range</p>
                                <div class="">
                                    <div id="avgitemchartdiv" class="chartdiv"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                
        
                    <!-- Chart code -->
                    <script>
                        // Set filter params
                        var is_grid_show = {{graph_data.filter_gridline}};
                        var theme = {{graph_data.filter_theme}};
                        // TYS Vs LYS  chart
                        am4core.ready(function() {
                            // Themes begin
                            configure_theme(am4core,theme);
                            // Themes end
                            // Create chart instance
                            var chart = am4core.create("saleschartdiv", am4charts.XYChart);
                            // Add data
                            chart.data = {{graph_data.ty_ly_sales|tojson}};
                            // Create axes
                            var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                            dateAxis.renderer.minGridDistance = 50;
                            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                            var catData = {{graph_data.sales_categories|tojson}};
                            
                            for(i=0;i<catData.length;i++) {
                                // increment count value by 1
                                keyCount = i+1
                                // Create series
                                var series = chart.series.push(new am4charts.LineSeries());
                                series.dataFields.valueY = "category_sales_"+keyCount.toString();
                                series.dataFields.dateX = "date";
                                series.strokeWidth = 2;
                                series.minBulletDistance = 10;
                                series.tooltipText = "{valueY}";
                                series.tooltip.pointerOrientation = "vertical";
                                series.tooltip.background.cornerRadius = 20;
                                series.tooltip.background.fillOpacity = 0.5;
                                series.tooltip.label.padding(12,12,12,12)
                                series.name = catData[i]['title'];
                                series.legendSettings.valueText = "{valueY}";
                                // Add scrollbar
                                chart.scrollbarX = new am4charts.XYChartScrollbar();
                                chart.scrollbarX.series.push(series);
                            
                                // Add cursor
                                chart.cursor = new am4charts.XYCursor();
                                chart.cursor.xAxis = dateAxis;
                                chart.cursor.snapToSeries = series;
                            }
                            // Add legend
                            chart.legend = new am4charts.Legend();
                            chart.legend.fontSize = 10
                            // Export option
                            chart.exporting.menu = new am4core.ExportMenu();
                            chart.exporting.menu.align = "right";
                            chart.exporting.menu.verticalAlign = "top";
                            // remove grid lines
                            if(is_grid_show == '') {
                                dateAxis.renderer.grid.template.disabled = true;
                                valueAxis.renderer.grid.template.disabled = true;
                            }
                        }); // end am4core.ready()
                    
                        // TYGP Vs LYGP  
                        am4core.ready(function() {
                            // Themes begin
                            configure_theme(am4core,theme);
                            // Themes end
                            // Create chart instance
                            var chart = am4core.create("gpchartdiv", am4charts.XYChart);
                            // Add data
                            chart.data = {{graph_data.ty_ly_gp|tojson}};
                            // Create axes
                            var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                            dateAxis.renderer.minGridDistance = 50;
                            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                            var catData = {{graph_data.gp_categories|tojson}};
                            
                            for(i=0;i<catData.length;i++) {
                                // increment count value by 1
                                keyCount = i+1
                                // Create series
                                var series = chart.series.push(new am4charts.LineSeries());
                                series.dataFields.valueY = "category_gp_"+keyCount.toString();
                                series.dataFields.dateX = "date";
                                series.strokeWidth = 2;
                                series.minBulletDistance = 10;
                                series.tooltipText = "{valueY}";
                                series.tooltip.pointerOrientation = "vertical";
                                series.tooltip.background.cornerRadius = 20;
                                series.tooltip.background.fillOpacity = 0.5;
                                series.tooltip.label.padding(12,12,12,12)
                                series.name = catData[i]['title'];
                                series.legendSettings.valueText = "{valueY}";
                                // Add scrollbar
                                chart.scrollbarX = new am4charts.XYChartScrollbar();
                                chart.scrollbarX.series.push(series);
                            
                                // Add cursor
                                chart.cursor = new am4charts.XYCursor();
                                chart.cursor.xAxis = dateAxis;
                                chart.cursor.snapToSeries = series;
                            }
                            // Add legend
                            chart.legend = new am4charts.Legend();
                            chart.legend.fontSize = 10
                            // Export option
                            chart.exporting.menu = new am4core.ExportMenu();
                            chart.exporting.menu.align = "right";
                            chart.exporting.menu.verticalAlign = "top";
                            // remove grid lines
                            if(is_grid_show == '') {
                                dateAxis.renderer.grid.template.disabled = true;
                                valueAxis.renderer.grid.template.disabled = true;
                            }
                        }); // end am4core.ready()

                        // TYAVG Vs LYAVG  chart
                        am4core.ready(function() {
                            // Themes begin
                            configure_theme(am4core,theme);
                            // Themes end
                            // Create chart instance
                            var chart = am4core.create("avgbskchartdiv", am4charts.XYChart);
                            // Add data
                            chart.data = {{graph_data.ty_ly_avgbkt|tojson}};
                            // Create axes
                            var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                            dateAxis.renderer.minGridDistance = 50;
                            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                            var catData = {{graph_data.avgbasket_categories|tojson}};
                            
                            for(i=0;i<catData.length;i++) {
                                // increment count value by 1
                                keyCount = i+1
                                // Create series
                                var series = chart.series.push(new am4charts.LineSeries());
                                series.dataFields.valueY = "category_avgbasket_"+keyCount.toString();
                                series.dataFields.dateX = "date";
                                series.strokeWidth = 2;
                                series.minBulletDistance = 10;
                                series.tooltipText = "{valueY}";
                                series.tooltip.pointerOrientation = "vertical";
                                series.tooltip.background.cornerRadius = 20;
                                series.tooltip.background.fillOpacity = 0.5;
                                series.tooltip.label.padding(12,12,12,12)
                                series.name = catData[i]['title'];
                                series.legendSettings.valueText = "{valueY}";
                                // Add scrollbar
                                chart.scrollbarX = new am4charts.XYChartScrollbar();
                                chart.scrollbarX.series.push(series);
                            
                                // Add cursor
                                chart.cursor = new am4charts.XYCursor();
                                chart.cursor.xAxis = dateAxis;
                                chart.cursor.snapToSeries = series;
                                // remove grid lines
                                if(is_grid_show == '') {
                                    dateAxis.renderer.grid.template.disabled = true;
                                    valueAxis.renderer.grid.template.disabled = true;
                                }
                            }
                            // Add legend
                            chart.legend = new am4charts.Legend();
                            chart.legend.fontSize = 10
                            // Export option
                            chart.exporting.menu = new am4core.ExportMenu();
                            chart.exporting.menu.align = "right";
                            chart.exporting.menu.verticalAlign = "top";
                            if(is_grid_show == '') {
                                dateAxis.renderer.grid.template.disabled = true;
                                valueAxis.renderer.grid.template.disabled = true;
                            }
                        }); // end am4core.ready()

                        // TYC Vs LYC  chart
                        am4core.ready(function() {
                            // Themes begin
                            configure_theme(am4core,theme);
                            // Themes end
                            // Create chart instance
                            var chart = am4core.create("customerchartdiv", am4charts.XYChart);
                            // Add data
                            chart.data = {{graph_data.ty_ly_cpc|tojson}};
                            // Create axes
                            var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                            dateAxis.renderer.minGridDistance = 50;
                            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                            var catData = {{graph_data.customers_categories|tojson}};
                            
                            for(i=0;i<catData.length;i++) {
                                // increment count value by 1
                                keyCount = i+1
                                // Create series
                                var series = chart.series.push(new am4charts.LineSeries());
                                series.dataFields.valueY = "category_customers_"+keyCount.toString();
                                series.dataFields.dateX = "date";
                                series.strokeWidth = 2;
                                series.minBulletDistance = 10;
                                series.tooltipText = "{valueY}";
                                series.tooltip.pointerOrientation = "vertical";
                                series.tooltip.background.cornerRadius = 20;
                                series.tooltip.background.fillOpacity = 0.5;
                                series.tooltip.label.padding(12,12,12,12)
                                series.name = catData[i]['title'];
                                series.legendSettings.valueText = "{valueY}";
                                // Add scrollbar
                                chart.scrollbarX = new am4charts.XYChartScrollbar();
                                chart.scrollbarX.series.push(series);
                            
                                // Add cursor
                                chart.cursor = new am4charts.XYCursor();
                                chart.cursor.xAxis = dateAxis;
                                chart.cursor.snapToSeries = series;
                            }
                            // Add legend
                            chart.legend = new am4charts.Legend();
                            chart.legend.fontSize = 10
                            // Export option
                            chart.exporting.menu = new am4core.ExportMenu();
                            chart.exporting.menu.align = "right";
                            chart.exporting.menu.verticalAlign = "top"; 
                            if(is_grid_show == '') {
                                dateAxis.renderer.grid.template.disabled = true;
                                valueAxis.renderer.grid.template.disabled = true;
                            }
                        }); // end am4core.ready()
                            
                        // TYAVGITEM Vs LYAVGITEM chart
                        am4core.ready(function() {
                            // Themes begin
                            configure_theme(am4core,theme);
                            // Themes end
                            // Create chart instance
                            var chart = am4core.create("avgitemchartdiv", am4charts.XYChart);
                            // Add data
                            chart.data = {{graph_data.ty_ly_avgitem|tojson}};
                            // Create axes
                            var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
                            dateAxis.renderer.minGridDistance = 50;
                            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                            var catData = {{graph_data.avgitem_categories|tojson}};
                            
                            for(i=0;i<catData.length;i++) {
                                // increment count value by 1
                                keyCount = i+1
                                // Create series
                                var series = chart.series.push(new am4charts.LineSeries());
                                series.dataFields.valueY = "category_avgitem_"+keyCount.toString();
                                series.dataFields.dateX = "date";
                                series.strokeWidth = 2;
                                series.minBulletDistance = 10;
                                series.tooltipText = "{valueY}";
                                series.tooltip.pointerOrientation = "horizontal";
                                series.tooltip.background.cornerRadius = 20;
                                series.tooltip.background.fillOpacity = 0.5;
                                series.tooltip.label.padding(12,12,12,12)
                                series.name = catData[i]['title'];
                                series.legendSettings.valueText = "{valueY}";
                                // Add scrollbar
                                chart.scrollbarX = new am4charts.XYChartScrollbar();
                                chart.scrollbarX.series.push(series);
                            
                                // Add cursor
                                chart.cursor = new am4charts.XYCursor();
                                chart.cursor.xAxis = dateAxis;
                                chart.cursor.snapToSeries = series;
                            }
                            // Add legend
                            chart.legend = new am4charts.Legend();
                            chart.legend.fontSize = 10
                            // Export option
                            chart.exporting.menu = new am4core.ExportMenu();
                            chart.exporting.menu.align = "right";
                            chart.exporting.menu.verticalAlign = "top";
                            if(is_grid_show == '') {
                                dateAxis.renderer.grid.template.disabled = true;
                                valueAxis.renderer.grid.template.disabled = true;
                            }
                        }); // end am4core.ready()
                    </script>    
                {% else %}
                    <div class="light-bg bg-pd mt-3 mb-3">
                        <div class="NoData text-center">
                        <img src="{{ url_for('static', filename='images/file.svg') }}">
                        <h4>No Chart Data Found For Filter Values</h4>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>   