{% extends 'head.html' %}
    <!-- Include header -->
    {% block header %}
    {% endblock %}
    <!-- Include body content -->
    {% block content %}
      <!------ Chart filters start here ------>
      <div class="container-fluid">
        <div class="">
            <div class="">
                <div class="demo-left">
                   <div class="light-bg ReportForm mt-3">
                      <form>
                         <div class="row ReptMrg">
                            <div class="col-md-6 col-lg-3 ReptPad">
                               <div class="form-group">
                                  <label>Date Range:</label>
                                  <div class="row m-0">
                                     <div class="col-6 ReptPad10 padd10">
                                        <input type="text" class="form-control" placeholder="Start Date" id="start_date" readonly> 
                                     </div>
                                     <div class="col-6 p-0">
                                        <input type="text" class="form-control" placeholder="End Date" id="end_date" readonly> 
                                     </div>                                          
                                  </div>
                               </div>   
                            </div>
                            <div class="col-md-6 col-lg-3 ReptPad">
                               <div class="form-group">
                                  <label>Primary:</label>
                                  <div class="row m-0">
                                     <div class="col-12 col-sm-6 rsmb-10 col-md-4 col-lg-4 ReptPad10">
                                        <select class="form-control custom-select" id='primary_ftype'>
                                          <option value='1'>Store</option>
                                          <option value='2'>RTM</option>
                                          <option value='3'>Demographic</option>
                                          <option value='4'>Top 20</option>
                                          <option value='5'>Zone</option>
                                        </select>   
                                     </div>
                                     <div id="p_filter_div" class="col-12 col-sm-6 col-md-8 col-lg-8 p-0">
                                      <select class="form-control custom-select" name='p_outlets' id='p_outlets'>
                                       </select>
                                     </div>                                          
                                  </div>
                               </div>   
                            </div>                                 
                            <div class="col-md-6 col-lg-3 ReptPad">
                               <div class="form-group">
                                  <label>Secondary:</label>
                                  <div class="row m-0">
                                     <div class="col-12 rsmb-10 col-sm-6 col-md-4 col-lg-4 ReptPad10">
                                        <select class="form-control custom-select" id='secondary_ftype'>
                                          <option value='1'>Store</option>
                                          <option value='2'>RTM</option>
                                          <option value='3'>Demographic</option>
                                          <option value='4'>Top 20</option>
                                          <option value='5'>Zone</option>
                                        </select>   
                                     </div>
                                     <div id="s_filter_div" class="col-12 col-sm-6 col-md-8 col-lg-8 p-0">
                                        <select class="form-control custom-select" name='s_outlets' id='s_outlets'>                       
                                        </select>
                                     </div>                                          
                                  </div>
                               </div>   
                            </div>                                 
                            <div class="col-md-3 col-6 col-sm-6 col-lg-1 ReptPad">
                               <div class="form-group">
                                  <label>Period:</label>
                                        <select class="form-control custom-select" id="comparison_period">
                                          <option value='1'>1 Yr</option>
                                          <option value='2'>2 Yr</option>
                                          <option value='3'>3 Yr</option>
                                          <option value='4'>4 Yr</option>
                                          <option value='5'>5 Yr</option>
                                        </select>
                               </div>   
                            </div>                                                                 
                            <div class="col-md-3 col-6 col-sm-6 col-lg-1 ReptPad">
                               <div class="form-group">
                                  <label>Measurement:</label>
                                        <select class="form-control custom-select" id="measurement_type">
                                          <option value='1'>Sales $</option>
                                          <option value='2'>GP $</option>
                                          <option value='3'>Sales CPC</option>
                                        </select> 
                               </div>   
                            </div>
                            <div class="col-md-12 col-12 col-sm-12 col-lg-1 text-right ReptPad">
                               <button class="submit btn thm-btn">Go</button>   
                            </div>
                         </div>                              
                      </form>
                   </div>
                </div>
             </div>
        </div>
        <!------ Chart filters end here ------>

      <!------- Charts area start here ------>  
      <div id='chart-container'>
        <div class="row">
          <div class="col-md-12 col-12 mt-3 mb-3">
            <div class="inner_loader dn"></div>
            <div class="light-bg bg-pd" id="no-data-box">
              <div class="NoData text-center">
                <img src="{{ url_for('static', filename='images/file.svg') }}">
                  <h4>No Chart Data Found For Filter Values</h4>
                </div>
              </div>
          </div>
        </div>  
      </div>
    </div>
      <!------- Charts area end here ------->
      <style>
        .amcharts-amexport-menu-level-0.amcharts-amexport-top {
            top: -71px!important;
            bottom: auto!important;
        }
        .amcharts-amexport-item.amcharts-amexport-item-level-0{
            opacity: 0.8;
        }
        .amcharts-amexport-item.amcharts-amexport-item-level-0 > a{
            color: rgb(51, 51, 51);
        }
      </style>
   
    <script type="text/javascript">
    
      // Display loader on page load
      $(window).load(function() {
        //$(".loader").fadeOut("slow");
      });

      $( document ).ready(function() {

        // Get set filters
        $.ajax({
          type: 'GET',
          url: 'get_filters',
          data : {},
          contentType: "application/json",
          success:function(data){
            res = JSON.parse(data);
        
            // set filter input values
            if(res['p_outlet_selectbox']) {
              $('#p_filter_div').html(res['p_outlet_selectbox'])
            }
            if(res['s_outlet_selectbox']) {
              $('#s_filter_div').html(res['s_outlet_selectbox'])
            }
            if(res['start_date']) {
              var start_date = res['start_date']
              start_date = start_date.split('-');
              start_date = start_date[2]+'/'+start_date[1]+'/'+start_date[0]
              $('#start_date').datepicker('setDate', start_date);
            }
            if(res['end_date']) {
              var end_date = res['end_date']
              end_date = end_date.split('-');
              end_date = end_date[2]+'/'+end_date[1]+'/'+end_date[0]
              $('#end_date').datepicker('setDate', end_date);
            }
            if(res['primary_ftype']) {
              $('#primary_ftype option[value='+res['primary_ftype']+']').attr('selected','selected');
            }
            if(res['p_outlet_id']) {
              $('#p_outlets option[value='+res['p_outlet_id']+']').attr('selected','selected');
            }
            if(res['p_zone_id']) {
              $('#p_zones option[value='+res['p_zone_id']+']').attr('selected','selected');
            }
            if(res['secondary_ftype']) {
              $('#secondary_ftype option[value='+res['secondary_ftype']+']').attr('selected','selected');
            }
            if(res['s_outlet_id']) {
              $('#s_outlets option[value='+res['s_outlet_id']+']').attr('selected','selected');
            }
            if(res['s_zone_id']) {
              $('#s_zones option[value='+res['s_zone_id']+']').attr('selected','selected');
            }
            if(res['comparison_period']) {
              $('#comparison_period option[value='+res['comparison_period']+']').attr('selected','selected');
            }
            if(res['measurement_type']) {
              $('#measurement_type option[value='+res['measurement_type']+']').attr('selected','selected');
            }
            //set_chart_header();
            $(".loader-box").fadeOut("slow");
            // load inner chart container box
            if(res['start_date'] != '' && res['end_date'] != '') {
              $("#no-data-box").hide();
              $(".inner_loader").fadeIn("slow");
              $(".div_with_no_chart").fadeOut("slow");
              chart_container();
            }
          },
          error: function(data) { // if error occured
            alert("Error occured.please try again");
            $(".loader-box").fadeOut("slow");
          }
        });
        
        $("#start_date").datepicker({
          format: 'dd/mm/yyyy',
          autoclose: true,
          weekStart: 1,
          forceParse: true,
        }).on('changeDate', function (selected) {
            var startDate = new Date(selected.date.valueOf());
            $('#end_date').datepicker('setStartDate', startDate);
        }).on('clearDate', function (selected) {
            $('#end_date').datepicker('setStartDate', null);
        });

        $("#end_date").datepicker({
          format: 'dd/mm/yyyy',
          autoclose: true,
          weekStart: 1,
          forceParse: true,
        });
        
        // Load chart container  
        function chart_container() {
          // get url query string params
          let urlParams = new URLSearchParams(window.location.search);
          
          let id = (urlParams.get('id') != null) ? urlParams.get('id') : '';
          let label = (urlParams.get('label') != null) ? urlParams.get('label') : '';
          let level = (urlParams.get('level') != null) ? urlParams.get('level') : 1;
          let department_id = (urlParams.get('department_id') != null) ? urlParams.get('department_id') : '';
          let department_name = (urlParams.get('department_name') != null) ? urlParams.get('department_name') : '';
          $.ajax({
            type: 'GET',
            url: 'get_chart_container',
            data : {'id':id,'level':level,'label':label,'level':level,'department_id':department_id,'department_name':department_name},
            contentType: "application/json",
            success:function(data){
              res = JSON.parse(data);
              $('#chart-container').html(res['chart_container'])
            }
          });
        }
        
      });
          
      // Manage filter form submition
      $(document).delegate('.submit','click',function(e){
        e.preventDefault();
        var primary_ftype = $('#primary_ftype').val();
        var p_outlet = ($('#p_outlets').val() == undefined) ? '' : $('#p_outlets').val(); 
        var p_zones = ($('#p_zones').val() == undefined) ? '' : $('#p_zones').val();
        var secondary_ftype = $('#secondary_ftype').val();
        var s_outlet = ($('#s_outlets').val() == undefined) ? '' : $('#s_outlets').val(); 
        var s_zones = ($('#s_zones').val() == undefined) ? '' : $('#s_zones').val();
        var start_date = ($('#start_date').val() == undefined) ? '' : $('#start_date').val(); 
        var end_date = ($('#end_date').val() == undefined) ? '' : $('#end_date').val(); 
        var comparison_period = $('#comparison_period').val();
        var measurement_type = ($('#measurement_type').val() == undefined) ? '1' : $('#measurement_type').val(); 
        if (start_date != '') {
          start_date = start_date.split('/');
          start_date = start_date[2]+'-'+start_date[1]+'-'+start_date[0]
        }
        if (end_date != '') {
          end_date = end_date.split('/');
          end_date = end_date[2]+'-'+end_date[1]+'-'+end_date[0]
        }
        set_filters(primary_ftype,secondary_ftype,p_outlet,p_zones,s_outlet,s_zones,start_date,end_date,comparison_period,measurement_type)
      });
          
      // Set filter param as Redis object 
      function set_filters(primary_ftype,secondary_ftype,p_outlet,p_zones,s_outlet,s_zones,start_date,end_date,comparison_period,measurement_type){
        $.ajax({
          type: 'GET',
          url: 'set_filters',
          data : {
            primary_ftype:primary_ftype,secondary_ftype:secondary_ftype,p_outlet_id: p_outlet,s_outlet_id: s_outlet,p_zone_id:p_zones,s_zone_id:s_zones,start_date:start_date,end_date:end_date,comparison_period:comparison_period,measurement_type:measurement_type
          },
          contentType: "application/json",
          success:function(data){
            window.location.href = window.location.href;
          },
          error: function(data) { // if error occured
          }
        });
      }
          
      // Manage primary filter availability
      $('#primary_ftype').on('change', function (e) {
        var value = this.value;
        set_filtertype_box(1,value)
      });

      // Manage secondary filter availability
      $('#secondary_ftype').on('change', function (e) {
        var value = this.value;
        set_filtertype_box(2,value)
      });

      // Set filter param as Redis object 
      function set_filtertype_box(ftype,ftype_option){
        $(".loader-box").fadeIn("slow");
        $.ajax({
          type: 'GET',
          url: 'get_filterbox',
          data : {
            ftype:ftype, ftype_option:ftype_option
          },
          contentType: "application/json",
          success:function(data){
            res = JSON.parse(data);
            if(ftype ==1 && res['res_select_box']) {
              $('#p_filter_div').html(res['res_select_box'])
            }
            if(ftype ==2 && res['res_select_box']) {
              $('#s_filter_div').html(res['res_select_box'])
            }
            $(".loader-box").fadeOut("slow");
            //console.log(data);
          },
          error: function(data) { // if error occured
            alert("Error occured.please try again");
            $(".loader-box").fadeOut("slow");
          }
        });
      }
      
      // Manage chart data visibility
      $(document).delegate('#view_scatter_data','click',function(e){
        if($('.scatter_data_container').is(':visible')){
          $('.scatter_data_container').fadeOut("slow");
        } else {
          $('.scatter_data_container').fadeIn("slow");
        }
      });
      
      // Manage ranging product data visibility
      $(document).delegate('#view_ranging_data','click',function(e){
        if($('.ranging_data_container').is(':visible')){
          $('.ranging_data_container').fadeOut("slow");
        } else {
          $('.ranging_data_container').fadeIn("slow");
        }
      });
    </script>
  {% endblock %}