<!DOCTYPE html>
<html>
<head>
  <title>Coyote BI</title>

  <link rel="shortcut icon" href="https://plot.ly/gh-pages/documentation/static//images/plotly-ico.png" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/keen-dashboards.css') }}" />
  <!-- For slider -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/iThing.css') }}" />
  <!-- Date picker css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='scss/icons/themify-icons/themify-icons.css') }}" />
  <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-material-datetimepicker.css') }}" />-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-datepicker3.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-switch.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fSelect.css') }}" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.css') }}">

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/filter/custom-style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/filter/responsive.css') }}">

  <!-- AMChart Resources -->
  <script src="{{ url_for('static', filename='lib/3/amcharts.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/3/serial.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/3/xy.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/3/light.js') }}"></script>
  <script src="{{ url_for('static', filename='lib/3/export.min.js') }}"></script>
  <link href="{{ url_for('static', filename='lib/3/export.css') }}" rel="stylesheet">
  <script src="https://www.amcharts.com/lib/3/plugins/tools/autoOffsetAxis/autoOffsetAxis.min.js"></script>
  <style>
    ul,li{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
    ol,ul{list-style:none}
    body{background:#F7F7F7;width:100%;height:100%;font-family:'Roboto', helvetica, sans-serif;}
    </style>
  <!-- Chart code -->
  <script>
  
  // set scatter graph data
  var graph_data = {{ graph_data|tojson }};
  if(graph_data.kpi_data.length > 0) {
    // TYS Vs LYS chart
    var charts = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "light",
        "legend": {
            "useGraphSettings": true
        },
        "dataProvider": graph_data.kpi_data,
        "valueAxes": [{
            "integersOnly": true,
            //"minMaxMultiplier":1.2,
            //"maximum": 6000,
            //"minimum": 0,
            "reversed": false,
            "axisAlpha": 0,
            "dashLength": 5,
            "gridCount": 10,
            "position": "left",
            "title": "CPC",
            "autoGridCount":false,
            "labelFrequency":10,
        }],
        "startDuration": 0.5,
        "graphs": [{
            "balloonText": "[[value]]",
            "bullet": "round",
            "title": "WTY",
            "valueField": "wty_value",
        "fillAlphas": 0
        }, {
            "balloonText": "[[value]]",
            "bullet": "round",
            "title": "WLY",
            "valueField": "wly_value",
        "fillAlphas": 0
        }, {
            "balloonText": "[[value]]",
            "bullet": "round",
            "title": "W2Y",
            "valueField": "w2y_value",
        "fillAlphas": 0
        }],
        "chartCursor": {
            "cursorAlpha": 0,
            "zoomable": false
        },
        "categoryField": "outlets",
        "categoryAxis": {
            "gridPosition": "start",
            "axisAlpha": 0,
            "fillAlpha": 0.05,
            "fillColor": "#000000",
            "gridAlpha": 0,
            "position": "bottom",
            "labelRotation": 90
        },
        "export": {
          "enabled": true,
            "position": "bottom-right"
        }
    });
  }
  

</script>
</head>

{% block content %}
<body class="application">
  <div id="main-wrapper">
    <div class="loader"></div>
    <!------ Navigation bar start here ------>
    <header class="header">
        <div class="header-container">
          <div class="header-inner">
              <div class="logo-main">
                <a href="#"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a>
              </div><!-- /.logo-main -->
              <div class="header-menu">
                <div class="menu-toggle">
                    <span class="menu-toggle-overlay"></span>
                    <span class="menu-toggle-icon">
                      <span></span>
                    </span>
                </div>
                <div class="header-top-menu">
                    <span class="menu-toggle-close"><i class="fa fa-times" aria-hidden="true"></i></span>
                    <div class="main-menu-wrap">
                      <ul class="main-menu ctm-menu list-unstyled">
                          <li><a class="has-arrow" href="/" aria-expanded="false">Dashboard</a></li>
                          <li><a href="/report_2020">20-20 Report</a></li>
                          <li class="active"><a href="/storekpi">Store KPI Report</a></li>
                      </ul>
                    </div><!-- /.main-menu-wrap -->
                    <div class="header-right">
                      <select id="environment">
                          <option value='CDN' {% if graph_data.environment == 'CDN' %} selected='selected' {% endif %}>CDN Live</option>
                          <option value='TEST' {% if graph_data.environment == 'TEST' %} selected='selected' {% endif %}>Coyote Test</option>
                          <option value='LIVE' {% if graph_data.environment == 'LIVE' %} selected='selected' {% endif %}>Coyote Live</option>
                      </select>
                    </div>
                </div>
              </div><!-- /.header-menu -->  
          </div>
        </div>
    </header><!-- /.header -->
    <!------ Navigation bar end here ------>  

    <!-- KPI filters start here-->
    <div class="kpiFilter-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
              <h3 class="kpiFilter-title">Store KPI Report</h3>
          </div>
          <div class="col-md-6 text-right">
            <button type="button" class="btn btn-primary" id="kpiFilter-btn" title="Choose KPI report filters">
            <span class="ti-menu"></span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="kpiFilter-section dn">
      <div class="container-fluid">
         <div class="kpiFilter-wrap">
            <div class="row">
                <div class="col-md-6">
                    <div class="kpi-leftForm">
                       <div class="form-group">
                          <label class="form-label">Date Range:</label>
                          <div class="input-group d-flex align-items-center">
                             <div class="input-wrap">
                                <input type="text" class="form-control" placeholder="Start Date" id="start_date" readonly="">
                             </div>
                             <div class="tag-to">To:</div>
                             <div class="input-wrap">
                                <input type="text" class="form-control" placeholder="End Date" id="end_date" readonly="">  
                             </div>
                          </div>
                       </div>
                       <div class="kpi-middle-part">
                          {% set htl_selected = 'checked=checked' %}
                          {% set lth_selected = '' %}  
                          {% if graph_data.f_sort_type is defined and graph_data.f_sort_type == '2' %}
                            {% set htl_selected = '' %}
                            {% set lth_selected = 'checked=checked' %}
                          {% endif %}
                          <div class="form-group">
                             <label class="form-label">Sort Order:</label>
                             <div class="redio-group d-flex">
                                <label class="custom-radio mr-20">Hight to Low
                                   <input type="radio" {{htl_selected}} value='1' name="sort_type">
                                   <span class="checkmark"></span>
                                </label>
                                <label class="custom-radio mr-20">Low to High
                                   <input type="radio" {{lth_selected}} value='2' name="sort_type">
                                   <span class="checkmark"></span>
                                </label>
                             </div>
                          </div>
                       </div><!-- /.kpi-middle-part -->
                       <div class="kpi-bottom-part">
                          <div class="form-group">
                             <label class="form-label">Selections:</label>
                             <div class="selections form-control">
                                <div id='prod-selection-div'>
                                  <p class='selection-header-p' id='prod-header-p'>{{ graph_data.default_prod_childbox_label}}</p>
                                  <p class='prod-child-p'>
                                    {% if graph_data.product_type != '4' and graph_data.product_type != '5' and  graph_data.product_type != '6' %}                       
                                      {% for item in graph_data.default_prod_childbox %}
                                        {% if graph_data.default_prod_childbox_f_val is defined and item.id|string == graph_data.default_prod_childbox_f_val|string %}
                                          {{ item.title }} {{ item.code }}
                                        {% endif %}
                                      {% endfor %}
                                    {% else %}
                                      {{graph_data.default_prod_childbox_f_val}}
                                    {% endif %}
                                  </p>
                                </div>
                                <div id='loc-selection-div'>
                                  <p class='selection-header-p' id='loc-header-p'>{{ graph_data.default_loc_childbox_label}}</p>
                                  <p class='loc-child-p'>
                                    {% for item in graph_data.default_loc_childbox %}
                                      {% if graph_data.default_loc_childbox_f_val is defined and item.id in graph_data.default_loc_childbox_f_val %}
                                        {{ item.title }} {{ item.code }}
                                        <br/>
                                      {% endif %}
                                    {% endfor %}
                                  </p>
                                </div>
                                    
                             </div>
                          </div>
                       </div><!-- /.kpi-bottom-part -->
                    </div>
                 </div>
               <div class="col-md-6">
                  <div class="kpi-codes-wrap">
                     <div class="panel-group blue-accordion" id="accordion">
                      <!-- Product parent box start here -->
                      <div class="panel panel-default active">
                           <div class="panel-heading">
                              <h4 class="panel-title">
                                 <a data-toggle="collapse" data-parent="#accordion" href="#kpiCollapse01">Products</a>
                              </h4>
                           </div>
                           <div id="kpiCollapse01" class="panel-collapse collapse in">
                              <div class="panel-body">
                                <label class="custom-radio">
                                  Department
                                  <input type="radio" name="product" value="1" {% if graph_data.product_type == '1' %} checked='checked' {% endif %} name="radio" product-lbl='Department'>
                                  <span class="checkmark"></span>
                                </label>
                                <label class="custom-radio">
                                  Commodity
                                  <input type="radio" name="product" value="2" {% if graph_data.product_type  == '2' %} checked='checked' {% endif %} name="radio" product-lbl='Commodity'>
                                  <span class="checkmark"></span>
                                </label>
                                <label class="custom-radio">
                                  Group
                                  <input type="radio" name="product" value="3" {% if graph_data.product_type  == '3' %} checked='checked' {% endif %} name="radio" product-lbl='Group'>
                                  <span class="checkmark"></span>
                                </label>
                                <label class="custom-radio">
                                  PLU
                                  <input type="radio" name="product" value="4" {% if graph_data.product_type  == '4' %} checked='checked' {% endif %} name="radio" product-lbl='PLU'>
                                  <span class="checkmark"></span>
                                </label>
                                <label class="custom-radio">
                                  Replicate Code
                                  <input type="radio" name="product" value="5" {% if graph_data.product_type  == '5' %} checked='checked' {% endif %} name="radio" product-lbl='Replicate Code'>
                                  <span class="checkmark"></span>
                                </label>
                                <label class="custom-radio">
                                  Promotion Code
                                  <input type="radio" name="product" value="6" {% if graph_data.product_type  == '6' %} checked='checked' {% endif %} name="radio" product-lbl='Promotion Code'>
                                  <span class="checkmark"></span>
                                </label>
                                <label class="custom-radio">
                                  Supplier
                                  <input type="radio" name="product" value="7" {% if graph_data.product_type  == '7' %} checked='checked' {% endif %} name="radio" product-lbl='Supplier'>
                                  <span class="checkmark"></span>
                                </label>
                                <label class="custom-radio">
                                  Manufacturer
                                  <input type="radio" name="product" value="8" {% if graph_data.product_type  == '8' %} checked='checked' {% endif %} name="radio" product-lbl='Manufacturer'>
                                  <span class="checkmark"></span>
                                </label>
                              </div>
                           </div>
                        </div>
                        <!-- Product parent box end here -->

                        <!-- Product child box start here -->
                        <div class="panel panel-default" id="product_filter_div">
                          {% if graph_data.product_type != '4' and graph_data.product_type != '5' and  graph_data.product_type != '6' %}
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                 <a data-toggle="collapse" data-parent="#accordion" href="#kpiCollapse02">{{ graph_data.default_prod_childbox_label}}</a>
                              </h4>
                            </div>

                            <div id="kpiCollapse02" class="panel-collapse collapse">
                              <div class="panel-body">
                                {% for item in graph_data.default_prod_childbox %} 
                                  {% set selected = '' %} 
                                  {% if graph_data.default_prod_childbox_f_val is defined and item.id|string == graph_data.default_prod_childbox_f_val|string %}
                                    {% set selected = 'checked=checked' %}
                                  {% endif %}
                                  <label class="custom-radio">
                                    {{ item.title }} {{ item.code }}
                                    <input type="radio" name="{{graph_data.default_prod_childbox_id}}" id="{{graph_data.default_prod_childbox_id}}" value="{{ item.id }}" {{selected}}  name="radio" class="prod-child" product-child-lbl="{{ item.title }} {{ item.code }}" product-parent-lbl="{{ graph_data.default_prod_childbox_label}}">
                                    <span class="checkmark"></span>
                                  </label>
                                  {% endfor %}
                              </div>
                            </div>
                          {% else %}
                            <div class="product_filter_input">
                              <input type="text" name="{{graph_data.default_prod_childbox_id}}" id="{{graph_data.default_prod_childbox_id}}" value="{{graph_data.default_prod_childbox_f_val}}" class="input-code form-control" maxlength="8" placeholder="Enter {{graph_data.default_prod_childbox_label}}">
                            </div>  
                          {% endif %}
                        </div>
                        <!-- Product child box end here -->
                        
                        <!-- Location parent box start here -->  
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#kpiCollapse03">Location</a>
                            </h4>
                          </div>
                          <div id="kpiCollapse03" class="panel-collapse collapse">
                            <div class="panel-body">
                              <label class="custom-radio">
                                Outlets
                                <input type="radio" name="location" value="1" {% if graph_data.location_type == '1' %} checked='checked' {% endif %} name="radio" location-lbl='Store'>
                                <span class="checkmark"></span>
                              </label>
                              <label class="custom-radio">
                                AM Zone
                                <input type="radio" name="location" value="2" {% if graph_data.location_type  == '2' %} checked='checked' {% endif %} name="radio" location-lbl='AM Zone'>
                                <span class="checkmark"></span>
                              </label>
                              <label class="custom-radio">
                                Demographic Zone
                                <input type="radio" name="location" value="3" {% if graph_data.location_type == '3' %} checked='checked' {% endif %} name="radio" location-lbl='Demographic Zone'>
                                <span class="checkmark"></span>
                              </label>
                              <label class="custom-radio">
                                Region Zone
                                <input type="radio" name="location" value="4" {% if graph_data.location_type == '4' %} checked='checked' {% endif %} name="radio" location-lbl='Region Zone'>
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                        </div>      
                        <!-- Location parent box start here -->  
                        
                        <!-- Location child box start here --> 
                        <div class="panel panel-default" id="location_filter_div">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#kpiCollapse04">{{ graph_data.default_loc_childbox_label }}</a>
                            </h4>
                          </div>
                          <div id="kpiCollapse04" class="panel-collapse collapse">
                            <div class="panel-body">
                              {% for item in graph_data.default_loc_childbox %}
                                {% set selected = '' %} 
                                {% if graph_data.default_loc_childbox_f_val is defined and item.id in graph_data.default_loc_childbox_f_val %}
                                  {% set selected = 'checked=checked' %}
                                {% endif %}
                                <label class="small-checkbox">{{ item.title }} {{ item.code }}
                                  <input type="checkbox" name="{{graph_data.default_loc_childbox_id}}" class="loc-child" id="{{graph_data.default_loc_childbox_id}}" value="{{ item.id }}" {{ selected }} location-child-lbl="{{ item.title }} {{ item.code }}" location-parent-lbl="{{ graph_data.default_loc_childbox_label }}"}>
                                  <span class="checkmark"></span>
                                  </label>
                                {% endfor %}
                            </div>
                          </div>
                        </div>      
                        <!-- Location child box start here -->
                        
                     </div>
                  </div><!-- /.kpi-codes-wrap -->
               </div>
            </div><!-- /.row -->
            <!-- Footer button start here -->
            <div class="row kpi-filter-btn-row">
              <div class="col-md-6"></div>
              <div class="col-md-6 form-group ">
                <div class="col-md-3 fr">
                  <button class="clear_kpifilter form-control btn-primary btn btn-info waves-effect waves-light pl5">Clear Selections</button>
                </div>
                <div class="col-md-3 fr">
                  <button class="submit form-control btn-primary btn btn-info waves-effect waves-light">OK</button>
                </div>
              </div>  
            </div>
            </div>
            <!-- Footer button end here -->
         </div>
      </div>
     
   </div><!-- /.kpiFilter-section -->
   <!-- KPI filters end here-->

   <!----- Chart Content area start here ----->
   <div class="row">
    <div class="col-sm-14">
      <div class="chart-wrapper">
        
        <div class="chart-stage">
          <div id="grid-1-1">
            <div>
              <div id="chartdiv" class="kpichartdiv">
                <div class='div_with_no_chart'>No Chart Data Found For Filter Values</div>
              </div>	
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
  <!----- Chart Content area start here ----->

  <hr>
  </div>
  
  <script type="text/javascript" src="{{ url_for('static', filename='js/slider/jquery-1.7.2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/plugins/jquery/custom.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/holderjs/holder.min.js') }}"></script>
  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

  <!-- Datetime picker JS -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/datepicker/bootstrap-datepicker.min.js') }}"></script>
  <!-- Autosuggest & Multiselect JS -->
  <script src="{{ url_for('static', filename='js/select2.full.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/plugins/jquery/fSelect.js') }}"></script>

  <script type="text/javascript">
   
    $(function () {
      // init multiselect dropdowns
      $('.locationBox').fSelect();
      // init autosuggest dropdown
      $(".autosuggest-select").select2();
    });

    // Display loader on page load
    $(window).load(function() {
      $(".loader").fadeOut("slow");
      // set graph data
      var graph_data = {{ graph_data|tojson }};
      // set date range values if exist in session
      if(graph_data.start_date != undefined) {
        $('#start_date').datepicker('setDate', graph_data.start_date);
      }
      if(graph_data.end_date != undefined) {
        $('#end_date').datepicker('setDate', graph_data.end_date);
      }
    });

   $("#start_date").datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        weekStart: 1,
        forceParse: true,
      }).on('changeDate', function (selected) {
          var startDate = new Date(selected.date.valueOf());
          $('#end_date').datepicker('setStartDate', startDate);
      }).on('clearDate', function (selected) {
          $('#end_date').datepicker('setStartDate', null);
      });

      $("#end_date").datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        weekStart: 1,
        forceParse: true,
      });
    
    // Manage filter form submition
    $(document).delegate('.submit','click',function(e){
     
      var start_date = ($('#start_date').val() == undefined) ? '' : $('#start_date').val(); 
      var end_date = ($('#end_date').val() == undefined) ? '' : $('#end_date').val(); 
      var sort_type = $("input[name='sort_type']:checked").val();
      var product_type = $("input[name='product']:checked").val();
      var departments = ($("input[name='departments']:checked").val() == undefined) ? '' : $("input[name='departments']:checked").val(); 
      var commodity = ($("input[name='commodity']:checked").val() == undefined) ? '' : $("input[name='commodity']:checked").val();
      var group = ($("input[name='group']:checked").val() == undefined) ? '' : $("input[name='group']:checked").val();
      var replicate_code = ($('#replicate_code').val() == undefined) ? '' : $('#replicate_code').val(); 
      var promotion_code = ($('#promotion_code').val() == undefined) ? '' : $('#promotion_code').val();
      var plu = ($('#plu').val() == undefined) ? '' : $('#plu').val();
      var supplier = ($("input[name='supplier']:checked").val() == undefined) ? '' : $("input[name='supplier']:checked").val(); 
      var manufacturer = ($("input[name='manufacturer']:checked").val() == undefined) ? '' : $("input[name='manufacturer']:checked").val();
      var location_type = $("input[name='location']:checked").val();
      
      outlets = ''
      am_zones = ''
      demo_zones = ''
      region_zones = ''
      if(location_type == 1) {
        outlets = []
        $.each($("input[name='outlets']:checked"), function(){            
          outlets.push($(this).val());
        });
        outlets = JSON.stringify(outlets)
      } else if(location_type == 2) {
        am_zones = []
        $.each($("input[name='am_zones']:checked"), function(){            
          am_zones.push($(this).val());
        });
        am_zones = JSON.stringify(am_zones)
      } else if(location_type == 3) {
        demo_zones = []
        $.each($("input[name='demo_zones']:checked"), function(){            
          demo_zones.push($(this).val());
        });
        demo_zones = JSON.stringify(demo_zones)
      } else if(location_type == 4) {
        region_zones = []
        $.each($("input[name='region_zones']:checked"), function(){            
          region_zones.push($(this).val());
        });
        region_zones = JSON.stringify(region_zones)
      }
      
      // validate plu number 
      if(plu != '' && isNaN(plu)) {
        alert('Please use valid PLU code!');
        $('#plu').val('');
        return false;
      }
      set_filters(product_type,departments,commodity,group,replicate_code,promotion_code,plu,supplier,manufacturer,location_type,outlets,am_zones,demo_zones,region_zones,start_date,end_date,sort_type)
    });
    
    // Set filter param as Redis object 
    function set_filters(product_type,departments,commodity,group,replicate_code,promotion_code,plu,supplier,manufacturer,location_type,outlets,am_zones,demo_zones,region_zones,start_date,end_date,sort_type){
      $.ajax({
        type: 'GET',
        url: 'set_kpifilters',
        data : {
          product_type:product_type,departments:departments,commodity:commodity,group:group,replicate_code:replicate_code,promotion_code:promotion_code,plu:plu,supplier:supplier,manufacturer:manufacturer,location_type: location_type,outlets: outlets,am_zones:am_zones,demo_zones:demo_zones,region_zones:region_zones,start_date:start_date,end_date:end_date,sort_type:sort_type
        },
        contentType: "application/json",
        success:function(data){
          //console.log(data)
          window.location.href = window.location.href;
        },
        error: function(data) { // if error occured
          alert("Error occured.please try again");
        }
      });
    }
    
    $("input[name='product']").change(function(e) {
      var value = $(this).val();
      set_filtertype_box(value)
    });

    // Set filter param as Redis object 
    function set_filtertype_box(fproducttype){
      $(".loader").fadeIn("slow");
      $.ajax({
        type: 'GET',
        url: 'get_kpifilterbox',
        data : {
          fproducttype:fproducttype
        },
        contentType: "application/json",
        success:function(data){
          res = JSON.parse(data);
          $('#product_filter_div').html(res['res_select_box']);
          $(".loader").fadeOut("slow");
        },
        error: function(data) { // if error occured
          alert("Error occured.please try again");
          $(".loader").fadeOut("slow");
        }
      });
    }

    // Clear selected filters
    $(document).delegate('.clear_kpifilter','click',function(e){
      if(confirm("Are you sure you want to clear this selections?")){
        $(".loader").fadeIn("slow");
        $.ajax({
          type: 'GET',
          url: 'clear_kpifilter',
          data : {},
          contentType: "application/json",
          success:function(data){
            window.location.href = window.location.href;
          },
          error: function(data) { // if error occured
            alert("Error occured.please try again");
            $(".loader").fadeOut("slow");
          }
        });
      } else {
        return false;
      }
    });
    

    // Set filter param as session object 
    function set_location_filter_box(flocationtype){
      $(".loader").fadeIn("slow");
      $.ajax({
        type: 'GET',
        url: 'get_kpilocationfilterbox',
        data : {
          flocationtype:flocationtype
        },
        contentType: "application/json",
        success:function(data){
          res = JSON.parse(data);
          $('#location_filter_div').html(res['res_select_box']);
          $(".loader").fadeOut("slow");
        },
        error: function(data) { // if error occured
          alert("Error occured.please try again");
          $(".loader").fadeOut("slow");
        }
      });
    }
    
    // Manage Location filter availability
    $("input[name='location']").change(function(e) {
      var value = $(this).val();
      set_location_filter_box(value)
    });

  // Manage filter box appearance
  $("#kpiFilter-btn").click(function(){
    $(".kpiFilter-section").toggle("slow");
  });

  // Manage product filter selection
  $('input[name="product"]').click(function() {
    var product_lbl = $('input[name="product"]:checked').attr("product-lbl");
    // prepare selection html
    $("#prod-header-p").empty();
    $(".prod-child-p").empty(); 
    $('#prod-header-p').html(product_lbl);
  });

  // Manage product child filter selection
  $(document).delegate('.prod-child','click',function(e){    
    var product_child_lbl = $('.prod-child:checked').attr("product-child-lbl");
    var product_parent_lbl = $('.prod-child:checked').attr("product-parent-lbl");
    // prepare selection html
    $("#prod-header-p").empty();
    $(".prod-child-p").empty();
    $('.prod-child-p').html(product_child_lbl);
    $('#prod-header-p').html(product_parent_lbl);
  });

  // Manage location filter selection
  $('input[name="location"]').click(function() {
    var location_lbl = $('input[name="location"]:checked').attr("location-lbl");
    // prepare selection html
    $("#loc-header-p").empty();
    $(".loc-child-p").empty(); 
    $('#loc-header-p').html(location_lbl);
  });

  // Manage location child filter selection
  $(document).delegate('.loc-child','click',function(e){
    location_val = '';
    location_parent_lbl = ''
    $.each($(".loc-child:checked"), function(){
      location_val += $(this).attr('location-child-lbl')+'</br>';
      location_parent_lbl = $(this).attr("location-parent-lbl");
    });
    // prepare selection html
    $("#loc-header-p").empty();
    $(".loc-child-p").empty(); 
    $('.loc-child-p').html(location_val);
    $('#loc-header-p').html(location_parent_lbl);
  });

  // Manage location child filter selection
  $(document).delegate('.input-code','blur',function(e){
    var input_code = $(this).val();
    // prepare selection html
    $(".prod-child-p").empty();
    $('.prod-child-p').html(input_code);
  });

  </script>
</body>
</html>
{% endblock %}