{% extends 'head.html' %}
    <!-- Include header -->
    {% block header %}
    {% endblock %}
    <!-- Include body content -->
    {% block content %}

      <!-- KPI filters start here-->
      <div class="">
        <div class="container-fluid">
            <div class="light-bg bg-pd mt-3">
                <div class="row">
                   <div class="col-8">
                      <div class="StoreTxt">
                         <h2 style="line-height: 36px;">Store KPI Report</h2>
                      </div>                     
                   </div>
                   <div class="col-4 text-right">
                      <div>
                         <button type="button" class="btn ThmBtn" id="StoreFliter" title="Choose KPI report filters">
                            <i class="fas fa-bars"></i>
                         </button>
                      </div>
                   </div>
                   <div class="col-12">
                      <div id="ShowFliter" class="mt-3">
                         <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                               <div class="ReportForm FormFliter">              
                                 <fieldset class="form-group DateRange">
                                        <label>Date Range:</label>
                                        <div class="form-row">                                             
                                           <div class="col">
                                              <input type="text" class="form-control" placeholder="Start Date" id="start_date" readonly="">
                                           </div>
                                           <div class="col-1 text-center">
                                              <p class="totxt">TO :</p>
                                           </div>
                                           <div class="col">
                                              <input type="text" class="form-control" placeholder="End Date" id="end_date" readonly="">  
                                           </div>
                                        </div>
                                     </fieldset>
                                     <fieldset class="form-group">
                                        {% set htl_selected = 'checked=checked' %}
                                        {% set lth_selected = '' %}  
                                        {% if graph_data.f_sort_type is defined and graph_data.f_sort_type == '2' %}
                                          {% set htl_selected = '' %}
                                          {% set lth_selected = 'checked=checked' %}
                                        {% endif %}
                                        <label>Sort Order:</label>
                                        <div class="custom-radio pl-0">
                                           <div class="form-check pl-0">
                                              <input class="form-check-input" type="radio" {{htl_selected}} value='1' id="inlineRadio1" name="sort_type">
                                             <label class="form-check-label" for="inlineRadio1">Hight to Low</label>
                                             <input class="form-check-input" type="radio" {{lth_selected}} value='2' name="sort_type" id="inlineRadio2">
                                             <label class="form-check-label" for="inlineRadio2">Low to High</label>
                                           </div>
                                        </div>
                                     </fieldset>
                                     <fieldset class="">

                                        <label>Selections:</label>
                                        <div class="selections form-control">
                                            <div id='prod-selection-div'>
                                              <p class='selection-header-p' id='prod-header-p'>{{ graph_data.default_prod_childbox_label}}</p>
                                              <p class='prod-child-p'>
                                                {% if graph_data.product_type != '4' and graph_data.product_type != '5' and  graph_data.product_type != '6' %}                       
                                                  {% for item in graph_data.default_prod_childbox %}
                                                    {% if graph_data.default_prod_childbox_f_val is defined and item.id in graph_data.default_prod_childbox_f_val %}
                                                      {{ item.title }} {{ item.code }}
                                                      <br/>
                                                    {% endif %}
                                                  {% endfor %}
                                                {% else %}
                                                  {{graph_data.default_prod_childbox_f_val}}
                                                {% endif %}
                                              </p>
                                            </div>
                                            <div id='loc-selection-div'>
                                              <p class='selection-header-p' id='loc-header-p'>{{ graph_data.default_loc_childbox_label}}</p>
                                              <p class='loc-child-p'>
                                                {% for item in graph_data.default_loc_childbox %}
                                                  {% if graph_data.default_loc_childbox_f_val is defined and item.id in graph_data.default_loc_childbox_f_val %}
                                                    {{ item.title }} {{ item.code }}
                                                    <br/>
                                                  {% endif %}
                                                {% endfor %}
                                              </p>
                                            </div> 
                                        </div>
                                     </fieldset>                    
                               </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="kpi-codes-wrap">
                                    <div class="panel-group blue-accordion" id="accordion">
                                      <!-- Product parent box start here -->
                                      <div class="panel panel-default active">
                                          <div class="panel-heading">
                                              <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#kpiCollapse01">Products</a>
                                              </h4>
                                          </div>
                                          <div id="kpiCollapse01" class="panel-collapse collapse in show">
                                              <div class="panel-body">
                                                <label class="custom-radio">
                                                  Department
                                                  <input type="radio" name="product" value="1" {% if graph_data.product_type == '1' %} checked='checked' {% endif %} name="radio" product-lbl='Department'>
                                                  <span class="checkmark"></span>
                                                </label>
                                                <label class="custom-radio">
                                                  Commodity
                                                  <input type="radio" name="product" value="2" {% if graph_data.product_type  == '2' %} checked='checked' {% endif %} name="radio" product-lbl='Commodity'>
                                                  <span class="checkmark"></span>
                                                </label>
                                                <label class="custom-radio">
                                                  Group
                                                  <input type="radio" name="product" value="3" {% if graph_data.product_type  == '3' %} checked='checked' {% endif %} name="radio" product-lbl='Group'>
                                                  <span class="checkmark"></span>
                                                </label>
                                                <label class="custom-radio">
                                                  PLU
                                                  <input type="radio" name="product" value="4" {% if graph_data.product_type  == '4' %} checked='checked' {% endif %} name="radio" product-lbl='PLU'>
                                                  <span class="checkmark"></span>
                                                </label>
                                                <label class="custom-radio">
                                                  Replicate Code
                                                  <input type="radio" name="product" value="5" {% if graph_data.product_type  == '5' %} checked='checked' {% endif %} name="radio" product-lbl='Replicate Code'>
                                                  <span class="checkmark"></span>
                                                </label>
                                                <label class="custom-radio">
                                                  Promotion Code
                                                  <input type="radio" name="product" value="6" {% if graph_data.product_type  == '6' %} checked='checked' {% endif %} name="radio" product-lbl='Promotion Code'>
                                                  <span class="checkmark"></span>
                                                </label>
                                                <label class="custom-radio">
                                                  Supplier
                                                  <input type="radio" name="product" value="7" {% if graph_data.product_type  == '7' %} checked='checked' {% endif %} name="radio" product-lbl='Supplier'>
                                                  <span class="checkmark"></span>
                                                </label>
                                                <label class="custom-radio">
                                                  Manufacturer
                                                  <input type="radio" name="product" value="8" {% if graph_data.product_type  == '8' %} checked='checked' {% endif %} name="radio" product-lbl='Manufacturer'>
                                                  <span class="checkmark"></span>
                                                </label>
                                              </div>
                                          </div>
                                        </div>
                                        <!-- Product parent box end here -->
              
                                        <!-- Product child box start here -->
                                        <div class="panel panel-default" id="product_filter_div">
                                          {% if graph_data.product_type != '4' and graph_data.product_type != '5' and  graph_data.product_type != '6' %}
                                            <div class="panel-heading">
                                              <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#kpiCollapse02">{{ graph_data.default_prod_childbox_label}}</a>
                                              </h4>
                                            </div>
              
                                            <div id="kpiCollapse02" class="panel-collapse collapse">
                                              <div class="panel-body">
                                                {% for item in graph_data.default_prod_childbox %}
                                                  {% set selected = '' %} 
                                                  {% if graph_data.default_prod_childbox_f_val is defined and item.id in graph_data.default_prod_childbox_f_val %}
                                                    {% set selected = 'checked=checked' %}
                                                  {% endif %}
                                                  <label class="small-checkbox">{{ item.title }} {{ item.code }}
                                                    <input type="checkbox" name="{{graph_data.default_prod_childbox_id}}" class="prod-child" id="{{graph_data.default_prod_childbox_id}}" value="{{ item.id }}" {{ selected }} product-child-lbl="{{ item.title }} {{ item.code }}" product-parent-lbl="{{graph_data.default_prod_childbox_label}}">
                                                    <span class="checkmark"></span>
                                                    </label>
                                                  {% endfor %}
                                              </div>
                                            </div>
                                          {% else %}
                                            <div class="product_filter_input">
                                              <input type="text" name="{{graph_data.default_prod_childbox_id}}" id="{{graph_data.default_prod_childbox_id}}" value="{{graph_data.default_prod_childbox_f_val}}" class="input-code form-control" maxlength="8" placeholder="Enter {{graph_data.default_prod_childbox_label}}">
                                            </div>  
                                          {% endif %}
                                        </div>
                                        <!-- Product child box end here -->
                                        
                                        <!-- Location parent box start here -->  
                                        <div class="panel panel-default">
                                          <div class="panel-heading">
                                            <h4 class="panel-title">
                                              <a data-toggle="collapse" data-parent="#accordion" href="#kpiCollapse03">Location</a>
                                            </h4>
                                          </div>
                                          <div id="kpiCollapse03" class="panel-collapse collapse show">
                                            <div class="panel-body">
                                              <label class="custom-radio">
                                                Outlets
                                                <input type="radio" name="location" value="1" {% if graph_data.location_type == '1' %} checked='checked' {% endif %} name="radio" location-lbl='Store'>
                                                <span class="checkmark"></span>
                                              </label>
                                              <label class="custom-radio">
                                                AM Zone
                                                <input type="radio" name="location" value="2" {% if graph_data.location_type  == '2' %} checked='checked' {% endif %} name="radio" location-lbl='AM Zone'>
                                                <span class="checkmark"></span>
                                              </label>
                                              <label class="custom-radio">
                                                Demographic Zone
                                                <input type="radio" name="location" value="3" {% if graph_data.location_type == '3' %} checked='checked' {% endif %} name="radio" location-lbl='Demographic Zone'>
                                                <span class="checkmark"></span>
                                              </label>
                                              <label class="custom-radio">
                                                Region Zone
                                                <input type="radio" name="location" value="4" {% if graph_data.location_type == '4' %} checked='checked' {% endif %} name="radio" location-lbl='Region Zone'>
                                                <span class="checkmark"></span>
                                              </label>
                                            </div>
                                          </div>
                                        </div>      
                                        <!-- Location parent box start here -->  
                                        
                                        <!-- Location child box start here --> 
                                        <div class="panel panel-default" id="location_filter_div">
                                          <div class="panel-heading">
                                            <h4 class="panel-title">
                                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#kpiCollapse04">{{ graph_data.default_loc_childbox_label }}</a>
                                            </h4>
                                          </div>
                                          <div id="kpiCollapse04" class="panel-collapse collapse">
                                            <div class="panel-body">
                                              {% for item in graph_data.default_loc_childbox %}
                                                {% set selected = '' %} 
                                                {% if graph_data.default_loc_childbox_f_val is defined and item.id in graph_data.default_loc_childbox_f_val %}
                                                  {% set selected = 'checked=checked' %}
                                                {% endif %}
                                                <label class="small-checkbox">{{ item.title }} {{ item.code }}
                                                  <input type="checkbox" name="{{graph_data.default_loc_childbox_id}}" class="loc-child" id="{{graph_data.default_loc_childbox_id}}" value="{{ item.id }}" {{ selected }} location-child-lbl="{{ item.title }} {{ item.code }}" location-parent-lbl="{{ graph_data.default_loc_childbox_label }}"}>
                                                  <span class="checkmark"></span>
                                                  </label>
                                                {% endfor %}
                                            </div>
                                          </div>
                                        </div>      
                                        <!-- Location child box start here -->
                                        
                                    </div>
                                  </div><!-- /.kpi-codes-wrap -->
                            </div>
                            <div class="col-12 text-right BtnThm">

                                <button class="submit form-control btn-primary btn btn-info waves-effect waves-light">OK</button>
                                <button class="clear_kpifilter form-control btn-primary btn btn-info waves-effect waves-light pl5">Clear Selections</button>
                            </div>
                         </div>  
                      </div>                        
                   </div>                     
                </div>                  
             </div>
        </div>

      
      
    </div><!-- /.kpiFilter-section -->
    <!-- KPI filters end here-->

    <!----- Chart Content area start here ----->
    <section class="demo">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12">
              <!-- KPI chart data box start here-->
              {% if graph_data.kpi_data_html != '' %}
                <div class="chart-title mt-3 mb-3">
                  <div class="row">
                      <div class="col-lg-12 Ourmrg PADD">
                          <div class="row">  
                              <div class="col-lg-9 col-md-8 col-sm-12 col-12">
                                  <div class="Ourcrumb">                     
                                      <nav aria-label="breadcrumb">
                                      <ol class="breadcrumb">
                                        <li id="scatter-chart-title" class="breadcrumb-item active" aria-current="page" style="line-height: 35px;"></li>
                                      </ol>
                                      </nav>
                                  </div>
                              </div>
                              {% if graph_data.tykpi_count > 0 %}
                                <div class="col-lg-3 col-md-4 col-sm-12 col-12">
                                    <div class="Datetxt text-right">
                                        <a id="view_kpi_data" href='javascript:void(0);'><h3>View Chart Data <i class="fas fa-caret-down"></i></h3></a>
                                    </div>
                                </div>
                              
                                <div class="col-12">
                                  <div class='kpi_data_container dn data_container' >
                                    <div class="table-responsive">
                                    <table>
                                      <thead>
                                        <tr>
                                          <th>Outlet</th>
                                          <th>This Year(Amount/Customers)</th>
                                          <th>Last Year(Amount/Customers)</th>
                                          <th>Second Last Year(Amount/Customers)</th>
                                        </tr>
                                      </thead>
                                      {{ graph_data.kpi_data_html|safe }}
                                    </table>
                                  </div>
                                  </div>    
                                </div>
                              {% endif %}
                            </div>
                      </div>
                  </div>
              {% endif %}  
              <!-- KPI chart data box end here-->
              <div class="row">
                <div class="col-md-12 col-12">
                    {% if graph_data.tykpi_count > 0 %}
                      <div class="demo-left-34 demo-right mt-2">
                        <h4 class="">{{graph_data.tykpi_count}}
                          {% set decrease = graph_data.tykpi_count-graph_data.lykpi_count %}
                          {% set decrease = (decrease / graph_data.lykpi_count) * 100 %}
                          {% if graph_data.tykpi_count > graph_data.lykpi_count %}
                              <span class="GRn">
                          {% else %}
                              <span class="GREd">
                          {% endif %} 
                          {{ decrease|round(1) }}%</span>
                        </h4>
                        <p class="SalPra"> <span> CPC </span> in selected date range</p>
                        <div class="">
                            <div id="chartdiv" class="kpichartdiv">
                            </div>
                          </div>
                        </div>
                      {% else %}
                        <div class="light-bg bg-pd">
                            <div class="NoData text-center">
                              <img src="{{ url_for('static', filename='images/file.svg') }}">
                              <h4>No Chart Data Found For Filter Values</h4>
                            </div>
                        </div>
                      {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!----- Chart Content area start here ----->
    <style>
      .amcharts-amexport-menu-level-0.amcharts-amexport-top {
            top: -71px!important;
            bottom: auto!important;
        }
        .amcharts-amexport-item.amcharts-amexport-item-level-0{
            opacity: 0.8;
        }
        .amcharts-amexport-item.amcharts-amexport-item-level-0 > a{
            color: rgb(51, 51, 51);
        }
    </style>

  <script type="text/javascript">
  
  // set scatter graph data
  var graph_data = {{ graph_data|tojson }};
  // Set filter params
  var is_grid_show = {{graph_data.filter_gridline}};
  var theme = {{graph_data.filter_theme}};
  if(graph_data.kpi_data.length > 0) {
    am4core.ready(function() {
      // Themes begin
      configure_theme(am4core,theme);
      // Themes end
      // Create chart instance
      var chart = am4core.create("chartdiv", am4charts.XYChart);
      // Add data
      chart.data = {{graph_data.kpi_data|tojson}};

      // Create category axis
      var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
      categoryAxis.dataFields.category = "outlets";
      categoryAxis.renderer.opposite = false;

      categoryAxis.renderer.grid.template.location = 0;
      categoryAxis.renderer.minGridDistance = 30;
      categoryAxis.renderer.labels.template.horizontalCenter = "right";
      categoryAxis.renderer.labels.template.verticalCenter = "middle";
      categoryAxis.renderer.labels.template.rotation = 270;
      categoryAxis.tooltip.disabled = true;
      categoryAxis.renderer.minHeight = 110;
      
      var label = categoryAxis.renderer.labels.template;
      label.wrap = true;
      label.maxWidth = 120;
      label.fontSize = 10;
      label.fontFamily  = "'Open Sans', sans-serif";
      label.fill =  am4core.color("#b5b5b5");
      // Create value axis
      var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
      valueAxis.renderer.inversed = false;
      valueAxis.title.text = "CPC";
      valueAxis.title.fontFamily  = "'Open Sans', sans-serif";
      valueAxis.title.fill =  am4core.color("#b5b5b5");
      valueAxis.title.fontWeight = 800;
      valueAxis.renderer.minLabelPosition = 0.01;
      valueAxis.renderer.labels.template.fontSize = 12;
      valueAxis.renderer.labels.template.fontFamily = "'Open Sans', sans-serif";
      valueAxis.renderer.labels.template.fill =  am4core.color("#b5b5b5");

      // Create series
      var series1 = chart.series.push(new am4charts.LineSeries());
      series1.dataFields.valueY = "wty_value";
      series1.dataFields.categoryX = "outlets";
      series1.name = "WTY";
      series1.strokeWidth = 1;
      series1.tooltipText = "{valueY}";
      series1.visible  = false;
    
      var circleBullet = series1.bullets.push(new am4charts.CircleBullet());
      circleBullet.circle.stroke = am4core.color("#fff");
      circleBullet.circle.strokeWidth = 1;

      var series2 = chart.series.push(new am4charts.LineSeries());
      series2.dataFields.valueY = "wly_value";
      series2.dataFields.categoryX = "outlets";
      series2.name = 'WLY';
      series2.strokeWidth = 1;
      series2.tooltipText = "{valueY}";
    
      var circleBullet = series2.bullets.push(new am4charts.CircleBullet());
      circleBullet.circle.stroke = am4core.color("#fff");
      circleBullet.circle.strokeWidth = 1;

      var series3 = chart.series.push(new am4charts.LineSeries());
      series3.dataFields.valueY = "w2y_value";
      series3.dataFields.categoryX = "outlets";
      series3.name = "W2Y";
      series3.strokeWidth = 1;
      series3.tooltipText = "{valueY}";
      var circleBullet = series3.bullets.push(new am4charts.CircleBullet());
      circleBullet.circle.stroke = am4core.color("#fff");
      circleBullet.circle.strokeWidth = 1;

      // Add chart cursor
      chart.cursor = new am4charts.XYCursor();
      chart.cursor.behavior = "zoomY";

      // Add legend
      chart.legend = new am4charts.Legend();
      chart.legend.fontSize = 12;
      // Export option
      chart.exporting.menu = new am4core.ExportMenu();
      chart.exporting.menu.align = "right";
      chart.exporting.menu.verticalAlign = "top";
      // remove grid lines
      if(is_grid_show == '') {
        categoryAxis.renderer.grid.template.disabled = true;
        valueAxis.renderer.grid.template.disabled = true;
      }
  });

    // TYS Vs LYS chart
    /*var charts = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "light",
        "legend": {
            "useGraphSettings": true
        },
        "dataProvider": graph_data.kpi_data,
        "valueAxes": [{
            "integersOnly": true,
            //"minMaxMultiplier":1.2,
            //"maximum": 6000,
            //"minimum": 0,
            "reversed": false,
            "axisAlpha": 0,
            "dashLength": 5,
            "gridCount": 10,
            "position": "left",
            "title": "CPC",
            "autoGridCount":false,
            "labelFrequency":10,
        }],
        "startDuration": 0.5,
        "graphs": [{
            "balloonText": "[[value]]",
            "bullet": "round",
            "title": "WTY",
            "valueField": "wty_value",
        "fillAlphas": 0
        }, {
            "balloonText": "[[value]]",
            "bullet": "round",
            "title": "WLY",
            "valueField": "wly_value",
        "fillAlphas": 0
        }, {
            "balloonText": "[[value]]",
            "bullet": "round",
            "title": "W2Y",
            "valueField": "w2y_value",
        "fillAlphas": 0
        }],
        "chartCursor": {
            "cursorAlpha": 0,
            "zoomable": false
        },
        "categoryField": "outlets",
        "categoryAxis": {
            "gridPosition": "start",
            "autoGridCount": false,
            "gridCount": 1000,
            "labelRotation": 90, //recommended if you have a lot of labels
            "axisHeight": 50,  //recommended to avoid overlap with the scrollbar
            "axisAlpha": 0,
            "fillAlpha": 0.05,
            "fillColor": "#000000",
            "gridAlpha": 0,
            "position": "bottom"
        },
        "export": {
          "enabled": true,
            "position": "bottom-right"
        }
    });*/
  }
  
    //$(function () {
      // init multiselect dropdowns
      //$('.locationBox').fSelect();
      // init autosuggest dropdown
      //$(".autosuggest-select").select2();
    //});

    // Display loader on page load
    $(window).load(function() {
      $(".loader-box").fadeOut("slow");
      // set graph data
      var graph_data = {{ graph_data|tojson }};
      // set date range values if exist in session
      if(graph_data.start_date != undefined) {
        
        var start_date = graph_data.start_date
        start_date = start_date.split('-');
        start_date = start_date[2]+'/'+start_date[1]+'/'+start_date[0]
        $('#start_date').datepicker('setDate', start_date);
      }
      if(graph_data.end_date != undefined) {
        var end_date = graph_data.end_date
        end_date = end_date.split('-');
        end_date = end_date[2]+'/'+end_date[1]+'/'+end_date[0]
        $('#end_date').datepicker('setDate', end_date);
      }
    });

   $("#start_date").datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true,
        weekStart: 1,
        forceParse: true,
      }).on('changeDate', function (selected) {
          var startDate = new Date(selected.date.valueOf());
          $('#end_date').datepicker('setStartDate', startDate);
      }).on('clearDate', function (selected) {
          $('#end_date').datepicker('setStartDate', null);
      });

      $("#end_date").datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true,
        weekStart: 1,
        forceParse: true,
      });
    
    // Manage filter form submition
    $(document).delegate('.submit','click',function(e){
     
      var start_date = ($('#start_date').val() == undefined) ? '' : $('#start_date').val(); 
      var end_date = ($('#end_date').val() == undefined) ? '' : $('#end_date').val(); 
      var sort_type = $("input[name='sort_type']:checked").val();
      var product_type = $("input[name='product']:checked").val();
      var replicate_code = ($('#replicate_code').val() == undefined) ? '' : $('#replicate_code').val(); 
      var promotion_code = ($('#promotion_code').val() == undefined) ? '' : $('#promotion_code').val();
      var plu = ($('#plu').val() == undefined) ? '' : $('#plu').val();
      var location_type = $("input[name='location']:checked").val();
      if (start_date != '') {
        start_date = start_date.split('/');
        start_date = start_date[2]+'-'+start_date[1]+'-'+start_date[0]
      }
      if (end_date != '') {
        end_date = end_date.split('/');
        end_date = end_date[2]+'-'+end_date[1]+'-'+end_date[0]
      }
      
      // set product child array values
      departments = ''
      commodity = ''
      group = ''
      supplier = ''
      manufacturer = ''
      if(product_type == 1) { // Departments
        departments = []
        $.each($("input[name='departments']:checked"), function(){            
          departments.push($(this).val());
        });
        departments = JSON.stringify(departments)
      } else if (product_type == 2) { // Commodity
        commodity = []
        $.each($("input[name='commodity']:checked"), function(){            
          commodity.push($(this).val());
        });
        commodity = JSON.stringify(commodity)
      } else if (product_type == 3) { // Group
        group = []
        $.each($("input[name='group']:checked"), function(){            
          group.push($(this).val());
        });
        group = JSON.stringify(group)
      } else if (product_type == 7) { // Supplier
        supplier = []
        $.each($("input[name='supplier']:checked"), function(){            
          supplier.push($(this).val());
        });
        supplier = JSON.stringify(supplier)
      } else if (product_type == 8) { // Manufacturer
        manufacturer = []
        $.each($("input[name='manufacturer']:checked"), function(){            
          manufacturer.push($(this).val());
        });
        manufacturer = JSON.stringify(manufacturer)
      }

      // Set location child array values
      outlets = ''
      am_zones = ''
      demo_zones = ''
      region_zones = ''
      if(location_type == 1) {
        outlets = []
        $.each($("input[name='outlets']:checked"), function(){            
          outlets.push($(this).val());
        });
        outlets = JSON.stringify(outlets)
      } else if(location_type == 2) {
        am_zones = []
        $.each($("input[name='am_zones']:checked"), function(){            
          am_zones.push($(this).val());
        });
        am_zones = JSON.stringify(am_zones)
      } else if(location_type == 3) {
        demo_zones = []
        $.each($("input[name='demo_zones']:checked"), function(){            
          demo_zones.push($(this).val());
        });
        demo_zones = JSON.stringify(demo_zones)
      } else if(location_type == 4) {
        region_zones = []
        $.each($("input[name='region_zones']:checked"), function(){            
          region_zones.push($(this).val());
        });
        region_zones = JSON.stringify(region_zones)
      }
      
      // validate plu number 
      if(plu != '' && isNaN(plu)) {
        alert('Please use valid PLU code!');
        $('#plu').val('');
        return false;
      }
      set_filters(product_type,departments,commodity,group,replicate_code,promotion_code,plu,supplier,manufacturer,location_type,outlets,am_zones,demo_zones,region_zones,start_date,end_date,sort_type)
    });
    
    // Set filter param as Redis object 
    function set_filters(product_type,departments,commodity,group,replicate_code,promotion_code,plu,supplier,manufacturer,location_type,outlets,am_zones,demo_zones,region_zones,start_date,end_date,sort_type){
      // show loader
      $(".loader-box").fadeIn("slow");
      $.ajax({
        type: 'GET',
        url: 'set_kpifilters',
        data : {
          product_type:product_type,departments:departments,commodity:commodity,group:group,replicate_code:replicate_code,promotion_code:promotion_code,plu:plu,supplier:supplier,manufacturer:manufacturer,location_type: location_type,outlets: outlets,am_zones:am_zones,demo_zones:demo_zones,region_zones:region_zones,start_date:start_date,end_date:end_date,sort_type:sort_type
        },
        contentType: "application/json",
        success:function(data){
          //console.log(data)
          window.location.href = window.location.href;
        },
        error: function(data) { // if error occured
          $(".loader-box").fadeOut("slow");
          alert("Error occured.please try again");
        }
      });
    }
    
    $("input[name='product']").change(function(e) {
      var value = $(this).val();
      set_filtertype_box(value)
    });

    // Set filter param as Redis object 
    function set_filtertype_box(fproducttype){
      $(".loader-box").fadeIn("slow");
      $.ajax({
        type: 'GET',
        url: 'get_kpifilterbox',
        data : {
          fproducttype:fproducttype
        },
        contentType: "application/json",
        success:function(data){
          res = JSON.parse(data);
          $('#product_filter_div').html(res['res_select_box']);
          $(".loader-box").fadeOut("slow");
        },
        error: function(data) { // if error occured
          alert("Error occured.please try again");
          $(".loader-box").fadeOut("slow");
        }
      });
    }

    // Clear selected filters
    $(document).delegate('.clear_kpifilter','click',function(e){
      if(confirm("Are you sure you want to clear this selections?")){
        $(".loader-box").fadeIn("slow");
        $.ajax({
          type: 'GET',
          url: 'clear_kpifilter',
          data : {},
          contentType: "application/json",
          success:function(data){
            window.location.href = window.location.href;
          },
          error: function(data) { // if error occured
            alert("Error occured.please try again");
            $(".loader-box").fadeOut("slow");
          }
        });
      } else {
        return false;
      }
    });
    

    // Set filter param as session object 
    function set_location_filter_box(flocationtype){
      $(".loader-box").fadeIn("slow");
      $.ajax({
        type: 'GET',
        url: 'get_kpilocationfilterbox',
        data : {
          flocationtype:flocationtype
        },
        contentType: "application/json",
        success:function(data){
          res = JSON.parse(data);
          $('#location_filter_div').html(res['res_select_box']);
          $(".loader-box").fadeOut("slow");
        },
        error: function(data) { // if error occured
          alert("Error occured.please try again");
          $(".loader-box").fadeOut("slow");
        }
      });
    }
    
    // Manage Location filter availability
    $("input[name='location']").change(function(e) {
      var value = $(this).val();
      set_location_filter_box(value)
    });

  // Manage filter box appearance
  $("#kpiFilter-btn").click(function(){
    $(".kpiFilter-section").toggle("slow");
  });

  // Manage product filter selection
  $('input[name="product"]').click(function() {
    var product_lbl = $('input[name="product"]:checked').attr("product-lbl");
    // prepare selection html
    $("#prod-header-p").empty();
    $(".prod-child-p").empty(); 
    $('#prod-header-p').html(product_lbl);
  });

  // Manage product child filter selection
  $(document).delegate('.prod-child','click',function(e){
    product_val = '';
    product_parent_lbl = ''
    $.each($(".prod-child:checked"), function(){
      product_val += $(this).attr('product-child-lbl')+'</br>';
      product_parent_lbl = $(this).attr("product-parent-lbl");
    });

    // prepare selection html
    $("#prod-header-p").empty();
    $(".prod-child-p").empty();
    $('.prod-child-p').html(product_val);
    $('#prod-header-p').html(product_parent_lbl);
  });

  // Manage location filter selection
  $('input[name="location"]').click(function() {
    var location_lbl = $('input[name="location"]:checked').attr("location-lbl");
    // prepare selection html
    $("#loc-header-p").empty();
    $(".loc-child-p").empty(); 
    $('#loc-header-p').html(location_lbl);
  });

  // Manage location child filter selection
  $(document).delegate('.loc-child','click',function(e){
    location_val = '';
    location_parent_lbl = ''
    $.each($(".loc-child:checked"), function(){
      location_val += $(this).attr('location-child-lbl')+'</br>';
      location_parent_lbl = $(this).attr("location-parent-lbl");
    });
    // prepare selection html
    $("#loc-header-p").empty();
    $(".loc-child-p").empty(); 
    $('.loc-child-p').html(location_val);
    $('#loc-header-p').html(location_parent_lbl);
  });

  // Manage location child filter selection
  $(document).delegate('.input-code','blur',function(e){
    var input_code = $(this).val();
    // prepare selection html
    $(".prod-child-p").empty();
    $('.prod-child-p').html(input_code);
  });

  // Manage kpi chart data visibility
  $(document).delegate('#view_kpi_data','click',function(e){
    if($('.kpi_data_container').is(':visible')){
      $('.kpi_data_container').fadeOut("slow");
    } else {
      $('.kpi_data_container').fadeIn("slow");
    }
  });
  $("#StoreFliter").click(function(){
      $("#ShowFliter").slideToggle(800);
  });
  </script>
{% endblock %}