{% extends 'head.html' %}
    <!-- Include header -->
    {% block header %}
    {% endblock %}
    <!-- Include body content -->
    {% block content %}

    <!-- KPI filters start here-->
    <div class="">
      <div class="container-fluid">
        <!------------------------------->
        <div class="light-bg bg-pd mt-3">
            <div class="row">
               <div class="col-8">
                  <div class="StoreTxt">
                     <h2 style="line-height: 36px;">Zone Report</h2>
                  </div>                     
               </div>
               <div class="col-4 text-right">
                  <div>
                     <button type="button" class="btn ThmBtn" id="StoreFliter" title="Choose report filters">
                        <i class="fas fa-bars"></i>
                     </button>
                  </div>
               </div>
               <div class="col-12">
                  <div id="ShowFliter" class="mt-3">
                     <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                           <div class="ReportForm FormFliter">
                              <fieldset class="form-group DateRange">
                                <label>Date Range:</label>
                                <div class="form-row">                                             
                                    <div class="col">
                                      <input type="text" class="form-control" placeholder="Start Date" id="start_date" readonly="">
                                    </div>
                                    <div class="col-1 text-center">
                                      <p class="totxt">TO :</p>
                                    </div>
                                    <div class="col">
                                      <input type="text" class="form-control" placeholder="End Date" id="end_date" readonly="">
                                    </div>
                                </div>
                              </fieldset>
                              <fieldset class="form-group">
                                {% if graph_data.f_sort_type is defined and graph_data.f_sort_type == '1' %}
                                  {% set demo_selected = 'checked=checked' %}
                                {% elif graph_data.f_sort_type is defined and graph_data.f_sort_type == '2' %}
                                  {% set region_selected = 'checked=checked' %}
                                {% elif graph_data.f_sort_type is defined and graph_data.f_sort_type == '3' %}
                                  {% set rtm_selected = 'checked=checked' %}
                                {% elif graph_data.f_sort_type is defined and graph_data.f_sort_type == '4' %}
                                  {% set sales_selected = 'checked=checked' %}    
                                {% endif %}
                                <label>Primary Selection:</label>
                                <div class="custom-radio pl-0">
                                    <div class="form-check pl-0 Pl-Lable">
                                      <input class="form-check-input" type="radio" {{demo_selected}} value='1' name="sort_type" id="inlineRadio1">
                                      <label class="form-check-label" for="inlineRadio1">Demographic</label>
                                      
                                      <input class="form-check-input" type="radio" {{region_selected}} value='2' name="sort_type" id="inlineRadio2">
                                      <label class="form-check-label" for="inlineRadio2">Region</label>
                                      
                                      <input class="form-check-input" type="radio" {{rtm_selected}} value='3' name="sort_type" id="inlineRadio3">
                                      <label class="form-check-label" for="inlineRadio3">RTM</label>
                                      
                                      <input class="form-check-input" type="radio" {{sales_selected}} value='4' name="sort_type" id="inlineRadio4">
                                      <label class="form-check-label" for="inlineRadio4">Sales Group</label>
                                    </div>
                                </div>
                              </fieldset>
                              <fieldset class="">
                                <label>Selections:</label>
                                <div class="selections form-control">
                                  <div id='demo-selection-div'>
                                    <p class='selection-header-p' id='demo-header-p'>
                                      {% if graph_data.f_demo_zones is defined and graph_data.f_demo_zones|length > 0 %}
                                        Demographic Zones
                                      {% endif %}
                                    </p>
                                    <p class='demo-child-p'>
                                      {% for item in graph_data.default_demo_childbox %}
                                        {% if graph_data.f_demo_zones is defined and item.id in graph_data.f_demo_zones %}
                                          {{ item.title }} {{ item.code }}
                                          <br/>
                                        {% endif %}
                                      {% endfor %}
                                    </p>
                                  </div>
                                  <div id='region-selection-div'>
                                    <p class='selection-header-p' id='region-header-p'>
                                      {% if graph_data.f_region_zones is defined and graph_data.f_region_zones|length > 0 %}
                                        Region Zones
                                      {% endif %}
                                    </p>
                                    <p class='region-child-p'>
                                      {% for item in graph_data.default_region_childbox %}
                                        {% if graph_data.f_region_zones is defined and item.id in graph_data.f_region_zones %}
                                          {{ item.title }} {{ item.code }}
                                          <br/>
                                        {% endif %}
                                      {% endfor %}
                                    </p>
                                  </div>
                                  <div id='rtm-selection-div'>
                                    <p class='selection-header-p' id='rtm-header-p'>
                                      {% if graph_data.f_rtm_zones is defined and graph_data.f_rtm_zones|length > 0 %}
                                        RTM Zones
                                      {% endif %}
                                    </p>
                                    <p class='rtm-child-p'>
                                      {% for item in graph_data.default_rtm_childbox %}
                                        {% if graph_data.f_rtm_zones is defined and item.id in graph_data.f_rtm_zones %}
                                          {{ item.title }} {{ item.code }}
                                          <br/>
                                        {% endif %}
                                      {% endfor %}
                                    </p>
                                  </div>
                                  <div id='sales-selection-div'>
                                    <p class='selection-header-p' id='sales-header-p'>
                                      {% if graph_data.f_sales_groups is defined and graph_data.f_sales_groups|length > 0 %}
                                        Sales Groups
                                      {% endif %}
                                    </p>
                                    <p class='sales-child-p'>
                                      {% for item in graph_data.default_sales_group_childbox %}
                                        {% if graph_data.f_sales_groups is defined and item.id in graph_data.f_sales_groups %}
                                          {{ item.title }} {{ item.code }}
                                          <br/>
                                        {% endif %}
                                      {% endfor %}
                                    </p>
                                  </div>
                                </div>  
                              </fieldset>
                           </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                          <div class="kpi-codes-wrap">
                            <div class="panel-group blue-accordion" id="accordion">
                                
                                <!-- Demographic box start here -->
                                <div class="panel panel-default" id="product_filter_div">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#kpiCollapse02">Demographic Zones</a>
                                      </h4>
                                    </div>
        
                                    <div id="kpiCollapse02" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        {% for item in graph_data.default_demo_childbox %}
                                          {% set selected = '' %}
                                          {% if graph_data.f_demo_zones is defined and item.id in graph_data.f_demo_zones %}
                                          {% set selected = 'checked=checked' %}
                                        {% endif %}                  
                                          <label class="small-checkbox">{{ item.title }} {{ item.code }}
                                            <input type="checkbox" name="demo_zones" class="demo-child" id="demo_zones" value="{{ item.id }}" {{ selected }} demo-child-lbl="{{ item.title }} {{ item.code }}" demo-parent-lbl="Demographic Zones">
                                            <span class="checkmark"></span>
                                            </label>
                                          {% endfor %}
                                      </div>
                                    </div>
                                  
                                </div>
                                <!-- Demographic box end here -->
                                
                                <!-- Region box start here -->  
                                <div class="panel panel-default">
                                  <div class="panel-heading">
                                    <h4 class="panel-title">
                                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#kpiCollapse03">Region Zones</a>
                                    </h4>
                                  </div>
                                  <div id="kpiCollapse03" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {% for item in graph_data.default_region_childbox %}
                                        {% set selected = '' %} 
                                        {% if graph_data.f_region_zones is defined and item.id in graph_data.f_region_zones %}
                                          {% set selected = 'checked=checked' %}
                                        {% endif %}  
                                        <label class="small-checkbox">{{ item.title }} {{ item.code }}
                                          <input type="checkbox" name="region_zones" class="region-child" id="region_zones" value="{{ item.id }}" {{ selected }} region-child-lbl="{{ item.title }} {{ item.code }}" region-parent-lbl="Region Zones">
                                          <span class="checkmark"></span>
                                          </label>
                                        {% endfor %}
                                    </div>
                                  </div>
                                </div>      
                                <!-- Region box start here -->  
                                
                                <!-- RTM box start here --> 
                                <div class="panel panel-default" id="location_filter_div">
                                  <div class="panel-heading">
                                    <h4 class="panel-title">
                                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#kpiCollapse04">RTM Zones</a>
                                    </h4>
                                  </div>
                                  <div id="kpiCollapse04" class="panel-collapse collapse">
                                    <div class="panel-body">
                                      {% for item in graph_data.default_rtm_childbox %}
                                        {% set selected = '' %} 
                                        {% if graph_data.f_rtm_zones is defined and item.id in graph_data.f_rtm_zones %}
                                          {% set selected = 'checked=checked' %}
                                        {% endif %}  
                                        <label class="small-checkbox">{{ item.title }} {{ item.code }}
                                          <input type="checkbox" name="rtm_zones" class="rtm-child" id="rtm_zones" value="{{ item.id }}" {{ selected }} rtm-child-lbl="{{ item.title }} {{ item.code }}" rtm-parent-lbl="RTM Zones">
                                          <span class="checkmark"></span>
                                          </label>
                                        {% endfor %}
                                    </div>
                                  </div>
                                </div>      
                                <!-- RTM box start here -->
        
                                <!-- Sales group box start here --> 
                                <div class="panel panel-default" id="location_filter_div">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#kpiCollapse05">Sales Group</a>
                                      </h4>
                                    </div>
                                    <div id="kpiCollapse05" class="panel-collapse collapse">
                                      <div class="panel-body">
                                        {% for item in graph_data.default_sales_group_childbox %}
                                          {% set selected = '' %} 
                                          {% if graph_data.f_sales_groups is defined and item.id in graph_data.f_sales_groups %}
                                            {% set selected = 'checked=checked' %}
                                          {% endif %}  
                                          <label class="small-checkbox">{{ item.title }} {{ item.code }}
                                            <input type="checkbox" name="sales_group" class="sales-child" id="sales_group" value="{{ item.id }}" {{ selected }} sales-child-lbl="{{ item.title }} {{ item.code }}" sales-parent-lbl="Sales Group">
                                            <span class="checkmark"></span>
                                            </label>
                                          {% endfor %}
                                      </div>
                                    </div>
                                  </div>      
                                  <!-- Sales group box start here -->
                                
                              </div>
                          </div>
                        </div>
                        <div class="col-12 text-right BtnThm">
                           <button class="submit form-control btn-primary btn btn-info waves-effect waves-light">OK</button>
                           <button class="clear_zonefilter form-control btn-primary btn btn-info waves-effect waves-light pl5">Clear Selections</button>
                        </div>                            
                     </div>  
                  </div>                        
               </div>                     
            </div>                  
         </div>
        <!------------------------------->


    </div>
    
     
   </div><!-- /.kpiFilter-section -->
   <!-- KPI filters end here-->

  <!----- Chart Content area start here ----->
  <div class="inner_loader dn"></div>
  <div id='inner-chart-container' class="dn">
        
  </div>
  <!------- Charts Content area end here ------->
  <style>
    .amcharts-amexport-menu-level-0.amcharts-amexport-top {
          top: -71px!important;
          bottom: auto!important;
      }
      .amcharts-amexport-item.amcharts-amexport-item-level-0{
          opacity: 0.8;
      }
      .amcharts-amexport-item.amcharts-amexport-item-level-0 > a{
          color: rgb(51, 51, 51);
      }
  </style>
  <script type="text/javascript">

    // Display loader on page load
    $(window).load(function() {
      $(".loader").fadeOut("slow");
      // set graph data
      var graph_data = {{ graph_data|tojson }};
      // set date range values if exist in session
      if(graph_data.start_date != undefined) {
        
        var start_date = graph_data.start_date
        start_date = start_date.split('-');
        start_date = start_date[2]+'/'+start_date[1]+'/'+start_date[0]
        $('#start_date').datepicker('setDate', start_date);
      }
      if(graph_data.end_date != undefined) {
        var end_date = graph_data.end_date
        end_date = end_date.split('-');
        end_date = end_date[2]+'/'+end_date[1]+'/'+end_date[0]
        $('#end_date').datepicker('setDate', end_date);
      }
    });

   $("#start_date").datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true,
        weekStart: 1,
        forceParse: true,
      }).on('changeDate', function (selected) {
          var startDate = new Date(selected.date.valueOf());
          $('#end_date').datepicker('setStartDate', startDate);
      }).on('clearDate', function (selected) {
          $('#end_date').datepicker('setStartDate', null);
      });

      $("#end_date").datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true,
        weekStart: 1,
        forceParse: true,
      });
    
    // Manage filter form submition
    $(document).delegate('.submit','click',function(e){
     
      var start_date = ($('#start_date').val() == undefined) ? '' : $('#start_date').val(); 
      var end_date = ($('#end_date').val() == undefined) ? '' : $('#end_date').val(); 
      var sort_type = $("input[name='sort_type']:checked").val();
    
      if (start_date != '') {
        start_date = start_date.split('/');
        start_date = start_date[2]+'-'+start_date[1]+'-'+start_date[0]
      }
      if (end_date != '') {
        end_date = end_date.split('/');
        end_date = end_date[2]+'-'+end_date[1]+'-'+end_date[0]
      }
      
      // Set location child array values
      demo_zone = []
      $.each($("input[name='demo_zones']:checked"), function(){ 
        demo = {}
        demo['id'] = $(this).val()
        demo['lbl'] = $(this).attr('demo-child-lbl')        
        demo_zone.push(demo);
      });
      demo_zones = JSON.stringify(demo_zone)
     
      region_zone = []
      $.each($("input[name='region_zones']:checked"), function(){            
        region = {}
        region['id'] = $(this).val()
        region['lbl'] = $(this).attr('region-child-lbl')        
        region_zone.push(region);
      });
      region_zones = JSON.stringify(region_zone)
      
      rtm_zone = []
      $.each($("input[name='rtm_zones']:checked"), function(){
        rtm = {}
        rtm['id'] = $(this).val()
        rtm['lbl'] = $(this).attr('rtm-child-lbl')        
        rtm_zone.push(rtm);
      });
      rtm_zones = JSON.stringify(rtm_zone)
      
      sales_group = []
      $.each($("input[name='sales_group']:checked"), function(){            
        sales = {}
        sales['id'] = $(this).val()
        sales['lbl'] = $(this).attr('sales-child-lbl')        
        sales_group.push(sales);
      });
      sales_groups = JSON.stringify(sales_group)
      console.log(demo_zone)
      // Validate primary selection existance
      if((sort_type == '1' && demo_zone.length == 0) || (sort_type == '2' && region_zone.length == 0) || (sort_type == '3' && rtm_zone.length == 0) || (sort_type == '4' && sales_group.length == 0)) {
        alert('Please Select Primary Zone(s)/Sales Group(s)!')
        return false;
      }
      set_filters(demo_zones,region_zones,rtm_zones,sales_groups,start_date,end_date,sort_type)
    });
    
    // Set filter param as Redis object 
    function set_filters(demo_zones,region_zones,rtm_zones,sales_group,start_date,end_date,sort_type){
      $.ajax({
        type: 'GET',
        url: 'set_zonefilters',
        data : {
          demo_zones:demo_zones,region_zones:region_zones,rtm_zones:rtm_zones,sales_group:sales_group,start_date:start_date,end_date:end_date,sort_type:sort_type
        },
        contentType: "application/json",
        success:function(data){
          //console.log(data)
          window.location.href = window.location.href;
        },
        error: function(data) { // if error occured
          alert("Error occured.please try again");
        }
      });
    }
 
    // Clear selected filters
    $(document).delegate('.clear_zonefilter','click',function(e){
      if(confirm("Are you sure you want to clear this selections?")){
        $(".loader-box").fadeIn("slow");
        $.ajax({
          type: 'GET',
          url: 'clear_zonefilter',
          data : {},
          contentType: "application/json",
          success:function(data){
            window.location.href = window.location.href;
          },
          error: function(data) { // if error occured
            alert("Error occured.please try again");
            $(".loader-box").fadeOut("slow");
          }
        });
      } else {
        return false;
      }
    });

  // Manage filter box appearance
  $("#kpiFilter-btn").click(function(){
    $(".kpiFilter-section").toggle("slow");
  });

  // Manage product child filter selection
  $(document).delegate('.demo-child','click',function(e){
    demo_val = '';
    demo_parent_lbl = ''
    $.each($(".demo-child:checked"), function(){
      demo_val += $(this).attr('demo-child-lbl')+'</br>';
      demo_parent_lbl = $(this).attr("demo-parent-lbl");
    });

    // prepare selection html
    $("#demo-header-p").empty();
    $(".demo-child-p").empty();
    $('.demo-child-p').html(demo_val);
    $('#demo-header-p').html(demo_parent_lbl);
  });

  // Manage region child filter selection
  $(document).delegate('.region-child','click',function(e){
    region_val = '';
    region_parent_lbl = ''
    $.each($(".region-child:checked"), function(){
      region_val += $(this).attr('region-child-lbl')+'</br>';
      region_parent_lbl = $(this).attr("region-parent-lbl");
    });
    // prepare selection html
    $("#region-header-p").empty();
    $(".region-child-p").empty(); 
    $('.region-child-p').html(region_val);
    $('#region-header-p').html(region_parent_lbl);
  });

  // Manage rtm child filter selection
  $(document).delegate('.rtm-child','click',function(e){
    rtm_val = '';
    rtm_parent_lbl = ''
    $.each($(".rtm-child:checked"), function(){
      rtm_val += $(this).attr('rtm-child-lbl')+'</br>';
      rtm_parent_lbl = $(this).attr("rtm-parent-lbl");
    });
    // prepare selection html
    $("#rtm-header-p").empty();
    $(".rtm-child-p").empty(); 
    $('.rtm-child-p').html(rtm_val);
    $('#rtm-header-p').html(rtm_parent_lbl);
  });

  // Manage sales group child filter selection
  $(document).delegate('.sales-child','click',function(e){
    sales_val = '';
    sales_parent_lbl = ''
    $.each($(".sales-child:checked"), function(){
      sales_val += $(this).attr('sales-child-lbl')+'</br>';
      sales_parent_lbl = $(this).attr("sales-parent-lbl");
    });
    // prepare selection html
    $("#sales-header-p").empty();
    $(".sales-child-p").empty(); 
    $('.sales-child-p').html(sales_val);
    $('#sales-header-p').html(sales_parent_lbl);
  });

  // Manage inner line charts based on parent selection
  var Ajax = {
      active: false,
      call: function(zone_id,zone_label) {
          if (this.active === false) {
              this.active = true;
              var self = this;
              $.ajax({
                  type: 'GET',
                  url: 'get_zone_inner_charts',
                  data : {'zone_id':zone_id},
                  contentType: "application/json",
                  success:function(data){
                      res = JSON.parse(data);
                      $(".inner_loader").fadeOut("slow");
                      $('#inner-chart-container').fadeIn("slow");
                      $('#inner-chart-container').html(res['chart_container'])
                      if(zone_label!= ''){
                          $('.sel_parent_lbl').html(zone_label+' - ')
                      }
                  },
                  complete: function() {
                      self.active = false;
                  },
                  error: function(data) { // if error occured
                      alert("Error occured.please try again");
                      $(".inner_loader").fadeOut("slow");
                  }
              });
          }
      }
  };
  load_inner_charts()
  function load_inner_charts(zone_id='',zone_label='') {
      $(".inner_loader").fadeIn("slow");
      $('#inner-chart-container').fadeOut("slow");
      Ajax.call(zone_id,zone_label);
  }

  $("#StoreFliter").click(function(){
    $("#ShowFliter").slideToggle(800);
  });
  </script>
{% endblock %}