.SettingNav .nav-link{
	border-radius: 4px;
	width: 35px;
	height: 35px;
	line-height: 34px;
	display: block;
	text-align: center;
	padding: 0;
	font-size: 15px;
	margin: 0px 4px;
	color: #fff;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
}
.header_main .navbar-light .navbar-toggler{
	margin-right: 16px;
}
.SettingNav .SettingMenu{
	top: 40px;
	box-shadow: 0 1px 7px 2px rgba(135, 158, 171, 0.2);
	border: none;
	padding: 2px 0px;
	border-radius: 3px;
}
.SettingNav .SettingMenu:after{
	position: absolute;
    top: -6px;
    left: 8px;
    display: inline-block;
    content: '';
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    right: 8px;
    left: auto;
}
.SettingMenu > ul{
	padding: 0;
	margin: 0;
	list-style: none;
	width: 324px;
}
.SettingMenu > ul > li{
	min-height: 34px;
	margin: 5px 0;
	padding: 0 15px;
	border-bottom: 1px solid #dfe8f1;
}
.SettingMenu > ul > li:last-child{
	border-bottom: 1px solid transparent;
}
.SettingMenu > ul > li > h5{ 
	font-size: 14px;
	color: #688e8f;
	line-height: 25px;
	font-weight: 400;
	text-transform: uppercase;
}
.SettingMenu .LabTxt{
	color: #3e4855;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
}
.SettingMenu .switch {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 24px;
	float: right;
}
.SettingMenu .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
.SettingMenu .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #f5f5f5;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
}
.SettingMenu .slider::before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 4px;
	bottom: 3px;
	background-color: #fff;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}
.SettingMenu input:checked + .slider {
 	background-color: #00AAF7;
}
.SettingMenu input:focus + .slider {
 	box-shadow: 0 0 1px #00AAF7;
}
.SettingMenu input:checked + .slider:before {
	-webkit-transform: translateX(23px);
	-ms-transform: translateX(23px);
	transform: translateX(23px);
}
/*.col-lg-12.Ourmrg{
	background: #fff;
}*/
.col-lg-12.Ourmrg .row{
	padding: .75rem 1rem;
}
.Ourcrumb .breadcrumb{
	margin-bottom: 0;
	padding: 0;
	background-color: transparent;
}
.Ourcrumb .breadcrumb-item.active{
	color: #878787;
	font-weight: 500;
	text-transform: capitalize;
	font-size: 18px;
}
.Datetxt h3{
	color: #313131;
	font-size: 17px;
	font-weight: 600;
	line-height: 26px;
	text-transform: uppercase;
}
.ChartClr{
	margin-top: 6px; 
}
.ChartClr ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.ChartClr ul li{
	display: inline-block;
}
.ChartClr ul li.active{
	border: 2px solid #3b96ff;
	text-align: center;
	border-radius: 50px;
	width: 40px;
	height: 40px;
	margin:0px 5px; 
}
.ChartClr a{
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50px;
	border: 5px solid #fff;
	-webkit-box-shadow: 0 2px 10px -5px #000;
	box-shadow: 0 2px 10px -5px #000;
	margin-top: 2px;
}
.col-lg-12.Ourmrg.PADD .row{
	padding: 0px 6PX;
}
a:hover,a:focus{
	outline: 0;
}
.animate {
	animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
}
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/*  */
  
.loader-box {
	transition: all ease 1s;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 11;
	height: 100vh;
}
.loader-box::before{
	content: '';
	position: absolute;
	background: #000;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	opacity: 0.3;
}
  
  .labels{
	list-style-type:none;
	margin: 15px auto 0px;
	display:inline-block;
	padding: 0px;
	width: 200px;
	height: 30px;
	overflow: hidden;
  }
  
  .label{
	float:left;
	height:30px;
	line-height:30px;
	padding:0px;
	font-family:Futura,Trebuchet MS,Arial,sans-serif; 
	color:#fff;
	font-size:20px;
	width:200px;
	position:relative;
	animation:textUp ease 3s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	-webkit-animation:textUp ease 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
	-moz-animation:textUp ease 3s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-fill-mode:forwards; /*FF 5+*/
	-o-animation:textUp ease 3s;
	-o-animation-iteration-count: infinite;
	-o-animation-fill-mode:forwards; /*Not implemented yet*/
	-ms-animation:textUp ease 3s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-fill-mode:forwards; /*IE 10+*/
  }
  .LoadWrap{
	position: absolute;
left: 0;
right: 0;
top: 50%;
transform: translateY(-50%);
  }
  .loader{
	width:120px;
	height:120px;
	background-color:#FFFFFF;
	overflow:hidden;
	display:block;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
	border:3px solid #fff;
	position:relative;
	margin:0 auto;
	z-index:1;
	animation:colorChange ease 3s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	-webkit-animation:colorChange ease 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
	-moz-animation:colorChange ease 3s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-fill-mode:forwards; /*FF 5+*/
	-o-animation:colorChange ease 3s;
	-o-animation-iteration-count: infinite;
	-o-animation-fill-mode:forwards; /*Not implemented yet*/
	-ms-animation:colorChange ease 3s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-fill-mode:forwards; /*IE 10+*/
	
  }
  
  .loaded.loader-box,.loaded .loader,.loaded .labels{opacity:0;}
  .hidden{display:none;}
  
  .element-animation{
	bottom:10px;
	animation:animationFrames ease-in 3s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	-webkit-animation: animationFrames ease-in 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
	-moz-animation: animationFrames ease-in 3s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-fill-mode:forwards; /*FF 5+*/
	-o-animation: animationFrames ease-in 3s;
	-o-animation-iteration-count: infinite;
	-o-animation-fill-mode:forwards; /*Not implemented yet*/
	-ms-animation: animationFrames ease-in 3s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-fill-mode:forwards; /*IE 10+*/
  }
  
  @keyframes textUp{
	0% {
	  top:0px;
	  display:relative;
	  opacity:0;
	}
	1% {
	  top:0px;
	  display:relative;
	  opacity:1;
	}
	24% {
	  top:0px;
	  display:relative;
	  opacity:1;
	}
	25% {
	  top:0px;
	  display:none;
	  opacity:0;
	}
	26% {
	  top:-30px;
	  display:relative;
	  opacity:0;
	}
	27% {
	  top:-30px;
	  display:relative;
	  opacity:1;
	}
	49% {
	  top:-30px;
	  display:relative;
	  opacity:1;
	}
	50% {
	  top:-30px;
	  display:none;
	  opacity:0;
	}
	51% {
	  top:-60px;
	  display:relative;
	  opacity:0;
	}
	52% {
	  top:-60px;
	  display:relative;
	  opacity:1;
	}
	74% {
	  top:-60px;
	  display:relative;
	  opacity:1;
	}
	75% {
	  top:-60px;
	  display:none;
	  opacity:0;
	}
	76% {
	  top:-90px;
	  display:relative;
	  opacity:0;
	}
	77% {
	  top:-90px;
	  display:relative;
	  opacity:1;
	}
	99% {
	  top:-90px;
	  display:relative;
	  opacity:1;
	}
	100% {
	  top:-90px;
	  display:none;
	  opacity:0;
	}
  }
  @-webkit-keyframes textUp{
	0% {
	  top:0px;
	  display:relative;
	  opacity:0;
	}
	1% {
	  top:0px;
	  display:relative;
	  opacity:1;
	}
	24% {
	  top:0px;
	  display:relative;
	  opacity:1;
	}
	25% {
	  top:0px;
	  display:none;
	  opacity:0;
	}
	26% {
	  top:-30px;
	  display:relative;
	  opacity:0;
	}
	27% {
	  top:-30px;
	  display:relative;
	  opacity:1;
	}
	49% {
	  top:-30px;
	  display:relative;
	  opacity:1;
	}
	50% {
	  top:-30px;
	  display:none;
	  opacity:0;
	}
	51% {
	  top:-60px;
	  display:relative;
	  opacity:0;
	}
	52% {
	  top:-60px;
	  display:relative;
	  opacity:1;
	}
	74% {
	  top:-60px;
	  display:relative;
	  opacity:1;
	}
	75% {
	  top:-60px;
	  display:none;
	  opacity:0;
	}
	76% {
	  top:-90px;
	  display:relative;
	  opacity:0;
	}
	77% {
	  top:-90px;
	  display:relative;
	  opacity:1;
	}
	99% {
	  top:-90px;
	  display:relative;
	  opacity:1;
	}
	100% {
	  top:-90px;
	  display:none;
	  opacity:0;
	}
  }
  @-moz-keyframes textUp{
	0% {
	  top:0px;
	  display:relative;
	  opacity:0;
	}
	1% {
	  top:0px;
	  display:relative;
	  opacity:1;
	}
	24% {
	  top:0px;
	  display:relative;
	  opacity:1;
	}
	25% {
	  top:0px;
	  display:none;
	  opacity:0;
	}
	26% {
	  top:-30px;
	  display:relative;
	  opacity:0;
	}
	27% {
	  top:-30px;
	  display:relative;
	  opacity:1;
	}
	49% {
	  top:-30px;
	  display:relative;
	  opacity:1;
	}
	50% {
	  top:-30px;
	  display:none;
	  opacity:0;
	}
	51% {
	  top:-60px;
	  display:relative;
	  opacity:0;
	}
	52% {
	  top:-60px;
	  display:relative;
	  opacity:1;
	}
	74% {
	  top:-60px;
	  display:relative;
	  opacity:1;
	}
	75% {
	  top:-60px;
	  display:none;
	  opacity:0;
	}
	76% {
	  top:-90px;
	  display:relative;
	  opacity:0;
	}
	77% {
	  top:-90px;
	  display:relative;
	  opacity:1;
	}
	99% {
	  top:-90px;
	  display:relative;
	  opacity:1;
	}
	100% {
	  top:-90px;
	  display:none;
	  opacity:0;
	}
  }
  @-o-keyframes textUp{
	0% {
	  top:0px;
	  display:relative;
	  opacity:0;
	}
	1% {
	  top:0px;
	  display:relative;
	  opacity:1;
	}
	24% {
	  top:0px;
	  display:relative;
	  opacity:1;
	}
	25% {
	  top:0px;
	  display:none;
	  opacity:0;
	}
	26% {
	  top:-30px;
	  display:relative;
	  opacity:0;
	}
	27% {
	  top:-30px;
	  display:relative;
	  opacity:1;
	}
	49% {
	  top:-30px;
	  display:relative;
	  opacity:1;
	}
	50% {
	  top:-30px;
	  display:none;
	  opacity:0;
	}
	51% {
	  top:-60px;
	  display:relative;
	  opacity:0;
	}
	52% {
	  top:-60px;
	  display:relative;
	  opacity:1;
	}
	74% {
	  top:-60px;
	  display:relative;
	  opacity:1;
	}
	75% {
	  top:-60px;
	  display:none;
	  opacity:0;
	}
	76% {
	  top:-90px;
	  display:relative;
	  opacity:0;
	}
	77% {
	  top:-90px;
	  display:relative;
	  opacity:1;
	}
	99% {
	  top:-90px;
	  display:relative;
	  opacity:1;
	}
	100% {
	  top:-90px;
	  display:none;
	  opacity:0;
	}
  }
  @-ms-keyframes textUp{
	0% {
	  top:0px;
	  display:relative;
	  opacity:0;
	}
	1% {
	  top:0px;
	  display:relative;
	  opacity:1;
	}
	24% {
	  top:0px;
	  display:relative;
	  opacity:1;
	}
	25% {
	  top:0px;
	  display:none;
	  opacity:0;
	}
	26% {
	  top:-30px;
	  display:relative;
	  opacity:0;
	}
	27% {
	  top:-30px;
	  display:relative;
	  opacity:1;
	}
	49% {
	  top:-30px;
	  display:relative;
	  opacity:1;
	}
	50% {
	  top:-30px;
	  display:none;
	  opacity:0;
	}
	51% {
	  top:-60px;
	  display:relative;
	  opacity:0;
	}
	52% {
	  top:-60px;
	  display:relative;
	  opacity:1;
	}
	74% {
	  top:-60px;
	  display:relative;
	  opacity:1;
	}
	75% {
	  top:-60px;
	  display:none;
	  opacity:0;
	}
	76% {
	  top:-90px;
	  display:relative;
	  opacity:0;
	}
	77% {
	  top:-90px;
	  display:relative;
	  opacity:1;
	}
	99% {
	  top:-90px;
	  display:relative;
	  opacity:1;
	}
	100% {
	  top:-90px;
	  display:none;
	  opacity:0;
	}
  }
  
  @keyframes colorChange{
	0% {
	  background-color:#ef5350;
	}
	25% {
	  background-color:#ef5350;
	}
	26% {
	  background-color:#4F759B;
	}
	50% {
	  background-color:#4F759B;
	}
	51% {
	  background-color:#55896F;
	}
	75% {
	  background-color:#55896F;
	}
	76% {
	  background-color:#FDA543;
	}
	100% {
	  background-color:#FDA543;
	}
  }
  @-webkit-keyframes colorChange{
	0% {
	  background-color:#ef5350;
	}
	25% {
	  background-color:#ef5350;
	}
	26% {
	  background-color:#4F759B;
	}
	50% {
	  background-color:#4F759B;
	}
	51% {
	  background-color:#55896F;
	}
	75% {
	  background-color:#55896F;
	}
	76% {
	  background-color:#FDA543;
	}
	100% {
	  background-color:#FDA543;
	}
  }
  @-moz-keyframes colorChange{
	0% {
	  background-color:#ef5350;
	}
	25% {
	  background-color:#ef5350;
	}
	26% {
	  background-color:#4F759B;
	}
	50% {
	  background-color:#4F759B;
	}
	51% {
	  background-color:#55896F;
	}
	75% {
	  background-color:#55896F;
	}
	76% {
	  background-color:#FDA543;
	}
	100% {
	  background-color:#FDA543;
	}
  }
  @-o-keyframes colorChange{
	0% {
	  background-color:#ef5350;
	}
	25% {
	  background-color:#ef5350;
	}
	26% {
	  background-color:#4F759B;
	}
	50% {
	  background-color:#4F759B;
	}
	51% {
	  background-color:#55896F;
	}
	75% {
	  background-color:#55896F;
	}
	76% {
	  background-color:#FDA543;
	}
	100% {
	  background-color:#FDA543;
	}
  }
  @-ms-keyframes colorChange{
	0% {
	  background-color:#ef5350;
	}
	25% {
	  background-color:#ef5350;
	}
	26% {
	  background-color:#4F759B;
	}
	50% {
	  background-color:#4F759B;
	}
	51% {
	  background-color:#55896F;
	}
	75% {
	  background-color:#55896F;
	}
	76% {
	  background-color:#FDA543;
	}
	100% {
	  background-color:#FDA543;
	}
  }
  
  
  @keyframes animationFrames{
	0% {
	  transform: translate(-360px,15px);
	  opacity:0;
	}
	1% {
	  transform: translate(-360px,15px);
	  opacity:1;
	}
	24% {
	  transform: translate(-360px,15px);
	  opacity:1;
	}
	25% {
	  transform: translate(-360px,15px);
	  opacity:0;
	}
	26% {
	  transform: translate(-240px,15px);
	  opacity:0;
	}
	27% {
	  transform: translate(-240px,15px);
	  opacity:1;
	}
	49% {
	  transform: translate(-240px,15px);
	  opacity:1;
	}
	50% {
	  transform: translate(-240px,15px);
	  opacity:0;
	}
	51% {
	  transform: translate(-120px,15px);
	  opacity:0;
	}
	52% {
	  transform: translate(-120px,15px);
	  opacity:1;
	}
	74% {
	  transform: translate(-120px,15px);
	  opacity:1;
	}
	75% {
	  transform: translate(-120px,15px);
	  opacity:0;
	}
	76% {
	  transform: translate(0px,15px);
	  opacity:0;
	}
	77% {
	  transform: translate(0px,15px);
	  opacity:1;
	}
	99% {
	  transform: translate(0px,15px);
	  opacity:1;
	}
	100% {
	  transform: translate(0px,15px);
	  opacity:0;
	}
  }
  
  
  
  @-moz-keyframes animationFrames{
	0% {
	  transform: translate(-480px,15px)  ;
	}
	20% {
	  transform: translate(-480px,15px)  ;
	}
	21% {
	  transform: translate(-360px,15px)  ;
	}
	40% {
	  transform: translate(-360px,15px)  ;
	}
	41% {
	  transform: translate(-240px,15px)  ;
	}
	60% {
	  transform: translate(-240px,15px)  ;
	}
	61% {
	  transform: translate(-120px,15px)  ;
	}
	80% {
	  transform: translate(-120px,15px)  ;
	}
	81% {
	  transform: translate(0px,15px)  ;
	}
	100% {
	  transform: translate(0px,15px)  ;
	}
  }
  
  @-webkit-keyframes animationFrames {
  
	0% {
	  transform: translate(-360px,15px);
	  opacity:0;
	}
	1% {
	  transform: translate(-360px,15px);
	  opacity:1;
	}
	24% {
	  transform: translate(-360px,15px);
	  opacity:1;
	}
	25% {
	  transform: translate(-360px,15px);
	  opacity:0;
	}
	26% {
	  transform: translate(-240px,15px);
	  opacity:0;
	}
	27% {
	  transform: translate(-240px,15px);
	  opacity:1;
	}
	49% {
	  transform: translate(-240px,15px);
	  opacity:1;
	}
	50% {
	  transform: translate(-240px,15px);
	  opacity:0;
	}
	51% {
	  transform: translate(-120px,15px);
	  opacity:0;
	}
	52% {
	  transform: translate(-120px,15px);
	  opacity:1;
	}
	74% {
	  transform: translate(-120px,15px);
	  opacity:1;
	}
	75% {
	  transform: translate(-120px,15px);
	  opacity:0;
	}
	76% {
	  transform: translate(0px,15px);
	  opacity:0;
	}
	77% {
	  transform: translate(0px,15px);
	  opacity:1;
	}
	99% {
	  transform: translate(0px,15px);
	  opacity:1;
	}
	100% {
	  transform: translate(0px,15px);
	  opacity:0;
	}
  }
  
  @-o-keyframes animationFrames {
	0% {
	  transform: translate(-360px,15px);
	  opacity:0;
	}
	1% {
	  transform: translate(-360px,15px);
	  opacity:1;
	}
	24% {
	  transform: translate(-360px,15px);
	  opacity:1;
	}
	25% {
	  transform: translate(-360px,15px);
	  opacity:0;
	}
	26% {
	  transform: translate(-240px,15px);
	  opacity:0;
	}
	27% {
	  transform: translate(-240px,15px);
	  opacity:1;
	}
	49% {
	  transform: translate(-240px,15px);
	  opacity:1;
	}
	50% {
	  transform: translate(-240px,15px);
	  opacity:0;
	}
	51% {
	  transform: translate(-120px,15px);
	  opacity:0;
	}
	52% {
	  transform: translate(-120px,15px);
	  opacity:1;
	}
	74% {
	  transform: translate(-120px,15px);
	  opacity:1;
	}
	75% {
	  transform: translate(-120px,15px);
	  opacity:0;
	}
	76% {
	  transform: translate(0px,15px);
	  opacity:0;
	}
	77% {
	  transform: translate(0px,15px);
	  opacity:1;
	}
	99% {
	  transform: translate(0px,15px);
	  opacity:1;
	}
	100% {
	  transform: translate(0px,15px);
	  opacity:0;
	}
  }
  @-ms-keyframes animationFrames {
	0% {
	  transform: translate(-360px,15px);
	  opacity:0;
	}
	1% {
	  transform: translate(-360px,15px);
	  opacity:1;
	}
	24% {
	  transform: translate(-360px,15px);
	  opacity:1;
	}
	25% {
	  transform: translate(-360px,15px);
	  opacity:0;
	}
	26% {
	  transform: translate(-240px,15px);
	  opacity:0;
	}
	27% {
	  transform: translate(-240px,15px);
	  opacity:1;
	}
	49% {
	  transform: translate(-240px,15px);
	  opacity:1;
	}
	50% {
	  transform: translate(-240px,15px);
	  opacity:0;
	}
	51% {
	  transform: translate(-120px,15px);
	  opacity:0;
	}
	52% {
	  transform: translate(-120px,15px);
	  opacity:1;
	}
	74% {
	  transform: translate(-120px,15px);
	  opacity:1;
	}
	75% {
	  transform: translate(-120px,15px);
	  opacity:0;
	}
	76% {
	  transform: translate(0px,15px);
	  opacity:0;
	}
	77% {
	  transform: translate(0px,15px);
	  opacity:1;
	}
	99% {
	  transform: translate(0px,15px);
	  opacity:1;
	}
	100% {
	  transform: translate(0px,15px);
	  opacity:0;
	}
  }
  
/*******====== 20-20 Report Page ======******/

.ReportForm .row.ReptMrg{
	margin-right: 0px;
	margin-left: 10px;
}
.ReportForm .ReptPad{
	padding-right: 10px;
	padding-left: 0px;
}
.ReportForm .ReptPad10{
	padding-right: 10px;
	padding-left: 0px;
}
.ReportForm label{
	font-size: 12px;
	font-weight: 600;
}
.ReportForm .form-control{
	font-size: 12px;
	padding: .375rem .55rem;
}
.ReportForm .custom-select{
	-moz-appearance:none;
	-webkit-appearance:none;
	appearance:none;
	background-repeat: no-repeat;
	background-size: 10px 8px;
	background-image: url("../assets/images/select-icon.png");
	padding-right:28px; 
}
.ReportForm .form-control:focus {
    box-shadow: none;
}
.thm-btn{
	color: #fff;
	background-color: #00AAF7;
	border-color: #00AAF7;
	border-radius: 20px;
	padding: 0px 20px;
	width: 100%;
	max-width: 128px;
	margin-top:25px; 
}
.ThmBtn{	
	color: #fff;
	background-color: #00AAF7;
	border-color: #00AAF7
}
.thm-btn:focus,
.ThmBtn:focus{
	box-shadow: none;
}
.StoreTxt h2{
	color: #040404;
	font-weight: 600;
	text-transform: capitalize;
	font-size: 18px;
}
.light-bg.bg-pd{
	padding: 10px 0.58em;
}
.ReportForm.FormFliter{
	padding: 12px 15px;
	min-height: 370px;
	border: 1px #ccc solid;
}
.ReportForm.FormFliter label{
	font-size: 13px;
}
p.totxt{
	color: #686868;
	margin-top: 4px;
	font-size: 14px;
}
.custom-radio [type="radio"]:checked,
.custom-radio [type="radio"]:not(:checked) {
    display: none;
}
.custom-radio [type="radio"]:checked + label,
.custom-radio [type="radio"]:not(:checked) + label{
	position: relative;
	padding-left: 25px;
	cursor: pointer;
	line-height: 17px;
	display: inline-block;
	color: #333;
	margin-right: 15px;
	font-size: 11px;
}
.custom-radio [type="radio"]:checked + label:before,
.custom-radio [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.custom-radio [type="radio"]:checked + label:after,
.custom-radio [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #00AAF7;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.custom-radio [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.custom-radio [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.NoData{
	padding: 20px;
	border: #cccccc dotted;
}
.NoData img{
	width: 100%;
	max-width: 70px;
}
.NoData h4{
	color: #040404;
	font-weight: 600;
	font-size: 16px;
	margin-top: 16px;
	text-transform: uppercase;
}
.MinHeaght{
	min-height: calc(100vh - 134px);	
}
.Clear-Modal .modal-header{
	color: #fff;
	padding: 8px 12px;
	background-color: #00aaf7;
	border-top-left-radius: .2rem;
	border-top-right-radius: .2rem;
}
.Clear-Modal .modal-header h5{
	font-size: 19px;
	font-weight: 500;
}
.Clear-Modal .modal-header .close{
	padding: 0;
	margin: 0; 
}
.Clear-Modal .modal-header .close:focus{
	outline: 0;
	box-shadow: none;
}
.Clear-Modal .modal-body img{
	width: 100%;
	max-width: 70px;
}
.Clear-Modal .modal-body h5{
	font-size: 15px;
	margin-top: 10px;
	color: #333;
	font-weight: 600;
}

.CP {
	cursor: pointer;
}
@media screen and (min-width:320px) and (max-width:500px)  {
	.ReportForm.FormFliter .DateRange .form-row{
		display: block;
	}
	.ReportForm.FormFliter .DateRange .form-row .col-1{
		max-width: 18%;
		margin-bottom: 2px;
	}
}
/*******====== Responsive ======******/

@media screen and (min-width:992px) and (max-width:1180px)  {
	.ReportForm .form-control {
    	font-size: 9px;
	}
}
@media screen and (max-width:991px) {
	.header_main{
		padding: 20px 0px;
	}
	.SettingSec{
		position: absolute;
		top: 0;
		right: 84px;
		margin: 0 !important;	
	}
	.header_main .navbar-nav li.nav-item a{
		padding: 10px;
	}
	.ReportForm .thm-btn{
		margin-top:0px; 
	}
}

@media screen and (max-width:767px) {
	.ReportForm .row.ReptMrg{
		margin-right: 0px;
		margin-left: 10px;
	}
	.pl-0.addPl-15{
		padding-left: 15px!important;
	}
	.pl-0.addPR-15{
		padding:0!important; 
	}
	.ReportForm.FormFliter{
		margin-bottom: 10px;
	}
	.Pl-Lable .label{
		margin-bottom: 8px; 
	}
}
@media screen and (max-width:575px) {
	.rsmb-10{
		margin-bottom: 10px;
	}
	.ReportForm .ReptPad10{
		padding-right: 0px;
	}
	.ReptPad10.padd10{
		padding-right: 10px;
	}
}
@media screen and (max-width:420px) {
	.SettingNav .nav-link{
		width: 20px;
		height: 20px;
	}
	.logo-main img {
	  max-width: 100px!important;
	}
}
@media screen and (min-width: 768px) and (max-width:860px) {
	.SalesTxt .PreSec h5{
		font-size: 16px;
	}
}	
@media screen and (min-width: 381px) and (max-width:767px) {
	.demo-right h4 span{
		top: 15px;
	}
}
@media screen and (min-width: 320px) and (max-width:460px) {
	.SettingMenu > ul{
		width: 220px;
	}
}
@media screen and (min-width: 320px) and (max-width: 380px) {
	.demo-right p.SalPra span{
		color: #333;
		font-size: 16px;
	}
	.demo-right h4 span {
		top: 9px;
	}
}