.modal-header{    background: #353743;
    color: #fff !important;
    padding: 10px; border-radius:0;}
.modal-header h4 {color:#fff;}    
.modal {border-radius:0;}
.modal-content { border-radius:0; }
.modal-header .close {
    padding: 0;
    margin: -0.5rem 0rem -0.5rem auto;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: #fff;
    font-weight: 500;
    font-size: 37px;
    background: #c42122;
    opacity: 1;
}
.oneline.demo-checkbox label, .oneline.demo-radio-button label {
       min-width: initial;    margin: 0px 15px 15px;}
button:focus {outline: none;}   
.nav-pills .nav-link {
    border-radius: 0;
    background: #f3f3f3;
    border: 1px solid #c6c6c6;
    color: #404040;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: #cccccc;
    color: #404040;
}
.popup-tabs ul.nav.nav-pills.m-t-30.m-b-30 {
    justify-content: center;
} 
.color-bordered-table.muted-bordered-table thead th {
   
    background-color: #353743 !important;
    color: #ffffff;
    padding: 0.2rem;
    font-size: 16px;
    font-weight: 300;
}
.color-bordered-table.muted-bordered-table {
    border: 2px solid #3537431c !important;
}