body {
	background: #fff;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: 'Roboto', helvetica, sans-serif;
	margin: 0;
	overflow-x: hidden;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}
a:hover{
    text-decoration: none;
}
/* ===========================================
  Header
============================================= */
.hdl-profile{
    margin-right: 15px;
 }
 .header-right .head-logout.icon{
     opacity: 0.8;
 }
 .hdl-profile .hdl-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #b6b6b6;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 600;
    line-height: 30px;
    color: #fff;
    text-align: center;
    margin-right: 10px;
 }
 .hdl-profile .hdl-name-info{
    opacity: .8;
    line-height: 18px;
 }
 .hdl-profile .hdl-name {
    text-align: left;
    white-space: nowrap;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
 }
 .hdl-profile .hdl-subname{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    opacity: .65;
 }
 .header-container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    max-width: 100%;
 }
 
 header.header {
    background: #00AAF7;
    height: 44px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
 }
 
 .header-inner {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
 }
 
 .logo-main {
    margin-right: 40px;
 }
 .logo-main {
    margin-right: 40px;
    background: #fff;
    border-radius: 3px;
    min-height: 40px;
    padding: 5px 5px;
}
 .logo-main a {
    display: block;
 }
 
 .logo-main img {
    max-width: 198px;
    max-height: 30px;
 }
 
 
 /*--- Right Menu ----*/
 
 .head-right-menu {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin-right: -5px;
 }
 
 .head-right-menu li.icon a {
    font-size: 16px;
    color: #fff;
    padding: 5px;
    margin: 0 5px;
    position: relative;
    display: block;
 }
 
 .head-right-menu li a:last-child {
    margin-right: 0;
 }
 
 .alert-count {
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    line-height: 14px;
    position: absolute;
    background: #E52A35;
    top: 2px;
    right: 0px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: block;
 }
 
 .header-menu {
    -webkit-flex-grow: 1;
    flex-grow: 1;
 }
 
 .main-menu-wrap {
    -webkit-flex-grow: 1;
    flex-grow: 1;
 }
 
 
 /*----- Main menu -----*/
 
 .header-top-menu {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
 }
 
 li.has-submenu .menu-arrow {
    display: block;
    position: absolute;
    top: 20px;
    right: -5px;
    width: 18px;
    height: 20px;
    background: transparent;
    text-align: center;
    padding: 4px 2px;
    z-index: 2;
    cursor: pointer;
    opacity: .8;
 }
 
 li.has-submenu .menu-arrow:before {
    display: block;
    content: '';
    width: 7px;
    height: 7px;
    margin: 0 auto;
    border-left: solid 2px #fff;
    border-bottom: solid 2px #fff;
    border-radius: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
 }
 
 @media (min-width: 768px) {
    ul.main-menu {
       display: -webkit-flex;
       display: flex;
       -webkit-align-items: center;
       align-items: center;
       margin: 0;
    }
    ul.main-menu>li {
       margin: 0 10px;
       position: relative;
    }
    ul.ctm-menu li.has-submenu>a {
       padding-right: 18px;
    }
    ul.main-menu>li>a {
       font-size: 17px;
       color: #fff;
       line-height: 18px;
       display: block;
       font-weight: 400;
       padding: 11px 10px 0 10px;
       height: 44px;
       position: relative;
       letter-spacing: .5px;
       opacity: .8;
       cursor: pointer;
       -webkit-transition: all 0.3s ease;
       -ms-transition: all 0.3s ease;
       transition: all 0.3s ease;
    }
    ul.main-menu>li>a:after {
       content: '';
       position: absolute;
       bottom: 0;
       left: 0;
       right: 0;
       height: 0;
       visibility: hidden;
       background: #fff;
       -webkit-transition: all 0.3s ease;
       -ms-transition: all 0.3s ease;
       transition: all 0.3s ease;
    }
    ul.main-menu>li.active>a {
       opacity: 1;
    }
    ul.main-menu>li.has-submenu.active .menu-arrow {
       opacity: 1;
    }
    ul.main-menu>li.active>a:after,
    ul.main-menu>li>a:hover:after {
       height: 3px;
       visibility: visible;
    }
    /*---- Submenu -----*/
    li.has-submenu.has-submenu-open>ul.submenu {
       -webkit-transform: scaleY(1);
       -ms-transform: scaleY(1);
       transform: scaleY(1);
       opacity: 1;
       visibility: visible;
    }
    ul.ctm-menu li {
       position: relative;
       list-style: none;
    }
    ul.submenu {
       position: absolute;
       top: 44px;
       left: -26px;
       width: 184px;
       background: #fff;
       border-radius: 3px;
       box-shadow: 0 6px 30px 0 rgba(0, 0, 0, .12);
       max-width: 200px;
       overflow: hidden;
       padding: 0;
       -webkit-transition: all 0.4s ease;
       -ms-transition: all 0.4s ease;
       transition: all 0.4s ease;
       -webkit-transform-origin: top;
       -ms-transform-origin: top;
       transform-origin: top;
       -webkit-transform: scaleY(0.5);
       -ms-transform: scaleY(0.5);
       transform: scaleY(0.5);
       opacity: 0;
       visibility: hidden;
    }
    ul.submenu li {
       border-bottom: solid 1px #f7f3f3;
    }
    ul.submenu li:last-child {
       border-bottom: none;
    }
    ul.submenu li a {
       display: block;
       padding: 12px 15px;
       color: #738190;
       font-size: 13px;
       font-weight: 400;
       width: 100%;
       line-height: 16px;
       -webkit-transition: all 0.3s ease;
       -ms-transition: all 0.3s ease;
       transition: all 0.3s ease;
    }
    ul.submenu li a:hover {
       color: #fff;
       background: #00AAF7;
    }
 }
 
 @media (min-width: 1200px) {
    li.has-submenu:hover>ul.submenu {
       -webkit-transform: scaleY(1);
       -ms-transform: scaleY(1);
       transform: scaleY(1);
       opacity: 1;
       visibility: visible;
    }
 }
 
 @media all and (max-width: 991px) and (min-width: 768px) {
    .logo-main {
       margin-right: 30px;
    }
    .logo-main img {
       max-width: 140px;
    }
    ul.main-menu>li>a {
       font-size: 14px;
       padding-left: 2px;
       padding-right: 2px;
    }
 }
 
 
 /* Menu Toggle */
 
 .menu-toggle {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    display: none;
 }
 
 .menu-toggle-icon {
    width: 26px;
    height: 20px;
    position: relative;
    background: transparent;
    display: inline-block;
    vertical-align: middle;
 }
 
 .menu-toggle-icon:after,
 .menu-toggle-icon:before,
 .menu-toggle-icon>span {
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 10px;
    background: #fff;
    top: 0;
    left: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
 }
 
 .menu-toggle-icon:before {
    top: 16px;
 }
 
 .menu-toggle-icon>span {
    top: 8px;
 }
 
 .menu-toggle-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    background: #000;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
 }
 
 .menu-toggle.menu-toggle-active .menu-toggle-overlay {
    opacity: 0.5;
    visibility: visible;
 }
 
 .menu-toggle-close {
    display: inline-block;
    font-size: 14px;
    color: #777;
    border: solid 1px rgba(255, 255, 255, 0.1);
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 3px;
    line-height: 27px;
    position: absolute;
    right: 5px;
    top: 5px;
    display: none;
 }
 
 
 /* Mobile Menu */
 
 @media (max-width: 767px) {
    body.body-mblmenu-open {
       overflow: hidden;
    }
    .menu-toggle-close {
       display: block;
    }
    .menu-toggle {
       display: block;
    }
    .header.header {
       padding-top: 12px;
    }
    .head-right-menu {
       margin-top: 3px;
    }
    .header-menu {
       display: -webkit-flex;
       display: flex;
       -webkit-align-items: center;
       align-items: center;
    }
    ul.main-menu {
       margin-top: 34px;
    }
    ul.main-menu>li {
       border-bottom: solid 1px rgba(255, 255, 255, 0.07);
       position: relative;
    }
    ul.main-menu>li>a {
       font-size: 13px;
       color: rgba(255, 255, 255, 0.8);
       line-height: 18px;
       display: block;
       font-weight: 400;
       padding: 10px 15px;
       position: relative;
       letter-spacing: .5px;
       cursor: pointer;
       -webkit-transition: all 0.3s ease;
       -ms-transition: all 0.3s ease;
       transition: all 0.3s ease;
    }
    li.has-submenu .menu-arrow {
       display: block;
       position: absolute;
       top: 0;
       right: 0;
       width: 30px;
       height: 38px;
       background: transparent;
       text-align: center;
       padding: 14px 2px;
       z-index: 2;
       cursor: pointer;
       opacity: .7;
    }
    ul.submenu {
       background: #31353e;
       display: none;
    }
    ul.submenu li {
       border-top: solid 1px rgba(255, 255, 255, 0.05);
       padding-left: 22px;
    }
    ul.submenu li a {
       font-size: 13px;
       color: rgba(255, 255, 255, 0.8);
       line-height: 18px;
       display: block;
       font-weight: 400;
       padding: 10px 15px;
       position: relative;
       letter-spacing: .5px;
    }
    .header-top-menu {
       display: block;
       position: fixed;
       left: 0;
       top: 0;
       bottom: 0;
       z-index: 99999;
       background: #252932;
       width: 200px;
       height: 100vh;
       overflow-y: auto;
       -webkit-transition: all 0.6s ease;
       -ms-transition: all 0.6s ease;
       transition: all 0.6s ease;
       -webkit-transform: translateX(-101%);
       -ms-transform: translateX(-101%);
       transform: translateX(-101%);
    }
    .body-mblmenu-open .header-top-menu {
       -webkit-transform: translateX(0);
       -ms-transform: translateX(0);
       transform: translateX(0);
    }
    .head-right-menu {
       -webkit-justify-content: space-between;
       justify-content: space-between;
       margin-right: 0;
       padding: 10px 10px;
    }
    .head-right-menu li.icon a {
       margin: 0;
       color: rgba(255, 255, 255, 0.8);
    }
    /* .logo-main {
       -webkit-flex-grow: 1;
       flex-grow: 1;
    } */
    .menu-toggle {
       -webkit-flex-grow: unset;
       flex-grow: unset;
    }
    .header-menu {
       display: block;
       -webkit-flex-grow: unset;
       flex-grow: unset;
    }
    .logo-main img {
       max-width: 140px;
    }
    header.header {
       height: 48px;
    }
 }
/*=====================================
End Header
======================================*/
.topbar .top-navbar {
    background: #00AAF7;
}
.btn-primary, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
    color: #fff;
    background-color: #00AAF7;
    border: solid 1px #00AAF7;
    box-shadow: none;
}
.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0292d4;
    border: 1px solid #0292d4;
    box-shadow: none;
}
.chart_mt-2 {
    margin-top: .5rem !important;
}
.ctm-select{
    background-image: url(../assets/images/select-icon.png);
    background-position: calc(100% - 10px) center;
    background-size: 10px;
    padding-right: 24px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.filter-section label {
    font-weight: 500;
    color: #555;
}
.navbar-top .navbar-nav{
    margin-left: -10px;
}
body.application div[class^="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}
.topbar .top-navbar .navbar-header .navbar-brand {
    margin-right: 0px;
    padding-bottom: 0px;
    padding-top: 3px;
    padding-left: 19px;
}
/* .loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../assets/images/bar_loader.gif) 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
} */
.inner_loader {
    height: 400px;
    background: url(../assets/images/bar_loader.gif) 50% 50% no-repeat rgb(249,249,249);
}
.important { color: #336699; }
.amcharts-chart-div a {
    display:none !important;
}
.chartdiv {
    width	: 100%;
    height	: 500px;
}
.scatter_chartdiv {
    width	: 100%;
    height	: 700px;
}
.zonechartdiv {
    width: 100%;
    height: 200px;
}
.kpichartdiv {
    width	: 100%;
    height	: 500px;
}
body.application{
    padding: 52px 10px 0;
}	
.dn {display: none;}
.data_container table{
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}
.data_container th {
    background-color: #0292d4;
    color: #ffffff;
    font-weight: normal;
}
.data_container table, th, td{
    border: 1px solid #cdcdcd;
}
.data_container table th,.data_container table td{
    padding: 5px;
    text-align: left;
}
.div_with_no_chart {
    text-align: center;
    border: #cccccc dotted;
    height: 100px;
    line-height: 85px;
}
/******* Multiselect style start here ********/

.multi-select-container {
    display: inline-block;
    position: relative;
    margin-top: .5rem;
}

.multi-select-menu {
    position: absolute;
    left: 0;
    top: 0.8em;
    z-index: 1;
    float: left;
    min-width: 100%;
    background: #fff;
    margin: 1em 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: none;
}

.multi-select-menuitem {
    display: block;
    font-size: 0.875em;
    padding: 0.6em 1em 0.6em 30px;
    white-space: nowrap;
}

.multi-select-menuitem + .multi-select-menuitem {
    padding-top: 0;
}

.multi-select-presets {
    border-bottom: 1px solid #ddd;
}

.multi-select-menuitem input {
    position: absolute;
    /*margin-top: 0.25em;*/
    margin-top: 0px;
    margin-left: -20px;
}

.multi-select-button {
    display: inline-block;
    font-size: 0.875em;
    padding: 0.2em 0.6em;
    /*max-width: 16em;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: -0.5em;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: default;
}

.multi-select-button:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.4em 0.4em 0 0.4em;
    border-color: #999 transparent transparent transparent;
    margin-left: 8.4em;
    vertical-align: 0.1em;
}

.multi-select-container--open .multi-select-menu {
    display: block;
}

.multi-select-container--open .multi-select-button:after {
    border-width: 0 0.4em 0.4em 0.4em;
    border-color: transparent transparent #999 transparent;
}

.multi-select-container--positioned .multi-select-menu {
    /* Avoid border/padding on menu messing with JavaScript width calculation */
    box-sizing: border-box;
}

.multi-select-container--positioned .multi-select-menu label {
    /* Allow labels to line wrap when menu is artificially narrowed */
    white-space: normal;
}
.multi-select-button {
    width: 182px;
    min-height: 32px;
    line-height: 25px;
    color: #555;
    font-size: 14px;
}
/******* Multiselect style end here ********/

/*======================================
Login page
=======================================*/
.login-page img {
    max-width: 100%;
    height: auto;
}
.login-form .form-control {
    display: block;
    width: 90%;
    height: calc(2.25rem + 2px);
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.login-page {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0B4D67;
}
.login-wrap {
    color: #738190;
    font-size: 14px;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    max-width: 384px;
    margin: 0 auto;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #fff;
    padding: 30px 36px;
    padding-bottom: 40px;
    border-radius: 4px;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
 }
.login-logo {
    display: block;
    max-width: 254px;
    margin: 0 auto;
    text-align: center;
}
.login-form {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 33px;
    margin-top: 24px;
}
.login-form .form-group {
    position: relative;
} 
.login-wrap .login-title {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    padding-bottom: 15px;
    margin-bottom: 25px;
} 
.login-form label {
    margin-bottom: .2rem;
} 
.login-form .form-control {
    font-size: 14px;
    padding-left: 27px;
    margin-bottom: 1rem;
} 
.login-form .lf-icon {
    position: absolute;
    top: 0;
    height: 38px;
    width: 28px;
    opacity: 0.8;
    text-align: center;
    font-size: 14px;
    line-height: 38px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn {
    font-size: 14px;
    line-height: 34px;
    letter-spacing: .5px;
    padding: 0 12px;
    border-radius: 3px;
    transition: all 0.3s ease;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0292d4;
    border: 1px solid #0292d4;
    box-shadow: none;
}
.btn:focus, .btn:hover {
    text-decoration: none;
}
.w-100 {
    width: 100% !important;
}
.login-wrap, ::after, ::before {
    box-sizing: border-box;
}
/*.select2-selection, .input-code {
    margin-top:5px;
    width: 100%;
}*/
/*******************
Footer
*******************/
.footer {
	/*bottom: 0;*/
	color: #99abb4;
	left: 0px;
	text-align: center;
	padding: 17px 15px;
	position: absolute;
	right: 0;
	border-top: 1px solid rgba(120, 130, 140, 0.13);
	background: #ffffff;
}
#location_filter_div {
    padding:0px 0px 0 0;
    color:#555;
}
#location_filter_div .fs-wrap { width:100%;}
#location_filter_div .fs-wrap .fs-label-wrap {border:1px solid #aaa; border-radius: 0; height: 30px;  }
.fs-label-wrap {
    border-radius: 6px;
    color: #444;
}
.fs-option-label {
    font-size: 13px!important;
}
.fs-arrow{
    border-top: 5px solid #888 !important;
}
.form-colum{
    margin-left: -5px;
    margin-right: -5px;
}
.form-colum .form-col-6{
    float: left;
    width: 50%;
    padding:0 5px;
}
.filter-section {
    padding: 1em;
    margin: 16px 0px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
}
.fs-label-wrap .fs-label { font-size: 12px; line-height: 17px;}
.filter-section label { font-size: 13px; font-weight: 600; margin-bottom: 8px;}
.filter-section .form-control { 
    font-size: 13px; 
    height: 30px; 
    padding: 0 5px 0 5px;
    box-shadow: none;
    border: 1px solid #aaa;
    border-radius: 0;
    text-transform: capitalize !important;
}
.filter-section .card{
    border: 0;
    padding: 0;
}
.filter-section .card .card-body{
    padding: 0 6px!important;
}
.filter-section .form-group { margin: 0 0 10px; padding:0 5px;} 
.filter-section select.form-control {padding: 0 15px 0 0px; height: 30px;}
.select2-container .select2-selection--single { font-size: 12px; height: 30px; }
.fr{float:right;}
.fl{float:left;}
.kpi-codes-wrap .panel-group{ margin:0;}
.selections {
    width: 50%;
    height: 140px!important;
    overflow: auto;
}
.selection-header-p {
    color:#0000FF;
    text-decoration: underline;
}
.prod-child-p {
    margin-left:15px;
    font-size: 12px;
    margin-bottom: 0px;
}
.loc-child-p {
    margin-left:15px;
    font-size: 12px;
}
.selections p { margin-bottom:0px!important;}

.product_filter_input{
    padding: 4px;
}
.pl5 {padding-left:5px;}
.kpi-filter-btn-row {
    margin-top: 5px;
}
.kpi-leftForm {
    min-height: 370px;
    border: 1px #ccc solid;
    padding-left: 15px;
}
.kpi-codes-wrap {
    min-height: 376px;
    border: 1px #ccc solid;
}

.dash-period-box {
    padding : 10px 0 0 0;
    background: #f1f1f1;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-bottom: solid 1px #d4d2d2;
    max-height: 65px;
    color: #555;
}
.BtnThm .btn{
    max-width: 150px;
    margin-top: 10px; 
}
.dn.data_container{
    padding: 12px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
    margin: 6px -6px;
}
.dn.data_container table{
    margin: 0;
}
.scatter_data_container.dn.data_container table{
    margin: 10px 0px; 
}