body {background-color: rgb(225,228,228)!important;font-family: 'Open Sans', sans-serif!important;-webkit-font-smoothing: antialiased;-webkit-font-smoothing: antialiased;-IE-font-smoothing: antialiased;-o-font-smoothing: antialiased;-moz-font-smoothing: antialiased;text-rendering: optimizeLegibility;-webkit-text-rendering: optimizeLegibility;-moz-text-rendering: optimizeLegibility;-IE-text-rendering: optimizeLegibility;-o-text-rendering: optimizeLegibility;}
h1,h2,h3,h4,h5,h6,p {margin: 0;padding: 0;font-family: 'Open Sans', sans-serif!important;}
ul {padding: 0;}
.header_main{background-image: linear-gradient(-90deg, #1171ef, #11ccef) !important;}
.header_main .navbar {padding: 0;}
.header_main .navbar-nav li.nav-item {margin: 0 12px;}
.header_main .navbar-nav li.nav-item.active a {color: #fff;border-bottom: 2px solid #fff;    }
.header_main .navbar-nav li.nav-item a {color: #fff !important;padding: 20px 10px;font-size: 15px;font-weight: 600;}
.logo-main {margin-right: 40px;background: #fff;border-radius: 3px;min-height: 40px;padding: 5px 5px;}
.logo-main a {display: block;}
.logo-main img {max-width: 198px;max-height: 30px;}
.demo-left .demo-left-1 {border-radius: 4px;box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.09);background-color: #fff;display: flex;justify-content: space-evenly;align-items: center;}
.demo-left .demo-left-2 img, .demo-left-34 img {margin: 0 auto;display: block;}
.demo-left .demo-left-2, .demo-left-34 {background-color: #fff;height: auto;padding: 0.58em;border-radius: 4px; box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.09);}
.demo-left .demo-left-2 p, .demo-left-34 p {font-weight: 600;color:#6a8d91;font-size: 22px;padding-top: 10px;}
.demo-left .demo-left-2 p{
    color: #040404;
    font-size: 16px;
}
.demo-left .demo-left-1 h1 {
    font-size: 24px;
    font-weight: 700;
    color: #6a8d91;
}
.footer{
	background: #fff;
	padding: 12px 0px;
}
.demo-left .demo-left-1 div{position: relative;padding: 20px 5px;-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
/*.demo-left .demo-left-1 div + div {
    position: relative;
    /*margin-left: 40px;
}
/*.demo-left .demo-left-1 div + div::before {content: "";position: absolute;width: 1px;height: 80px;left: -2em;background-color: #ddd;top: -10px;}*/
.demo-left .demo-left-1 p {
    font-size: 14px;
    font-weight: 400;
    color: #666;
    text-align: center;
    margin-bottom: 10px;
    height: 32px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.demo-right {background-color: #fff;width: 100%;padding: 1em;border-radius: 4px;box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);}
/*.demo-right ul {text-align: center;margin: 0;}*/
/*.demo-right ul li {width: 26%;display: inline-block;margin: 6px;}*/
.demo-right .demo-right-1 {display: flex;justify-content: space-between;flex-wrap: wrap;}
.totalmain {display: flex;align-items: center;justify-content: space-evenly;width: 50%;    margin: 4px auto;}
.totalmain .total {color: #455a64;font-size: 20px;font-weight: 600;} 
.totalmain .total span {display: inline-block;}
.d-graphic .d-graphic-circle {color: #6a8d92;width: 104px;height: 102px;background-color: #ebebeb;border-radius: 50pc;display: flex;align-items: center;justify-content: center;font-size: 33px;font-weight: 700;}
.d-graphic h5 {color: #8c979c;text-transform: uppercase;font-size: 15px;font-weight: 400;margin: 2px 0;}
.demo-right p {font-weight: 600;color: #2b2b2b;font-size: 22px;padding-top: 10px;margin: 0 0 0px;padding: 0;}
/* .demo-right h4 {font-weight: 600;color: #010101;font-size: 15px;padding-top: 10px;margin:0px;} */
.demo-right h4 {font-weight: 400;color: #686868;font-size: 24px;padding-top: 6px;margin:0px;position: relative;padding-right: 40px;}
.demo-right h4 span{position: absolute;right: 46px;font-size: 12px;color: #fff;border-radius: .25em;padding: .3em .6em .3em;top: 12px;height: 30px;line-height: 21px;}
.demo-right h4 span.GRn{border-color: #29b765;background: #2ecc71;}
.demo-right h4 span.GREd{border-color: #cf4436;background: #cf4436;}
.demo-right p.SalPra{font-weight: 600;color: #828282;font-size: 13px;margin-top: 11px;margin-bottom: 8px;text-align: left;}
.demo-right p.SalPra span{color: #333;font-size: 20px;}
.d_graph_img {height: 275px;}
.d_graph_img img {margin: 0 auto;display: block;width: 100%;height: 100%;}
/*.demo-right ul.DemoList li h6 {color: #8c979b;text-transform: uppercase;margin-top: 14px;font-weight: 500;}*/
.demo-right ul.DemoList li h6 {
    color: #303030;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 14px;
    font-size: 14px;
}
.sales_p {margin: 10px 0 27px!important;}



/* NEW CSS*/
.demo-right ul.DemoList {list-style: none;padding: 0;margin: 0;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;justify-content: center;}
.demo-right ul.DemoList li {display: inline-block;text-align: center;-ms-flex: 100%;flex: 100%;max-width: 14%;margin-left: 10px;margin-right: 10px;}
.demo-right ul.DemoList li:last-child{ margin-right:0px;}
.demo-right ul.DemoList li .DemoSec{background-color: #fff;box-shadow: 0px 0px 10px #d0cfcf;border-radius: 14px;overflow: hidden;}
.demo-right ul.DemoList li .DemoSec div{padding: 18px 36px;}
.demo-right ul.DemoList li .light-bg{background:#dfe7e8;}
.demo-right ul.DemoList li .rd-bg{background:#f16b68;}
.demo-right ul.DemoList li .Blue-bg{background:#1b82eb;}
.demo-right ul.DemoList li .Grn-bg{background:#36a98a;}
.demo-right ul.DemoList li .yello-bg{background:#f5b225;}
.demo-right ul.DemoList li .Lightblu-bg{background:#25cbf5;}
.demo-right ul.DemoList li h2{ color: #6a8d91;font-weight: 700;}
.demo-right ul.DemoList li .WhitTxt h2,
.demo-right ul.DemoList li .WhitTxt p{ 
    color: #fff;
}
.demo-right ul.DemoList li p{color: #303030;font-size: 14px;font-weight: 400;margin-top:5px;}
/*.back-rec{ background-image:url(../img/back-rec.png);background-position: left; background-repeat:no-repeat;}*/
.demo-left .demo-left-1 {position: relative;overflow: hidden;}
.back-rec:before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    background: #dfe7e8;
    right: 0;
}
.demo-right ul.DemoList li h2 {font-size: 22px;}

/*17-06-2019*/
.light-bg {
    background-color: #fff;
    height: auto;
    padding: 10px 0.58em 20px;
    border-radius: 4px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
}
.SalesTxt{
    width: 100%;
    max-width: 310px;
    margin: 0 auto;
}
.SalesTxt .revTxt{
    padding: 12px 0px;
    border-bottom: 1.5px solid #edeef2;
    width: 100%;
    max-width: 230px;
    margin: 0 auto;
}
.SalesTxt .revTxt h4{
    color: #040404;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SalesTxt .revTxt h4 i{
    margin-right: 8px;
    font-size: 24px; 
}
.SalesTxt .revTxt h4 i.fa-globe-americas{
    color: #639ad2;
}
.SalesTxt .revTxt h4 i.fa-users{
    color: #5fa163;
}
.SalesTxt .revTxt h4 i.fa-comment{
    color: #9d64a8;
}
.SalesTxt .revTxt h4 i.fa-bullhorn{
    color: #faa227;
}
.SalesTxt h2 {
    color: #010101;
    font-size: 47px;
    letter-spacing: 4px;
    font-weight: 800;
    margin: 18px 0px;
    line-height: 1.2;
}
.SalesTxt h2.TxtGrn{
    color: #519854;        
}
.SalesTxt .PreSec {
    width: 100%;
    max-width: 239px;    
    align-items: start;
    justify-content: start;
    display: inline-flex;
}
.SalesTxt .PreSec .Seclft,
.SalesTxt .PreSec .Secrht{
    width: 50%;
}
.SalesTxt .PreSec .Seclft{
    border-right: 1px solid #dae1e7;
    text-align: right; 
    padding-right: 12px;
}
.SalesTxt .PreSec .Secrht{
    text-align: left; 
    padding-left: 12px;
}
.SalesTxt .PreSec h5{
    color:  #494949;
    font-size: 17px;
    font-weight: 700;
}

.SalesTxt .PreSec span.RdClr{
    color: #ec293a;
}
.SalesTxt .PreSec span.GrnClr{
    color: #4fb954;
}
.SalesTxt .PreSec p {
    color: #b5b5b5;
    text-transform: uppercase;
    display: inline-block;
    width: 50%;
    line-height: 12px;
    font-size: 12px;
}
/****************   MEDIA-QUERY START *****************/
@media (max-width:1300px) {
.d-graphic .d-graphic-circle {margin: 0 auto;}
/*.demo-right p {font-size: 14px;}*/
/* .demo-right {text-align: center;} */
.d-graphic h5 {    margin: 6px 0px;font-size: 12px;}
/*.demo-right ul li {margin: 5px;}*/
/* .demo-left .demo-left-1 h1 {font-size: 18px;} */
.demo-left .demo-left-1 div + div::before {left: 0;}
.demo-left .demo-left-1 p {font-size: 12px;}
/*.demo-left .demo-left-2 p, .demo-left-34 p {    font-size: 11px;}*/
.totalmain .total {font-size: 13px;}
/*.demo-left-1 div {width: 48%;display: inline-block;padding: 8px 0;}*/
.d-graphic .d-graphic-circle {font-size: 20px;width: 90px;height: 90px;}
}
@media (max-width:1200px) {
.d-graphic .d-graphic-circle {font-size: 24px;width: 80px;height: 80px;}
.demo-left .demo-left-1 div + div::before {left: 0;}
}


@media (min-width:768px) and (max-width:992px) {
.demo-right .demo-right-1 {display: block;}
}
/* @media (min-width:993px) and (max-width:1250px) {
.demo-right {text-align: center;}

} */
/* @media (max-width:1200px) {
.demo-left .demo-left-1 div + div::before  {left: -1em;}
.d-graphic .d-graphic-circle {font-size: 24px;width: 96px;height: 96px;}
} */
@media (max-width:1150px) {
.totalmain {width: 100%;}
}
@media (max-width:1050px) {
.demo-left .demo-left-1 div + div::before  {display: none;}
/*.demo-left .demo-left-1 {display: block;height: auto;    text-align: center;}*/
.d-graphic .d-graphic-circle {font-size: 20px;width: 75px;height: 75px;}
.demo-right ul li {margin: 1px;}
.d-graphic h5 {margin: 4.5px 0px;}
}
@media (max-width:992px) {
/*    .demo .col-md-8, .demo .col-md-4 {max-width: 100%;flex: auto;}*/
    .demo .col-md-4.col-12.pl-0 {padding-left: 1rem !important;}
    .demo .col-md-4.col-12.pl-2 {padding-left: 1rem !important;}
}

@media (max-width:767px) {
/* .demo-right {text-align: center;}  */
.demo-left .demo-left-1 h1 {font-size: 18px;}
.demo-left .demo-left-1 p {font-size: 11px;}
.demo .col-md-5.col-12.pr-2 {padding-right: 15px !important;}
.demo .col-md-7.col-12.pl-0, .demo .col-md-4.col-12.pl-0 {padding-left: 15px !important;}
.totalmain .total {font-size: 13px;}
.demo-right ul li {margin: 4px;}
.d-graphic h5 {font-size: 11px;}
.demo-right ul.DemoList li h6 { margin-bottom: 12px;}
}
@media (max-width:575px) {
    .demo-left-1 div {width: 49%;}
}
@media (max-width:767px) {
    .SalesTxt{margin: 0 auto 10px;}
}

@media (min-width:320px) and (max-width:991px) {
    .demo-right ul.DemoList li h2 {font-size: 20px;}
    .demo-right ul.DemoList li p {font-size: 12px;}
    .demo-right ul.DemoList li h6 {font-size: 15px;}
}
@media (min-width:768px) and (max-width:991px) {
    /*.demo-right ul.DemoList li .DemoSec {border-radius: 30px;}*/
    .demo-right ul.DemoList li .DemoSec div {padding: 10px;}
}
@media (min-width:992px) and (max-width:1199px) {
    /*.demo-right ul.DemoList li h2 {font-size: 24px;}*/
    .demo-left .demo-left-1 h1 { font-size: 20px;}
    .demo-right ul.DemoList li p {font-size: 13px;}
    .demo-right ul.DemoList li h6 {font-size: 16px;}
}
@media (min-width:575px) and (max-width:767px) {
    .demo-right ul.DemoList li {max-width: 26%;}
}
@media (min-width:320px) and (max-width:574px) {
    .demo-right ul.DemoList li .DemoSec {width: 100%;max-width: 200px;margin: 0 auto;}
    .demo-right ul.DemoList li {-ms-flex: 45%;flex: 45%;max-width: 50%;}
}

@media (min-width:768px) and (max-width:991px) {
    .SalesTxt h2{font-size: 33px;}
    .SalesTxt .revTxt h4 {font-size: 11px;}
    .SalesTxt .revTxt h4 i {font-size: 20px;}
}
@media (min-width:768px) and (max-width:1199px) {
    .SalesTxt h2{font-size: 35px;}
}
/*@media (min-width:992px) and (max-width:1366px) {
    .demo-left-1 div {width: 45%!important;}*/
/*    .demo-left .demo-left-1 h1 {font-size: 18px;}*/
    /*.demo-left .demo-left-1 p {font-size: 12px;}*/
    /*.demo-left .demo-left-1 div + div{margin-left: 12px;}*/
}
/*@media (min-width:1051px) and (max-width:1220px) {
.back-rec:before{width: 73%;}

}
@media (min-width:992px) and (max-width:1051px) {
.back-rec:before {width: 85%;border-bottom: 161px solid #f7f7f7;border-left: 95px solid transparent;}
}*/


/****************   MEDIA-QUERY END *******************/


