
/*
 * Full-page application style
 */

body.application {
  background: #eef5f9;
  padding: 60px 20px 0;
}
body.application > .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
body.application div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
body.application div[class^="col-"] div[class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

body.application hr {
  border-color: #d7d7d7;
  margin: 10px 0;
}


.navbar-inverse {
    background-color: #ffffff;
    border-color: #eef5f9;
}
.navbar-inverse .navbar-nav > li > a,
.navbar .navbar-brand {
      color: #607d8b;
    font-size: 15px;
  text-decoration: none;
      padding: 18px 15px;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #085696;}
.main-nav > li > a:hover {
  border-bottom: 2px solid transparent;
  -webkit-transition: border 300ms ease;
  -o-transition: border 300ms ease;
  transition: border 300ms ease;
  border-bottom-color: white;
}

.return-link, .return-link:focus, .return-link:hover {
  text-decoration: none;
}

.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px;
  -webkit-box-shadow: 4px 6px 9px rgba(0, 0, 0, 0.2);
	box-shadow: 4px 6px 9px rgba(0, 0, 0, 0.2);
}
.chart-wrapper .chart-title {
  border-bottom: 1px solid #d7d7d7;
  color: #666;
  font-size: 14px;
  font-weight: 200;
  padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
  /*min-height: 240px;*/
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}

.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
}

/*new*/
.logo-place img{width: 180px; margin-top:15px;}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    color: #2a67a0;
    background-color: transparent;
}
/*******************
Topbar
*******************/
.topbar {
  position: relative;
  z-index: 50;
  -webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
}
.topbar .top-navbar {
  min-height: 70px;
  max-width:100%;
  margin: 0 auto;
  padding: 0px 15px 0 0;
  border-bottom: solid 1px #ccc;
  background:#3f9df0;
}
.topbar .top-navbar .dropdown-toggle::after {
  display: none;
}
.topbar .top-navbar .navbar-header {
  line-height: 65px;
  text-align: center;
}
.topbar .top-navbar .navbar-header .navbar-brand {
  margin-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    width: 238px;
    margin-top: 13px;
}
.topbar .top-navbar .navbar-header .navbar-brand b {
  line-height: 70px;
  display: inline-block;
}
.topbar .top-navbar .navbar-nav > .nav-item > .nav-link {
padding-left: .75rem;
padding-right: .75rem;
  font-size: 19px;
  line-height: 50px;
}
.topbar .top-navbar .navbar-nav > .nav-item.show {
  background: rgba(0, 0, 0, 0.05);
}
.topbar .profile-pic {
  width: 30px;
  border-radius: 100%;
}
.topbar .dropdown-menu {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  border-color: rgba(120, 130, 140, 0.13);
}
.topbar .dropdown-menu .dropdown-item {
  padding: 7px 1.5rem;
}
.topbar ul.dropdown-user {
  padding: 0px;
  width: 270px;
}
.topbar ul.dropdown-user li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.topbar ul.dropdown-user li.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: rgba(120, 130, 140, 0.13);
}
.topbar ul.dropdown-user li .dw-user-box {
  padding: 10px 15px;
}
.topbar ul.dropdown-user li .dw-user-box .u-img {
  width: 80px;
  display: inline-block;
  vertical-align: top;
}
.topbar ul.dropdown-user li .dw-user-box .u-img img {
  width: 100%;
  border-radius: 5px;
}
.topbar ul.dropdown-user li .dw-user-box .u-text {
  display: inline-block;
  padding-left: 10px;
}
.topbar ul.dropdown-user li .dw-user-box .u-text h4 {
  margin: 0px;
}
.topbar ul.dropdown-user li .dw-user-box .u-text p {
  margin-bottom: 2px;
  font-size: 14px;
}
.topbar ul.dropdown-user li .dw-user-box .u-text .btn {
  color: #ffffff;
  padding: 5px 10px;
  display: inline-block;
}
.topbar ul.dropdown-user li .dw-user-box .u-text .btn:hover {
  background: #e6294b;
}
.topbar ul.dropdown-user li a {
  padding: 9px 15px;
  display: block;
  color: #99abb4;
}
.topbar ul.dropdown-user li a:hover {
  background: #f2f4f8;
  color: #009efb;
  text-decoration: none;
}

.mini-sidebar .top-navbar .navbar-header {
  width: 60px;
  text-align: center;
}

.fixed-menu-magin{    margin-top: 80px;}
.chart-wrapper iframe { max-height: calc(100vh - 230px)}